{% if end_date != blank %} 

<div class="timer {{ color_textbox }}"> 
 {% if section.settings.subtitle != blank %}
       <span class="block text-xs tracking-wider text-center" style="color:{{section.settings.text_color}};">
         {{ subtitle }}
       </span>
   {% endif %}
  <h1 class="timer__title">{{ title }}</h1>
  <div class="subfont_size {{section.settings.title_align}} block text-sm text-center my-2 leading-8 tracking-wider" style="color:{{section.settings.text_color}};">
       {{ description }}
   </div>  

  <div class="timer-display"> 

    <div class="timer-block"> 

      <span class="timer-block__num js-timer-days">00</span> 

      <span class="timer-block__unit">Days</span> 

    </div> 

    <div class="timer-block"> 

      <span class="timer-block__num js-timer-hours">00</span> 

      <span class="timer-block__unit">Hours</span> 

    </div> 

    <div class="timer-block"> 

      <span class="timer-block__num js-timer-minutes">00</span> 

      <span class="timer-block__unit">Minutes</span> 

    </div> 

    <div class="timer-block"> 

      <span class="timer-block__num js-timer-seconds">00</span> 

      <span class="timer-block__unit">Seconds</span> 

    </div> 

  </div> 
<div class="w-full py-6 flex Right_titlebox {{ button_align }}">
   {%- if section.settings.button-text != blank -%}
   <div class="py-2 inline-block">
       <a href="{{ button-url }}"
         class="tracking-widest mx-2 {{ color_button }} {{ button_color_hover }} text-sm text-center outline-none transition duration-100 {{button_size}} {% if section.settings.button_round_off == true %} button_round {% endif %}" style="border:1px solid {{ border_color }}; color:{{border_color}};">
           {{ button-text }}</a>
   </div>
 {% endif %}
 </div>
</div> 

<style> 

  .timer { 

    padding: 10px; 

    margin: 10px 0;

    padding-top:40px !important;

  } 

  .timer--expired { 

    display: none; 

  } 

  .timer__title { 

    text-align: center; 
    color:{{ section.settings.title_color}}

  } 

  .timer-display { 

    width:800px;
    margin: 35px auto;
    display: -webkit-box; 

    display: -ms-flexbox; 

    display: flex; 

    -ms-flex-wrap: wrap; 

        flex-wrap: wrap; 

    -webkit-box-pack: justify; 

        -ms-flex-pack: justify; 

            justify-content: space-between; 

  } 

  .timer-block { 

    position: relative; 

    width: 25%; 

    padding: 0 10px; 

    border-right:1px solid {{section.settings.point_color}};
    

  }

  .timer-block:last-child {
       border-right:none;
   }

  .timer-block__num, 

  .timer-block__unit { 

    display: block; 
     
    text-align: center;

  }

  .timer-block__unit{
    color:{{ section.settings.point_color}};
    font-size:12px;
  }

  .timer-block__num{
    background: white;
   border-radius: 9999px;
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px auto;
    font-size:22px;
    border:4px solid {{section.settings.symbol_border_color}};
  color:{{ section.settings.point_color}};
  }

  @media only screen and (max-width:768px){
     .timer-display { 
   
        width:100%;
        margin: 25px auto;
        display: -webkit-box; 
   
        display: -ms-flexbox; 
   
        display: flex;
       flex-direction:column;
   
        -ms-flex-wrap: wrap; 
   
            flex-wrap: wrap; 
   
        -webkit-box-pack: justify; 
   
            -ms-flex-pack: justify; 
   
         justify-content: center;
       align-items:center;
   
      }


   .timer-block { 

    position: relative; 

    width: 100%; 

    padding: 1rem;

   border:none;

  } 
    
     }

</style> 

<script type="text/javascript"> 

  var second = 1000, 

      minute = second * 60, 

      hour = minute * 60, 

      day = hour * 24; 

  var countDown = new Date('{{- end_date -}}').getTime(), 

      x = setInterval(function() { 

      var now = new Date().getTime(), 

          distance = countDown - now; 

    document.querySelector('.js-timer-days').innerText = Math.floor(distance / (day)), 

      document.querySelector('.js-timer-hours').innerText = Math.floor((distance % (day)) / (hour)), 

    document.querySelector('.js-timer-minutes').innerText = Math.floor((distance % (hour)) / (minute)), 

    document.querySelector('.js-timer-seconds').innerText = Math.floor((distance % (minute)) / second); 

    }, second) 

</script> 

{% endif %} 