<div class="flex flex-wrap md:flex-nowrap md:gap-x-6">
  <div class="w-full md:w-1/2 mb-4 sm:mb-6">
    <label
      for="ContactFormFirstName_{{ form.id }}"
      class="block customer_text_color tracking-wider"
    >
      {{ 'form.first_name' | t }}*
    </label>

    <input
      type="text"
      name="address[first_name]"
      id="ContactFormFirstName_{{ form.id }}"
      value="{{ form.first_name }}"
      class="w-full focus:outline-none customer_border_color"
      required
    >
  </div>

  <div class="w-full md:w-1/2 mb-4 sm:mb-6">
    <label
      for="AddressLastName_{{ form.id }}"
      class="block customer_text_color tracking-wider"
    >
      {{ 'form.last_name' | t }}*
    </label>

    <input
      type="text"
      name="address[last_name]"
      id="AddressLastName_{{ form.id }}"
      value="{{ form.last_name }}"
      class="w-full focus:outline-none customer_border_color"
      required
    >
  </div>
</div>

<div class="mb-4 sm:mb-6">
  <label
    for="AddressCompany_{{ form.id }}"
    class="block customer_text_color tracking-wider"
  >
    {{ 'form.company' | t }}
  </label>

  <input
    type="text"
    name="address[company]"
    id="AddressCompany_{{ form.id }}"
    value="{{ form.company }}"
    class="w-full focus:outline-none customer_border_color"
  >
</div>

<div class="mb-4 sm:mb-6">
  <label
    for="AddressAddress1_{{ form.id }}"
    class="block customer_text_color tracking-wider"
  >
    {{ 'form.address' | t }}*
  </label>

  <input
    type="text"
    name="address[address1]"
    id="AddressAddress1_{{ form.id }}"
    value="{{ form.address1 }}"
    class="w-full focus:outline-none customer_border_color"
    required
  >
</div>

<div class="mb-4 sm:mb-6">
  <label
    for="AddressAddress2_{{ form.id }}"
    class="block customer_text_color tracking-wider"
  >
    {{ 'form.apartment' | t }}
  </label>

  <input
    type="text"
    name="address[address2]"
    id="AddressAddress2_{{ form.id }}"
    value="{{ form.address2 }}"
    class="w-full focus:outline-none customer_border_color"
  >
</div>

<!-- city country province -->
<div class="flex flex-wrap md:flex-nowrap md:gap-x-6">
  <div class="w-full md:w-1/3 mb-4 sm:mb-6">
    <label
      for="AddressCity_{{ form.id }}"
      class="block customer_text_color tracking-wider"
    >
      {{ 'form.city' | t }}*
    </label>

    <input
      type="text"
      name="address[city]"
      id="AddressCity_{{ form.id }}"
      value="{{ form.city }}"
      class="w-full focus:outline-none customer_border_color"
      required
    >
  </div>

  <div class="w-full md:w-1/3 mb-4 sm:mb-6">
    <label
      for="address_country_{{ form.id }}"
      class="block customer_text_color tracking-wider"
    >
      {{ 'form.country' | t }}*
    </label>

    <select
      name="address[country]" 
      id="address_country_{{ form.id }}"
      value="{{ form.country }}"
      data-country-selector
      data-id="{{ form.id }}"
      class="w-full h-12  px-3 py-2 customer_border_color"
      required
    >
      {{ all_country_option_tags }}
    </select>
  </div>

  <div class="w-full md:w-1/3 mb-4 sm:mb-6">
    <label
      for="address_province_{{ form.id }}"
      class="block customer_text_color tracking-wider"
    >
      Province
    </label>

    <select
      name="address[province]" 
      id="address_province_{{ form.id }}"
      value="{{ form.province }}"
      class="w-full h-12 customer_border_color px-3 py-2"
    >
    </select>
  </div>
</div>

<div class="mb-4 sm:mb-6">
  <label
    for="AddressZip_{{ form.id }}"
    class="block customer_text_color tracking-wider"
  >
    {{ 'form.zip_code' | t }}*
  </label>

  <input
    type="text" 
    name="address[zip]" 
    id="AddressZip_{{ form.id }}"
    value="{{ form.zip }}"
    class="w-full focus:outline-none customer_border_color"
    required
  >
</div>

<div class="mb-6 sm:mb-10">
  <label
    for="AddressPhone_{{ form.id }}"
    class="block customer_text_color tracking-wider"
  >
    {{ 'form.phone' | t }}
  </label>

  <input
    type="tel"
    name="address[phone]"
    id="AddressPhone_{{ form.id }}"
    value="{{ form.phone }}"
    class="w-full focus:outline-none customer_border_color"
  >
</div>

<div class="mb-4 sm:mb-6">
  <label for="address_form_{{ form.id }}" class="checkbox customer_text_color tracking-wider">
    <input type="checkbox" name="address[default]" id="address_form_{{ form.id }}" value="1" {% if customer.default_address == blank %}checked{% endif %}>
    {{ 'customer.addresses.set_as_default_address' | t }}
  </label>
</div>

<div class="flex flex-col md:flex-row justify-between md:items-center">
  <div class="flex flex-col md:flex-row gap-3 md:gap-4">
    <button 
      type="submit"
      class="customer_button_color customer_button_border px-5 py-2 tracking-wider">
      {% if form.id %}
        {{ 'action.update_address' | t }}
      {% else %}
        {{ 'action.add_new_address' | t }}
      {% endif %}
    </button>

    <button
      type="reset"
      x-on:click="new_address = false"
      class="customer_button_border px-5 py-2 tracking-wider"
    >
      {{ 'action.cancel' | t }}
    </button>
  </div>

  <div class="text-sm text-gray-600 mt-8 md:mt-0 customer_point_color tracking-wider">
    * {{ 'form.required' | t }}
  </div>
</div>