<style>
  
.badge_design {
<<<<<<< HEAD
  background-color: {{ settings.product_badge_color }};
  color:{{ settings.badge_font }};
=======
  background-color: {{  settings.product_badge_color }};
  color:{{settings.badge_font }};
>>>>>>> 85654d2464565174a20afee8bee16bae4fdf30a0
  border: 1px solid {{ settings.badge_border }};
}


.wishlist_button{
<<<<<<< HEAD
  background-color: {{ settings.wl_bg_color }};
  border: 0.5px solid {{ settings.wl_border_color }};
=======
  background-color: {{settings.wl_bg_color}};
  border: 0.5px solid {{settings.wl_border_color}};
>>>>>>> 85654d2464565174a20afee8bee16bae4fdf30a0
  
}
  
</style>

<div class="relative flex flex-col">
  

 <div class="flex justify-end">
   {% if settings.qv_quantity_setting == true %}
  <div class="quick-view-button icon rounded-full relative top-[50px] right-[20px] flex justify-end z-10 cursor-pointer p-2 quickview_button">
    <a class="quick-view" data-handle="{{ product.handle }}" href="javascript:;" >
    {%- render 'icon-view', product: product -%}
    </a>
  </div>
  {% endif %}

   {% if settings.wishlist_settings == true %}
  <div class="relative top-[50px] right-[10px] flex justify-end z-10 bg-white rounded-full p-2 wishlist_button">
        {%- render 'button-wishlist', product: product -%}
  </div>
    {% endif %}
    
</div>
  <a href="{{ product.url | within: collection }}" class="block group block relative grid-view-item__link {% if product.images.size > 1 %} has-secondary{% endif %}">
    <img sizes="(min-width: 768px) 450px,630px"
<<<<<<< HEAD
          srcset="{{ product.featured_image.src | image_url: width: 450 }} 450w,
                  {{ product.featured_image.src | image_url: width: 630 }} 630w" 
                  src="{{ product.featured_image.src | image_url: width: 630 }}" 
=======
          srcset="{{ product.featured_image.src | img_url: '450x' }} 450w,
                  {{ product.featured_image.src | img_url: '630x' }} 630w" 
                  src="{{ product.featured_image.src | img_url: '630x' }}" 
>>>>>>> 85654d2464565174a20afee8bee16bae4fdf30a0
                  alt="{{ product.featured_image.alt | escape }}" 
                  loading="lazy"
                  width="{{ product.featured_image.width }}"
                  height="{{ product.featured_image.height }}"
                  class="w-full object-cover object-center rounded-sm {% if mouseover_image == true %}grid-view-item__image {% endif %}">
    {% if mouseover_image == true %}
    {% if product.images.size > 1 %} 
      <img class="secondary w-full h-full object-cover object-center rounded-sm"
        sizes="
          (min-width: 768px) 450px,
          630px
        "
        srcset="
<<<<<<< HEAD
          {{ product.images.last | image_url: width: 450 }} 450w,
          {{ product.images.last | image_url: width: 630 }} 630w
        "
        width="{{ product.images.last.width }}"
        height="{{ product.images.last.height }}"
        src="{{ product.images.last | image_url: width: 630 }}"
=======
          {{ product.images.last | img_url: '450x' }} 450w,
          {{ product.images.last | img_url: '630x' }} 630w
        "
        width="{{ product.images.last.width }}"
        height="{{ product.images.last.height }}"
        src="{{ product.images.last | img_url: '630x' }}"
>>>>>>> 85654d2464565174a20afee8bee16bae4fdf30a0
        alt="{{ product.images.last.alt | escape }}"
        > 
     {% endif %}
    {% endif %}
    {% if product.price < product.compare_at_price %}
      <div class="text-sm tracking-wider uppercase absolute top-[11px] left-[-11px] px-[1rem] py-1 badge_design">
        {{ 'common.sale' | t }}
      </div>
    {% endif %}    
  </a>

<<<<<<< HEAD
  <div class="{{ product_title }} mt-4" style="color: {{ product_title_color }};">
=======
  <div class="{{product_title}} mt-4" style="color: {{product_title_color}};">
>>>>>>> 85654d2464565174a20afee8bee16bae4fdf30a0

    {% if vendor_set == true %}
      <a href="{{ product.url | within: collection }}" class="block text-xs">
        {{ product.vendor }}
      </a>
    {% endif %}



    <div class="flex flex-col sm:flex-row justify-between">
    {% if product.title %}
      <div>
<<<<<<< HEAD
        <a href="{{ product.url | within: collection }}" class="font-bold" style="font-size: {{ product_font_size }}rem;">
        {{ product.title | strip_html | truncate: 20 }}
=======
        <a href="{{ product.url | within: collection }}" class="font-bold" style="font-size: {{product_font_size}}rem;">
        {{ product.title | strip_html | truncate: 20}}
>>>>>>> 85654d2464565174a20afee8bee16bae4fdf30a0
        </a>
      </div>
      
    {% endif %}

    {%- if show_rating -%}
    {% liquid
      assign rating_decimal = 0
      assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
      if decimal >= 0.3 and decimal <= 0.7
        assign rating_decimal = 0.5
      elsif decimal > 0.7
        assign rating_decimal = 1
      endif
    %}
      <div>
        {% if product.metafields.reviews.rating_count > 0 %}
        <div class="rating" role="img" aria-label="{{ 'star review' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
          <span class="no-rating" >
           {{ product.metafields.reviews.rating.value.rating | floor }}
           </span>
        </div>
  
          {%else%}
          <div class="rating" role="img" aria-label="{{ 'star review' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
            <span aria-hidden="true" class="no-rating" 
            style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }};
             --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; 
             --rating-decimal: {{ rating_decimal }};">
             0
             </span>
          </div>
        {% endif %}
      </div>
<<<<<<< HEAD
    {% endif %}
    </div>

    {%- comment -%} line 2 - Metafield option box {%- endcomment -%}
    {% if show_symbol == true %}
=======
    {%endif%}
    </div>

    {%- comment -%} line 2 - Metafield option box {%- endcomment -%}
    {% if show_symbol  == true  %}
>>>>>>> 85654d2464565174a20afee8bee16bae4fdf30a0
    <div class="relative">
      
        <ul class="flex justify-between gap-[0.5rem] py-2 text-xs text-center">

            {%- if product.metafields.custom.symbol_first.value != blank -%}
            <li class="metafield_icons text-xs tracking-wider flex flex-col w-full md:flex-row justify-evenly items-center rounded-sm py-1"
                
            >
<<<<<<< HEAD
                <span class="slider_symbol p-0">{{ iconbox1 }}  </span>
=======
                <span class="slider_symbol p-0">{{iconbox1}}  </span>
>>>>>>> 85654d2464565174a20afee8bee16bae4fdf30a0
                <span class="slider_symbol p-0"> {{ product.metafields.custom.symbol_first.value }} </span>
            </li>
            {%- endif -%}

            {%- if product.metafields.custom.symbol_second.value != blank -%}
            <li class="metafield_icons text-xs tracking-wider flex flex-col w-full md:flex-row justify-evenly items-center rounded-sm py-1"
                
            >
<<<<<<< HEAD
                <span class="slider_symbol p-0"> {{ iconbox2 }} </span>
=======
                <span class="slider_symbol p-0"> {{iconbox2}} </span>
>>>>>>> 85654d2464565174a20afee8bee16bae4fdf30a0
                <span class="slider_symbol p-0">  {{ product.metafields.custom.symbol_second.value }}</span>
            </li>
            {%- endif -%}

            {%- if product.metafields.custom.symbol_third.value != blank -%}
            <li class="metafield_icons text-xs tracking-wider flex flex-col w-full md:flex-row justify-evenly items-center rounded-sm py-1"
                
            >
<<<<<<< HEAD
               <span class="slider_symbol p-1 p-0"> {{ iconbox3 }}</span> 
=======
               <span class="slider_symbol p-1 p-0"> {{iconbox3}}</span> 
>>>>>>> 85654d2464565174a20afee8bee16bae4fdf30a0
            <span class="slider_symbol p-1 p-0">  {{ product.metafields.custom.symbol_third.value }}  </span>
            </li>
            {%- endif -%}
        </ul>
    </div>
  {% endif %}
    {%- comment -%} line 2 - end {%- endcomment -%}


    {% if product.available %}
      <div class="flex flex-row justify-between items-baseline md:items-center gap-2 md:gap-0 py-2">
        <div class="flex items-center">
        
        {% if product.metafields.custom.custom_price.value != blank or product.price == 0 %}
<<<<<<< HEAD
          <span class="text-lg font-bold" {% if product.compare_at_price %} style="color: {{ product_title_color }};" {% endif %}>
          {{ product.metafields.custom.custom_price.value }}
          </span>
        {%- else -%}
            <span class="text-lg font-bold" {% if product.compare_at_price %} style="color: {{ product_point_color }};" {% endif %}>
=======
          <span class="text-lg font-bold" {% if product.compare_at_price %} style="color: {{product_title_color}};" {% endif %}>
          {{ product.metafields.custom.custom_price.value }}
          </span>
        {%- else -%}
            <span class="text-lg font-bold" {% if product.compare_at_price %} style="color: {{product_point_color}};" {% endif %}>
>>>>>>> 85654d2464565174a20afee8bee16bae4fdf30a0
            {{ product.price | money }}
          </span>

          {% if product.compare_at_price %}
            <del class="ml-2 text-sm">
              {{ product.compare_at_price | money }}
            </del>
          {% endif %}
        {%- endif -%}
        </div>

        {%- if product.metafields.custom.promotion.value != blank -%}
          <span class="px-2 py-1 metafield_symbol text-xs">
          {{ product.metafields.custom.promotion.value }}
        </span>
        {%- endif -%}
        
      </div>
       {% else %}
      <div>
        {{ 'common.sold_out' | t }}
      </div>
    {% endif %}
  </div>
</div> 