<style>
#mySidenav::-webkit-scrollbar{
      width: 8px;
     
}

#mySidenav::-webkit-scrollbar-thumb{
      background: {{point_color}};
}

input[type="range"]::-webkit-slider-thumb{
      height: 17px;
      width: 17px;
      pointer-events: auto;
      border-radius: 50%;
      -webkit-appearance: none;
      background: {{point_color}};
}

input[type="range"]::-moz-range-thumb{
      height: 17px;
      width: 17px;
      border: none;
      pointer-events: auto;
      border-radius: 50%;
      -moz-appearance: none;
      background: {{point_color}};
}

input[type="checkbox"]:checked{
      background:{{point_color}};
      border: 1px solid {{point_color}};
}
</style>

<div id="mySidenav" class="{{filter_box_color}} sticky w-[0px] h-[0px] overflow-hidden" style="color: {{filter_font_color}};">
      <div class="absolute right-5 top-0">
            <a class="closebtn text-2xl cursor-pointer relative top-[11px]" onclick="closeNav()">&times;</a>
      </div>
      <div class="py-8 mx-7 items-center">
            <form action="{{ collection.url }}?sort_by={{ collection.sort_by }}" method="get">
                  {%- for filter in collection.filters -%}
                        <div class="filter-group my-4" x-data="{ open : false }">
                              <div class="filter-group-summary inline cursor-pointer" x-on:click="open = ! open">
                                    <div class="py-2">
                                          <span class="flex items-center justify-between tracking-widest">{{ filter.label }}
                                          {%- if filter.active_values.size > 0 -%}
                                          ({{ filter.active_values.size }})
                                          {%- endif -%}
                                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                                          </svg>
                                          </span>
                                    </div>
                              </div>
                              
                              <div class="filter-group-display" 
                              x-transition:enter="transition ease-out duration-300"
                              x-transition:enter-start="opacity-0 translate-y-3"
                              x-transition:enter-end="opacity-100 translate-y-0"
                              x-transition:leave="transition ease-out duration-300"
                              x-transition:leave-start="opacity-100 translate-y-0"
                              x-transition:leave-end="opacity-0 translate-y-3"
                              x-cloak  x-show="open"  x-on:click.away="open = false">
                                    
                                    
                                    {%- case filter.type -%}
                                          {%- when 'boolean' or 'list' -%}
                                                <div class="py-2 filter-group-display__header mt-[1rem]" style="background-color: {{point_color}};">
                                                      <span class="px-2 tracking-wider filter-group-display__header-selected">{{ filter.active_values.size }} selected</span>
                                                            
                                                      {%- if filter.active_values.size > 0 -%}
                                                      <a href="{{ filter.url_to_remove }}" class="filter-group-display__header-reset tracking-wider"> / Reset</a>
                                                      {%- endif -%}
                                                </div>
                                                
                                                <ul class="py-4 filter-group-display__list">
                                                      {%- for filter_value in filter.values -%}
                                                      <li class="filter-group-display__list-item tracking-wider py-2"> 
                                                      <input
                                                            class="form-check-input appearance-none p-0 h-4 w-4 border border-gray-300 rounded-sm bg-white focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                                            type="checkbox"
                                                            name="{{ filter_value.param_name }}"
                                                            value="{{ filter_value.value }}"
                                                            id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                                                            {% if filter_value.active -%}checked{%- endif %}
                                                            {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                                                      >
                                                      <label class="cursor-pointer" for="Filter-{{ filter.param_name }}-{{ forloop.index }}">{{ filter_value.label }}</label>
                                                      </li>
                                                      {%- endfor -%}
                                                </ul>
                                    
                                                <div class="filter-group-display__submit">
                                                      <input class="tracking-wider px-4 py-0 cursor-pointer" type="submit" value="Apply" style="height: 2rem; border: none; background-color: {{point_color}};">
                                                </div>
            
            
                                          {%- when 'price_range' -%}
                                                <div class="filter-group-display__price-range mb-8">
                                                
                                                      <div class="price-input justify-center">
                                                            <div class="field">
                                                                  <label class="block text-center" for="Filter-{{ filter.min_value.param_name }}" style="font-size: 0.8rem;">Min</label>
                                                                  <div class="flex items-center">
                                                                  <span class="m-2">{{ cart.currency.symbol }}</span>
                                                                  <input 
                                                                  type="number"
                                                                  
                                                                  id="Filter-{{ filter.min_value.param_name }}" 
                                                                  class="input-min" 
                                                                  {% if filter.min_value.value -%}
                                                                  value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                                                  {%- endif %}
                                                                  placeholder="0"
                                                                  min="0"
                                                                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                                  style="width: 91px;">
                                                                  </div>
                                                            </div>
                                                            <div class="separator"> - </div>
                                                            <div class="field">
                                                                  <label class="block text-center" for="Filter-{{ filter.max_value.param_name }}" style="font-size: 0.8rem;">Max</label>
                                                                  <div class="flex items-center">
                                                                  <span class="m-2">{{ cart.currency.symbol }}</span>
                                                                  <input
                                                                  
                                                                  id="Filter-{{ filter.max_value.param_name }}"
                                                                  {% if filter.max_value.value -%}
                                                                  value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                                                  {%- endif %}
                                                                  type="number" 
                                                                  class="input-max" 
                                                                  placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                                  min="0"
                                                                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                                  style="width: 91px;">
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="price-slider">
                                                            <div class="progress"></div>
                                                      </div>

                                                      <div class="range-input">
                                                            <input id="Filter-{{ filter.min_value.param_name }}" name="{{ filter.min_value.param_name }}"  
                                                            type="range" 
                                                            class="range-min" 
                                                            step="1" 
                                                            min="0" 
                                                            max="{{ filter.range_max | money_without_currency | replace: ',', '' }}" 
                                                            {% if filter.min_value.value -%}
                                                            value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                                            {% else %}
                                                            value="0"
                                                            {%- endif %}
                                                            >
                                                                  
                                                            <input  id="Filter-{{ filter.max_value.param_name }}" 
                                                            name="{{ filter.max_value.param_name }}" 
                                                            type="range" 
                                                            class="range-max" 
                                                            step="1" 
                                                            min="0" 
                                                            max="{{ filter.range_max | money_without_currency | replace: ',', '' }}" 
                                                            {% if filter.max_value.value -%}
                                                            value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                                            {% else %}
                                                            value="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                            {%- endif %}
                                                            >
                                                      </div>
                                                      <p class="text-xs mt-4">Use Slider or enter min and max price</p>
                                                
                                                </div>
                                    
                                                <div class="filter-group-display__submit">
                                                      <input class="tracking-wider px-4 py-0 cursor-pointer" type="submit" value="Apply" style="height: 2rem; border: none; background-color: {{point_color}};">
                                                </div>
                                    {%- endcase -%}
                              </div>
                        </div>
                  {%- endfor -%}
            </form>
            <hr class="mb-8">
                  <div class="active-filters relative block">
                    <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="active-filters__clear tracking-wider inline-block px-4 py-4 cursor-pointer p-[0.5rem]" style="background-color: {{point_color}};">Clear all</a>
                  
                    {%- for filter in collection.filters -%}
                      {%- if filter.type == "price_range" -%}
                        {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                          <div class="my-4">
                              <a class="mx-2 active-filters__remove-filter block tracking-wider" href="{{ filter.url_to_remove }}">
                                    {%- assign min_value = filter.min_value.value | default: 0 -%}
                                    {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                                    {{ min_value | money }} - {{ max_value | money }} X
                              </a>
                          </div>
                        {%- endif -%}
                      {%- else -%}
                        {%- for filter_value in filter.active_values -%}
                          <div class="my-4">
                              <a class="active-filters__remove-filter block tracking-wider" href="{{ filter_value.url_to_remove }}">
                                    {{ filter.label }}: {{ filter_value.label }} X
                              </a>
                          </div>
                        {%- endfor -%}
                      {%- endif- %}
                    {%- endfor -%}
                  </div>

      </div>

</div>

<script>
      const rangeInput = document.querySelectorAll(".range-input input"),
      priceInput = document.querySelectorAll(".price-input input"),
      progress = document.querySelector(".price-slider .progress");

      let priceGap = 5;

      rangeInput.forEach( input =>{
            input.addEventListener("input", e =>{
                  let minVal = parseInt(rangeInput[0].value),
                  maxVal = parseInt(rangeInput[1].value);

                  if(maxVal - minVal < priceGap ){
                        if(e.target.className==="range-min"){
                              rangeInput[0].value = maxVal - priceGap;
                        }else{
                              rangeInput[1].value = minVal + priceGap;
                        }
                        
                  }else{
                        priceInput[0].value = minVal;
                        priceInput[1].value = maxVal;
                        progress.style.left= (minVal / rangeInput[0].max)* 100 + "%";
                        progress.style.right= 10 - (maxVal / rangeInput[1].max)* 100 + "%";
                  }

                 
            });
      });

      priceInput.forEach( input =>{
            input.addEventListener("input", e =>{
                  let minVal = parseInt(priceInput[0].value),
                  maxVal = parseInt(priceInput[1].value);

                  if(maxVal - minVal >= priceGap ){
                        if(e.target.className === "input-min"){
                              rangeInput[0].value = minVal;
                              progress.style.left= (minVal / rangeInput[0].max)* 100 + "%";
                        }else{
                              rangeInput[1].value = maxVal;
                              progress.style.right= 100 - (maxVal / rangeInput[1].max)* 100 + "%";
                        }
                        
                  }

                  
            });
      });

</script>