
<script src="{{ 'count.js' | asset_url }}" defer="defer"></script>

<div class="qv-product-image w-full lg:w-1/2">
  <div class="qv-product-images" style="opacity: 0"></div>
  <div class="qv-product-thumnail" style="opacity: 0"></div>
</div>

<div class="qv-content w-full md:w-1/2">
  <div class="holder">
    <div class="my-6 md:my-0">
      <h4 class="qv-product-vendor"></h4>
      <h3 class="qv-product-title text-2xl font-bold"></h3>

      {% if settings.qv_price_setting == true %}
      <div class="my-2">
        <h5 class="qv-product-price font-bold text-lg"></h5>
        <h5 class="qv-product-original-price text-sm"></h5>
      </div>
      {% endif %}

      {%- comment -%} Metafield Custom Price for reservation {%- endcomment -%}
      <h5 class="qv-product-price-metafield font-bold text-lg my-2" style="color:{{ settings.qv_text_color }};"></h5>

      
      {%- comment -%} Metafield Symbol {%- endcomment -%}
      {%- if settings.qv_symbol_setting == true -%}
      <div class="metafield_symbols flex flex-col md:flex-row my-2">
        
        <div class="my-2 md:mr-2 qv-product-symbol qv-box1">
          {{ settings.iconbox1 }}
           <h5 class="qv-product-symbol-first-metafield ml-1"></h5>
        </div>

        <div class="my-2 md:mr-2 qv-product-symbol qv-box2">
          {{ settings.iconbox2 }}
        <h5 class="qv-product-symbol-second-metafield ml-1"></h5>
        </div>

        <div class="my-2 md:mr-2 qv-product-symbol qv-box3">
          {{ settings.iconbox3 }}
         <h5 class="qv-product-symbol-third-metafield ml-1"></h5>
        </div>

      </div>
      {%- endif -%}

    </div>

    <div class="qv-add-to-cart">

      {% if settings.qv_quantity_setting == true %}
      <div class="quantity my-4">
        <div class="product-form__item product-form__item--quantity">
            <div class="flex flex-col items-start gap-2">
                          <div class="qty">
                                <div class="qty_control">
                                  <label for="Quantity-{{ section.id }}" style="font-size:0.8rem; color:{{section.settings.base_color}};">Quantity </label>
                                  <div class="qtycard border px-2 bg-white">
                                      <span class="btnqty qtyminus icon icon-minus">-</span>
                                      <input type="text" class="qv-quantity quantity-selector quantity-input" value="1" min="1" readonly="">
                                      <span class="btnqty qtyplus icon icon-plus">+</span>
                                </div>
                                </div>
                          </div> 
            </div>
        </div>
      </div>
      {% endif %}

      <div class="qv-product-options my-6"></div>
      <input type="submit" class="qv-add-button" value="Add to Cart">
      <div class="qv-add-to-cart-response"></div>
    </div>
    <div class="qv-product-description truncate"></div>
  </div>
  <a class="view-product" href=""><span>Product Details</span></a>
</div>

