<style>
  .megamenu_dropdown::-webkit-scrollbar{
      width: 8px;
     
    }

    .megamenu_dropdown::-webkit-scrollbar-thumb{
          background: {{section.settings.nav_font_point}};
    }
</style>

<div class="{{section.settings.color_schema}}">
  <div class="container p-2 overflow-hidden" style="z-index: 999;">
    <div class="flex justify-between {{section.settings.color_schema}}">
      {% assign link_class = 'flex flex-col justify-center items-center text-xs text-gray-600 font-medium p-2' %}
      {% assign icon_class = 'w-auto h-6 text-gray mb-2' %}
  
      <a
        href="{{ routes.search_url }}"
        class="{{ link_class }}"
        style="color: {{section.settings.nav_font_color}};"
      >
        {% render 'icon-search', class: icon_class %}
        {{ 'action.search' | t }}
      </a>
  
      <a
        href="{{ routes.cart_url }}"
        class="{{ link_class }} relative"
        style="color: {{section.settings.nav_font_color}};"
      >
        {% render 'icon-cart', class: icon_class %}
        {{ 'action.cart' | t }}
  
        {% if cart.item_count > 0 %}
          <div class="w-5 h-5 flex justify-center items-center text-xs border border-white rounded-full absolute top-0 right-0" style="background:{{section.settings.badge_color}}; color: {{section.settings.nav_font_point}}; border:1px solid {{section.settings.nav_font_point}};">
            {{ cart.item_count }}
          </div>
        {% endif %}
      </a>
  
      {% if shop.customer_accounts_enabled %}
        <a
          href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}"
          class="{{ link_class }}"
          style="color: {{section.settings.nav_font_color}};"
        >
          {% render 'icon-account', class: icon_class %}
          {{ 'action.account' | t }}
        </a>
      {% endif %}
  
      <div x-data="{ open : false }">
  
        <button  x-on:click="open = ! open" type="button" class="{{ link_class }}" style="color: {{section.settings.nav_font_color}};">
          {% render 'icon-menu', class: icon_class %}
          {{ 'action.menu' | t }}
        </button>
    
        <!-- Mobile Menu Container -->
  
        <div 
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0 translate-x-3"
        x-transition:enter-end="opacity-100 translate-x-0"
        x-transition:leave="transition ease-out duration-300"
        x-transition:leave-start="opacity-100 translate-x-0"
        x-transition:leave-end="opacity-0 translate-x-3"      
        x-show="open" x-cloak class=" {{section.settings.color_schema}} w-full max-w-screen-md h-full md:hidden border-l fixed top-0 right-0 z-50 overflow-hidden m-0">
          <div class="p-4" >
            <button
              x-on:click="open = false"
              class="flex justify-center items-center"
              style="color: {{section.settings.nav_font_color}};"
            >
              {% render 'icon-cancel', class: 'w-6 h-auto mr-1' %}
              <div>
                {{ 'action.close' | t }}
              </div>
            </button>
          </div>
          <div class="p-4">
            <!-- Mobile Manu Container -->
            <nav class="grid gap-y-7">
              {% for link in section.settings.menu.links %}
              {% if link.links != blank %}
              {% assign mobile_link_handle = link.handle | replace: '-', '_' %}
                  <div class="relative" x-data="{ {{mobile_link_handle}}: false }">
                      <button x-on:click = "{{mobile_link_handle}} = ! {{mobile_link_handle}}" class="text-sm tracking-widest flex items-center inline-flex justify-between w-full" style="color: {{section.settings.nav_font_color}};">
                            {{link.title}}
                            {%render 'icon-dropdown'%}
                      </button>
                      <div 
                      x-transition:enter="transition ease-out duration-300"
                      x-transition:enter-start="opacity-0 translate-y-3"
                      x-transition:enter-end="opacity-100 translate-y-0"
                      x-transition:leave="transition ease-out duration-300"
                      x-transition:leave-start="opacity-100 translate-y-0"
                      x-transition:leave-end="opacity-0 translate-y-3"
                      x-show="{{mobile_link_handle}}" class="grid gap-y-5 mt-6 p-4 {{section.settings.sub_color}} ">
                          {% for childlink in link.links %}
                          {% assign link_handle = link.handle | replace: '-', '_' %}
                          <div x-data="{ {{ link_handle }}: false }">
                            <div x-on:click="{{ link_handle }} = ! {{ link_handle }}">
                              {% if childlink.links == blank %}
                                <div class="py-2">
                                  <a href="{{ childlink.url }}" class="px-2 flex submenu_color cursor-pointer tracking-widest text-sm">{{ childlink.title }}</a>
                                </div>
                              {% else %}
                                <div class="flex py-2 justify-between">
                                  <a class="px-2 flex submenu_color cursor-pointer tracking-widest text-sm">{{ childlink.title }}</a>
                                  <div class="submenu_color">
                                    {% render 'icon-dropdown' %}
                                  </div>
                                </div>
                                <div class="ml-4">
                                  {% if childlink.links.size > 0 %}
                                    {% for grandchild_link in childlink.links %}
                                      <p  x-show="{{ link_handle }}"  x-on:click.away="{{ link_handle }} = false" class="text-sm menu-link ml-2 py-3 submenu_color cursor-pointer">
                                        <a class="tracking-widest" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                      </p>
                                    {% endfor %}
                                  {% endif %}
                                </div>
                              {% endif %}
                            </div>
                          </div>
                          {% endfor %}
                      </div>
                  </div>

              {% elsif link.title == settings.nav_link %}
                  <!-- mega menu -->
                  {% assign link_handle = link.handle | replace: '-', '_' %}
                  <div x-data="{ {{ link_handle }}: false }">
                    <button type="button" x-on:click="{{ link_handle }} = ! {{ link_handle }}" class="text-sm tracking-widest flex items-center inline-flex justify-between w-full" style="color: {{section.settings.nav_font_color}};">
                      {{link.title}}
                      {% render 'icon-dropdown' %}
                    </button>
                    <div  x-cloak 
                    x-transition:enter="transition ease-out duration-300"
                    x-transition:enter-start="opacity-0 translate-y-3"
                    x-transition:enter-end="opacity-100 translate-y-0"
                    x-transition:leave="transition ease-out duration-300"
                    x-transition:leave-start="opacity-100 translate-y-0"
                    x-transition:leave-end="opacity-0 translate-y-3"
                     x-show="{{ link_handle }}"  x-on:click.away="{{ link_handle }} = false" class="block w-full m-auto">
                  <!-- code here -->
                  <div>
                    <div class="megamenu_dropdown relative {{section.settings.sub_color}} grid grid-cols-1 gap-4 p-8 items-center overflow-y-scroll mt-6 h-[30rem]">
                      <div class="image_wrapper">
                        <div class="w-full h-48 overflow-hidden">
                          {% if settings.menu_image_first %}
                            <img
                                srcset="{%- if settings.menu_image_first.src.width >= 165 -%}{{ settings.menu_image_first.src | image_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if settings.menu_image_first.src.width >= 360 -%}{{ settings.menu_image_first.src | image_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if settings.menu_image_first.src.width >= 533 -%}{{ settings.menu_image_first.src | image_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if settings.menu_image_first.src.width >= 720 -%}{{ settings.menu_image_first.src | image_url: width: 720 }} 720w,{%- endif -%}
                                  {%- if settings.menu_image_first.src.width >= 1000 -%}{{ settings.menu_image_first.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                                  {%- if settings.menu_image_first.src.width >= 1500 -%}{{ settings.menu_image_first.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                                  {{ settings.menu_image_first.src | image_url }} {{ settings.menu_image_first.src.width }}w"
                                src="{{ settings.menu_image_first.src | image_url: width: 533 }}"
                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                alt="{{ settings.menu_image_first.src.alt | escape }}"
                                class="w-full h-full object-cover object-center inset-0"
                                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                                width="{{ settings.menu_image_firstwidth }}"
                                height="{{ settings.menu_image_first.height }}"
                              >
                          {% endif %}
                          </div>
                        <a href="{{settings.first_image_link}}" class="block py-4 cursor-pointer mega_submenu_color tracking-widest">{{settings.first_image_title}}</a>
                      </div>

                      <div class="image_wrapper">
                        <div class="w-full h-48 overflow-hidden bg-gray-100">
                          {% if settings.menu_image_second %}
                            <img
                                srcset="{%- if settings.menu_image_second.src.width >= 165 -%}{{ settings.menu_image_second.src | image_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if settings.menu_image_second.src.width >= 360 -%}{{ settings.menu_image_second.src | image_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if settings.menu_image_second.src.width >= 533 -%}{{ settings.menu_image_second.src | image_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if settings.menu_image_second.src.width >= 720 -%}{{ settings.menu_image_second.src | image_url: width: 720 }} 720w,{%- endif -%}
                                  {%- if settings.menu_image_second.src.width >= 1000 -%}{{ settings.menu_image_second.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                                  {%- if settings.menu_image_second.src.width >= 1500 -%}{{ settings.menu_image_second.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                                  {{ settings.menu_image_second.src | image_url }} {{ settings.menu_image_second.src.width }}w"
                                src="{{ settings.menu_image_second.src | image_url: width: 533 }}"
                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                alt="{{ settings.menu_image_second.src.alt | escape }}"
                                class="w-full h-full object-cover object-center inset-0"
                                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                                width="{{ settings.menu_image_second.width }}"
                                height="{{ settings.menu_image_second.height }}"
                              >
                          {% endif %}
                          </div>
                          <a href="{{settings.second_image_link}}" class="block py-4 cursor-pointer mega_submenu_color tracking-widest">{{settings.second_image_title}}</a>
                      </div>

                      <div class="image_wrapper">
                        <div class="w-full h-48 overflow-hidden bg-gray-100">
                          {% if settings.menu_image_third %}
                            <img
                                srcset="{%- if settings.menu_image_third.src.width >= 165 -%}{{ settings.menu_image_third.src | image_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if settings.menu_image_third.src.width >= 360 -%}{{ settings.menu_image_third.src | image_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if settings.menu_image_third.src.width >= 533 -%}{{ settings.menu_image_third.src | image_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if settings.menu_image_third.src.width >= 720 -%}{{ settings.menu_image_third.src | image_url: width: 720 }} 720w,{%- endif -%}
                                  {%- if settings.menu_image_third.src.width >= 1000 -%}{{ settings.menu_image_third.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                                  {%- if settings.menu_image_third.src.width >= 1500 -%}{{ settings.menu_image_third.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                                  {{ settings.menu_image_third.src | image_url }} {{ settings.menu_image_third.src.width }}w"
                                src="{{ settings.menu_image_third.src | image_url: width: 533 }}"
                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                alt="{{ settings.menu_image_third.src.alt | escape }}"
                                class="w-full h-full object-cover object-center inset-0"
                                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                                width="{{ settings.menu_image_third.width }}"
                                height="{{ settings.menu_image_third.height }}"
                              >
                          {% endif %}
                          </div>
                          <a href="{{settings.third_image_link}}" class="block py-4 cursor-pointer mega_submenu_color tracking-widest">{{settings.third_image_title}}</a>
                      </div>

                      <ul class="flex flex-col tracking-widest">
                        <a href="{{settings.First_header_link}}" class="mega_header_color py-2 cursor-pointer text-base">
                          {{settings.First_header_title}}
                        </a>
                          <div class="py-2 ml-2 flex flex-col text-sm">
                            <a href="{{settings.menu_link_1}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_1}}</a>
                            <a href="{{settings.menu_link_2}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_2}}</a>
                            <a href="{{settings.menu_link_3}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_3}}</a>
                            <a href="{{settings.menu_link_4}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_4}}</a>
                            <a href="{{settings.menu_link_5}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_5}}</a>
                            <a href="{{settings.menu_link_6}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_6}}</a>
                          </div>
                      </ul>

                      <ul class="flex flex-col tracking-widest">
                        <a href="{{settings.Second_header_link}}" class="mega_header_color py-2 cursor-pointer text-base">
                          {{settings.Second_header_title}}
                        </a>
                          <div class="py-2 ml-2 flex flex-col text-sm">
                            <a href="{{settings.menu_link_7}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_7}}</a>
                            <a href="{{settings.menu_link_8}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_8}}</a>
                            <a href="{{settings.menu_link_9}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_9}}</a>
                            <a href="{{settings.menu_link_10}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_10}}</a>
                            <a href="{{settings.menu_link_11}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_11}}</a>
                            <a href="{{settings.menu_link_12}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_12}}</a>
                          </div>
                      </ul>

                      <ul class="flex flex-col tracking-widest">
                        <a href="{{settings.Third_header_link}}" class="mega_header_color py-2 cursor-pointer text-base">
                          {{settings.Third_header_title}}
                        </a>
                          <div class="py-2 ml-2 flex flex-col text-sm">
                            <a href="{{settings.menu_link_13}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_13}}</a>
                            <a href="{{settings.menu_link_14}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_14}}</a>
                            <a href="{{settings.menu_link_15}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_15}}</a>
                            <a href="{{settings.menu_link_16}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_16}}</a>
                            <a href="{{settings.menu_link_17}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_17}}</a>
                            <a href="{{settings.menu_link_18}}" class="py-2 cursor-pointer mega_submenu_color">{{settings.menu_title_18}}</a>
                          </div>
                      </ul>
                    </div>
                </div>
                    </div>
                  </div>
              {% elsif link.title == settings.photo_link %}
                  <!-- photo menu -->
                  {% assign link_handle = link.handle | replace: '-', '_' %}
                  <div x-data="{ {{ link_handle }}: false }">
                    <button type="button" x-on:click="{{ link_handle }} = ! {{ link_handle }}" class="text-sm tracking-widest flex items-center inline-flex justify-between w-full" style="color: {{section.settings.nav_font_color}};">
                      {{link.title}}
                      {% render 'icon-dropdown' %}
                    </button>
                    <div  x-cloak 
                    x-transition:enter="transition ease-out duration-300"
                    x-transition:enter-start="opacity-0 translate-y-3"
                    x-transition:enter-end="opacity-100 translate-y-0"
                    x-transition:leave="transition ease-out duration-300"
                    x-transition:leave-start="opacity-100 translate-y-0"
                    x-transition:leave-end="opacity-0 translate-y-3"
                     x-show="{{ link_handle }}"  x-on:click.away="{{ link_handle }} = false" class="block w-full">
                  <!-- code here -->
                  <div>
                    <div class="megamenu_dropdown relative {{section.settings.sub_color}} grid grid-cols-1 gap-7 p-8 items-center overflow-y-scroll mt-6 h-[30rem]">

                      <div class="image_wrapper">
                        <div class="w-full h-52 overflow-hidden bg-gray-100">
                          {% if settings.photo_menu_first %}
                            <img
                                srcset="{%- if settings.photo_menu_first.src.width >= 165 -%}{{ settings.photo_menu_first.src | image_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if settings.photo_menu_first.src.width >= 360 -%}{{ settings.photo_menu_first.src | image_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if settings.photo_menu_first.src.width >= 533 -%}{{ settings.photo_menu_first.src | image_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if settings.photo_menu_first.src.width >= 720 -%}{{ settings.photo_menu_first.src | image_url: width: 720 }} 720w,{%- endif -%}
                                  {%- if settings.photo_menu_first.src.width >= 1000 -%}{{ settings.photo_menu_first.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                                  {%- if settings.photo_menu_first.src.width >= 1500 -%}{{ settings.photo_menu_first.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                                  {{ settings.photo_menu_first.src | image_url }} {{ settings.photo_menu_first.src.width }}w"
                                src="{{ settings.photo_menu_first.src | image_url: width: 533 }}"
                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                alt="{{ settings.photo_menu_first.src.alt | escape }}"
                                class="w-full h-full object-cover object-center inset-0"
                                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                                width="{{ settings.photo_menu_first }}"
                                height="{{ settings.photo_menu_first.height }}"
                              >
                          {% endif %}
                          </div>
                          <div class="ml-2">
                            <span class="block pt-3 text-lg tracking-widest"> {{settings.first_collection_title}} </span>
                            <a href="{{settings.first_photo_menu_link}}" class="block pt-1 text-sm cursor-pointer mega_submenu_color tracking-widest">{{settings.first_photo_menu_title}}</a>
                          </div>
                      </div>

                      <div class="image_wrapper">
                        <div class="w-full h-52 overflow-hidden bg-gray-100">
                          {% if settings.photo_menu_second %}
                            <img
                                srcset="{%- if settings.photo_menu_second.src.width >= 165 -%}{{ settings.photo_menu_second.src | image_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if settings.photo_menu_second.src.width >= 360 -%}{{ settings.photo_menu_second.src | image_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if settings.photo_menu_second.src.width >= 533 -%}{{ settings.photo_menu_second.src | image_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if settings.photo_menu_second.src.width >= 720 -%}{{ settings.photo_menu_second.src | image_url: width: 720 }} 720w,{%- endif -%}
                                  {%- if settings.photo_menu_second.src.width >= 1000 -%}{{ settings.photo_menu_second.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                                  {%- if settings.photo_menu_second.src.width >= 1500 -%}{{ settings.photo_menu_second.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                                  {{ settings.photo_menu_second.src | image_url }} {{ settings.photo_menu_second.src.width }}w"
                                src="{{ settings.photo_menu_second.src | image_url: width: 533 }}"
                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                alt="{{ settings.photo_menu_second.src.alt | escape }}"
                                class="w-full h-full object-cover object-center inset-0"
                                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                                width="{{ settings.photo_menu_second.width }}"
                                height="{{ settings.photo_menu_second.height }}"
                              >
                          {% endif %}
                          </div>
                          <div class="ml-2">
                            <span class="block pt-3 text-lg tracking-widest"> {{settings.Second_collection_title}} </span>
                            <a href="{{settings.second_photo_menu_link}}" class="block pt-1 text-sm cursor-pointer mega_submenu_color tracking-widest">{{settings.second_photo_menu_title}}</a>
                          </div>
                         </div>

                      <div class="image_wrapper">
                        <div class="w-full h-52 overflow-hidden bg-gray-100">
                          {% if settings.photo_menu_third %}
                            <img
                                srcset="{%- if settings.photo_menu_third.src.width >= 165 -%}{{ settings.photo_menu_third.src | image_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if settings.photo_menu_third.src.width >= 360 -%}{{ settings.photo_menu_third.src | image_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if settings.photo_menu_third.src.width >= 533 -%}{{ settings.photo_menu_third.src | image_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if settings.photo_menu_third.src.width >= 720 -%}{{ settings.photo_menu_third.src | image_url: width: 720 }} 720w,{%- endif -%}
                                  {%- if settings.photo_menu_third.src.width >= 1000 -%}{{ settings.photo_menu_third.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                                  {%- if settings.photo_menu_third.src.width >= 1500 -%}{{ settings.photo_menu_third.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                                  {{ settings.photo_menu_third.src | image_url }} {{ settings.photo_menu_third.src.width }}w"
                                src="{{ settings.photo_menu_third.src | image_url: width: 533 }}"
                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                alt="{{ settings.photo_menu_third.src.alt | escape }}"
                                class="w-full h-full object-cover object-center inset-0"
                                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                                width="{{ settings.photo_menu_third.width }}"
                                height="{{ settings.photo_menu_third.height }}"
                              >
                          {% endif %}
                          </div>
                          <div class="ml-2">
                            <span class="block pt-3 text-lg tracking-widest"> {{settings.third_collection_title}} </span>
                            <a href="{{settings.third_photo_menu_link}}" class="block pt-1 text-sm cursor-pointer mega_submenu_color tracking-widest">{{settings.third_photo_menu_title}}</a>
                          </div>
                        </div>

                      <div class="image_wrapper">
                        <div class="w-full h-52 overflow-hidden bg-gray-100">
                          {% if settings.photo_menu_forth %}
                            <img
                                srcset="{%- if settings.photo_menu_forth.src.width >= 165 -%}{{ settings.photo_menu_forth.src | image_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if settings.photo_menu_forth.src.width >= 360 -%}{{ settings.photo_menu_forth.src | image_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if settings.photo_menu_forth.src.width >= 533 -%}{{ settings.photo_menu_forth.src | image_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if settings.photo_menu_forth.src.width >= 720 -%}{{ settings.photo_menu_forth.src | image_url: width: 720 }} 720w,{%- endif -%}
                                  {%- if settings.photo_menu_forth.src.width >= 1000 -%}{{ settings.photo_menu_forth.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                                  {%- if settings.photo_menu_forth.src.width >= 1500 -%}{{ settings.photo_menu_forth.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                                  {{ settings.photo_menu_forth.src | image_url }} {{ settings.photo_menu_forth.src.width }}w"
                                src="{{ settings.menu_image_third.src | image_url: width: 533 }}"
                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                alt="{{ settings.photo_menu_forth.src.alt | escape }}"
                                class="w-full h-full object-cover object-center inset-0"
                                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                                width="{{ settings.photo_menu_forth.width }}"
                                height="{{ settings.photo_menu_forth.height }}"
                              >
                          {% endif %}
                          </div>
                          <div class="ml-2">
                            <span class="block pt-3 text-lg tracking-widest"> {{settings.forth_collection_title}} </span>
                            <a href="{{settings.forth_photo_menu_link}}" class="block pt-1 text-sm cursor-pointer mega_submenu_color tracking-widest">{{settings.forth_photo_menu_title}}</a>
                          </div>
                      </div>

                    </div>
                </div>
                    </div>
                  </div>
              {%else%}
                  <a class="text-sm tracking-widest" href="{{ link.url }}" style="color: {{section.settings.nav_font_color}};">{{link.title}}</a>
              {% endif %}
            {% endfor %}
            </nav>
          
          </div>
        </div>
            
      </div>

    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.mobile-navigation.name",
  "class": "mobile-navigation",
  "settings":[
  {
    "type":"select",
    "id":"color_schema",
    "label":"Background color",
    "options":[
       {
          "value":"first_color",
          "label":"First Color"
       },
       {
          "value":"second_color",
          "label":"Second Color"
       },
       {
          "value":"third_color",
          "label":"Third Color"
       },
       {
        "value":"forth_color",
        "label":"Forth Color"
      },
      {
        "value":"fifth_color",
        "label":"Fifth Color"
      },
      {
        "value":"background_transparent",
        "label":"Transparent Color"
      }
    ],
    "default":"second_color"
   },
   {
    "type":"select",
    "id":"sub_color",
    "label":"Submenu color",
    "options":[
      {
          "value":"first_color",
          "label":"First Color"
      },
      {
          "value":"second_color",
          "label":"Second Color"
      },
      {
          "value":"third_color",
          "label":"Third Color"
      },
      {
        "value":"forth_color",
        "label":"Forth Color"
      },
      {
        "value":"fifth_color",
        "label":"Fifth Color"
      }
        ],
        "default":"forth_color"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default" : "main-menu",
      "label": "Heading Navigation Menu"
  },
  {
    "type": "color",
    "id": "nav_font_color",
    "label": "Navigation font color",
    "default": "#6F665D"
  },
  {
    "type": "color",
    "id": "nav_font_point",
    "label": "Navigation Point color",
    "default": "#fff"
  },
  {
    "type": "color",
    "id": "badge_color",
    "label": "Navigation Badge Color",
    "default": "#BAA098"
  }
  ]
}
{% endschema %}