<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<div class="{{section.settings.color_schema}}" style="padding-top:{{section.settings.padding_top}}rem; padding-bottom:{{section.settings.padding_bottom}}rem;">
  <div class="hidden lg:max-w-[1440px] m-auto sm:grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-8  text-center px-4" {% if section.settings.animation_setting == true %} data-aos="fade-up"data-aos-duration="3000"data-aos-duration="1500"data-aos-duration="3000"{% endif %}>
    {% for block in section.blocks %}
      {% if block.settings.collection.image != blank %}
        <div data-section-id="{{ section.id }}" {{ block.shopify_attributes }}>
          <a href="{{ block.settings.collection.url }}">
            <img sizes="
                                    (min-width: 768px) 450px,
                                    400px
                                  " srcset="
                                    {{ block.settings.collection.image | img_url: '275x' }} 275w,
                                    {{ block.settings.collection.image | img_url: '450x' }} 450w
                                  " src="{{ block.settings.collection.image | img_url: '400x' }}" alt="{{ block.settings.collection.image.alt | escape }}" loading="lazy" class="xl:w-80 xl:h-80 m-auto object-cover object-center {% if section.settings.image_round == true %} rounded-t-full {% endif %}">
          </a>

          <div class="my-4">
            <a href="{{ block.settings.collection.url }}" class="text-xl tracking-widest" style="color:{{section.settings.color_collection_title}};">
              {{ block.settings.collection.title | escape }}
            </a>
          </div>
        </div>
      {% else %}

        <div>
          {{ 'product-1' | placeholder_svg_tag: 'border bject-cover object-center rounded-t-full bg-white' }}
        </div>

      {% endif %}
    {% endfor %}
  </div>

  <div class="sm:hidden">
    <div class="collectionSwiper collection_mySwiper overflow-hidden sm:grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-8  text-center py-10 mx-4">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% if block.settings.collection.image != blank %}
            <div class="swiper-slide" data-section-id="{{ section.id }}" {{ block.shopify_attributes }}>
              <a href="{{ block.settings.collection.url }}">
                <img sizes="
                                      (min-width: 768px) 450px,
                                      400px
                                    " srcset="
                                      {{ block.settings.collection.image | img_url: '275x' }} 275w,
                                      {{ block.settings.collection.image | img_url: '450x' }} 450w
                                    " src="{{ block.settings.collection.image | img_url: '400x' }}" alt="{{ block.settings.collection.image.alt | escape }}" loading="lazy" class="xl:w-80 xl:h-80 m-auto object-cover object-center {% if section.settings.image_round == true %} rounded-t-full {% endif %}">
              </a>

              <div class="my-4">
                <a href="{{ block.settings.collection.url }}" class="text-xl tracking-widest" style="color:{{section.settings.color_collection_title}};">
                  {{ block.settings.collection.title | escape }}
                </a>
              </div>
            </div>
          {% else %}

            <div class="swiper-slide" data-section-id="{{ section.id }}" {{ block.shopify_attributes }}>
              {{ 'product-1' | placeholder_svg_tag: 'border bject-cover object-center rounded-t-full bg-white' }}
            </div>

          {% endif %}
        {% endfor %}
      </div>
      <div class="flex justify-between my-4">
        <div class="collection-swiper-button-prev">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="arrow_color w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"/>
          </svg>
        </div>
        <div class="collection-swiper-button-next">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="arrow_color w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"/>
          </svg>
        </div>
      </div>
      <div class="collection_swiper-pagination-list" style="bottom:22px;"></div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Featured Collection List",
    "class": "shopify-section-vue",
    "settings": [
      {
        "type": "select",
        "id": "color_schema",
        "label": "Background color",
        "options": [
          {
            "value": "first_color",
            "label": "First Color"
          },
          {
            "value": "second_color",
            "label": "Second Color"
          },
          {
            "value": "third_color",
            "label": "Third Color"
          },
          {
            "value": "forth_color",
            "label": "Forth Color"
          }, {
            "value": "fifth_color",
            "label": "Fifth Color"
          }, {
            "value": "background_transparent",
            "label": "Transparent Color"
          }
        ],
        "default": "second_color"
      },
      {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top controll",
      "default":4,
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom controll",
      "default":4,
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "rem"
    },
      {
        "type": "checkbox",
        "id": "animation_setting",
        "default": false,
        "label": "Animation turn on"
      }, {
        "type": "checkbox",
        "id": "image_round",
        "default": false,
        "label": "Image Round Top"
      }, {
        "type": "color",
        "id": "color_collection_title",
        "label": "Section title color",
        "default": "#FCF5EF"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "featured collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Collection List",
        "blocks": [
          {
            "type": "featured_collection"
          }, {
            "type": "featured_collection"
          }, {
            "type": "featured_collection"
          }, {
            "type": "featured_collection"
          }
        ]
      }
    ]
  }
{% endschema %}