  <style>
    #local_dropdown::-webkit-scrollbar{
      width: 8px;
     
    }

    #local_dropdown::-webkit-scrollbar-thumb{
          background: #ccc;
    }

  </style>
  
  
<div class="{{section.settings.color_schema}} overflow-hidden">
    <div class="xl:max-w-[1440px] mx-auto flex px-5 py-16 lg:flex-row flex-col">
      <div class="md:w-[23rem] flex-shrink-0 lg:mx-0 mx-auto text-center lg:text-left px-2">
          <a href="{{ routes.root_url }}" class="flex title-font tracking-widest items-center lg:justify-start justify-center">
              {%- if section.settings.logo != blank -%}
              {%- assign image_size_2x = section.settings.logo_width | times: 2 | at_most: 5760 -%}
              <img srcset="{{ section.settings.logo | image_url: width: section.settings.logo_width }} 1x, {{ section.settings.logo | image_url: width: image_size_2x }} 2x"
                src="{{ section.settings.logo | image_url: width: section.settings.logo_width }}"
                loading="lazy"
                class="header__heading-logo"
                width="{{ section.settings.logo.width }}"
                height="{{ section.settings.logo.height }}"
                alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
              >
            {%- else -%}
              <span  class="text-xl" style="color: {{section.settings.footer_title_color}};"> {{ shop.name }}</span >
            {%- endif -%}
          </a>
        <p class="pt-4 text-sm tracking-wider leading-8" style="color: {{section.settings.footer_text_color}};">{{section.settings.description}}</p>
        <span class="inline-flex sm:ml-auto sm:mt-4 mt-2 justify-center sm:justify-start" style="color: {{section.settings.footer_title_color}};">
          {% if
            section.settings.social_instagram_visible or
            section.settings.social_twitter_visible or
            section.settings.social_facebook_visible or
            section.settings.social_youtube_visible
          %}
            <div>
        
              {% render 'layout-social',
                social_instagram_visible: section.settings.social_instagram_visible
                social_instagram_link: section.settings.social_instagram_link
                social_twitter_visible: section.settings.social_twitter_visible
                social_twitter_link: section.settings.social_twitter_link
                social_facebook_visible: section.settings.social_facebook_visible
                social_facebook_link: section.settings.social_facebook_link
                social_youtube_visible: section.settings.social_youtube_visible
                social_youtube_link: section.settings.social_youtube_link
              %}
            </div>
          {% endif %}
        </span>
      



      </div>
      
      <div class="flex-grow flex flex-wrap lg:pl-20 lg:mt-0 mt-10 lg:text-left text-center" style="justify-content: space-around;">
        {% if section.settings.menu_first.links != blank %}
          <div class="{{section.settings.grid_style}}  px-4">
          <h2 class="title-font font-medium tracking-widest text-base" style="color: {{section.settings.footer_title_color}};">
            {{ section.settings.category_first }}
          </h2>
          <nav class="list-none mb-10 ml-1 pt-1">
            {% for link in section.settings.menu_first.links %}
            <div class="mt-4" style="color: {{section.settings.footer_text_color}};">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </div>
            {% endfor %}
          </nav>
          </div>
        {% endif %}
        
        {% if section.settings.menu_second.links != blank %}
          <div class="{{section.settings.grid_style}}  px-4">
            <h2 class="title-font font-medium text-gray-900 tracking-widest text-base" style="color: {{section.settings.footer_title_color}};">
              {{ section.settings.category_second }}
            </h2>
            <nav class="list-none mb-10 ml-1 pt-1">
              {% for link in section.settings.menu_second.links %}
              <div class="mt-4" style="color: {{section.settings.footer_text_color}};">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </div>
              {% endfor %}
            </nav>
          </div>
        {% endif %}

        
        {% if section.settings.menu_third.links != blank %}
          <div class="{{section.settings.grid_style}}  px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-base" style="color: {{section.settings.footer_title_color}};">
            {{ section.settings.category_third }}
          </h2>
          <nav class="list-none mb-10 ml-1 pt-1">
            {% for link in section.settings.menu_third.links %}
            <div class="mt-4" style="color: {{section.settings.footer_text_color}};">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </div>
            {% endfor %}
          </nav>
          </div>
        {% endif %}
      </div>
    </div>
</div>

<div style="background: {{section.settings.footer_point_color}};">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row items-center">

      <p class="text-center sm:text-left" style="color: {{section.settings.footer_title_color}};"> &copy; {{ 'now' | date: "%Y" }} {{ shop.name }}
      </p>

      <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
        {% assign enabled_payment_types = 'visa,master,american_express,paypal' | remove: ' ' | split: ',' %}
        {% for type in enabled_payment_types %}
            {{ type | payment_type_svg_tag: class: 'w-12 h-auto ml-2' }}
          {% endfor %}
      </span>
    </div>
</div>


{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
  {
    "type": "header",
    "content": "Footer Colors",
    "info": "Footer color settings"
  },
  {
    "type":"select",
    "id":"color_schema",
    "label":"Background color",
    "options":[
       {
          "value":"first_color",
          "label":"First Color"
       },
       {
          "value":"second_color",
          "label":"Second Color"
       },
       {
          "value":"third_color",
          "label":"Third Color"
       },
       {
        "value":"forth_color",
        "label":"Forth Color"
      },
      {
        "value":"fifth_color",
        "label":"Fifth Color"
      },
      {
        "value":"background_transparent",
        "label":"Transparent Color"
      }
    ],
    "default":"fifth_color"
   },
   {
    "type": "color",
    "id": "footer_title_color",
    "label": "Footer Title Color",
    "default": "#D2AFAE"
    },
    {
      "type": "color",
      "id": "footer_point_color",
      "label": "Footer Point Color",
      "default": "#D2AFAE"
    },
    {
      "type": "color",
      "id": "footer_text_color",
      "label": "Footer text Color",
      "default": "#D2AFAE"
    },
    {
    "type": "header",
    "content": "Your store Information",
    "info": "Footer settings for your store info"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:common.image"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Information",
      "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos hic praesentium recusandae dolores odio animi deleniti officia cum itaque."
    },
    {
      "type": "header",
      "content": "Link settings",
      "info": "Footer link settings maximum 3"
    },
    {
      "type":"select",
      "id":"grid_style",
      "label":"Grid Style",
      "options":[
         {
            "value":"width_3grid",
            "label":"Grid Style 1"
         },
         {
            "value":"width_2grid",
            "label":"Grid Style 2"
         }
      ],
      "default":"width_3grid"
     },
    {
      "type": "text",
      "id": "category_first",
      "label": "Category First",
      "default": "Category First"
    },
    {
      "type": "link_list",
      "id": "menu_first",
      "default" : "main-menu",
      "label": "Footer Navigation Menu First"
    },
    {
      "type": "text",
      "id": "category_second",
      "label": "Category Second",
      "default": "Category Second"
    },
    {
      "type": "link_list",
      "id": "menu_second",
      "default" : "main-menu",
      "label": "Footer Navigation Menu Second"
    },
    {
      "type": "text",
      "id": "category_third",
      "label": "Category Third",
      "default": "Category Third"
    },
    {
      "type": "link_list",
      "id": "menu_third",
      "default" : "main-menu",
      "label": "Footer Navigation Menu Third"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header.content",
      "info": "t:sections.footer.settings.header.info"
    },
    {
      "type": "header",
      "content": "Instagram"
    },
    {
      "type": "checkbox",
      "id": "social_instagram_visible",
      "label": "t:sections.footer.settings.show-icon"
    },
    {
      "type": "url",
      "id": "social_instagram_link",
      "label": "t:common.link"
    },
    {
      "type": "header",
      "content": "Twitter"
    },
    {
      "type": "checkbox",
      "id": "social_twitter_visible",
      "label": "t:sections.footer.settings.show-icon"
    },
    {
      "type": "url",
      "id": "social_twitter_link",
      "label": "t:common.link"
    },
    {
      "type": "header",
      "content": "Facebook"
    },
    {
      "type": "checkbox",
      "id": "social_facebook_visible",
      "label": "t:sections.footer.settings.show-icon"
    },
    {
      "type": "url",
      "id": "social_facebook_link",
      "label": "t:common.link"
    },
    {
      "type": "header",
      "content": "Youtube"
    },
    {
      "type": "checkbox",
      "id": "social_youtube_visible",
      "label": "t:sections.footer.settings.show-icon"
    },
    {
      "type": "url",
      "id": "social_youtube_link",
      "label": "t:common.link"
    }
  ]
}
{% endschema %}