<style>  
/* LOADING CSS */

.loader{
      position: fixed;
      top:0;
      left:0;
      width:100vw;
      height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      background-color: {{ section.settings.page_bg }}; /* PAGE BACKGROUND COLOR */
      transition: visibility 1s;
      z-index: 999999;
      overflow: hidden;
}

.loader-hidden{
      visibility: hidden;
}


.loader-icon{
      width:100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: {{ section.settings.symbol_bg }};  /* SYMBOL BACKGROUND */
      border-radius: 50%;
      color: {{ section.settings.symbol_color }};  /* SYMBOL COLOR */
}

.loader-icon::after{
      content: "";
      width:100px;
      height: 100px;
      position: absolute;
      border: 10px solid {{ section.settings.load_border_color }}; /* BORDER COLOR */
      border-top-color:{{ section.settings.cycle_color }}; /* CYCLE COLOR */
      border-radius: 50%;
      animation: loading 0.75s ease infinite;
}


@keyframes loading {
      from {
            transform: rotate(0turn);
            transition: 0.3s;
      }to{
            transform: rotate(1turn);
            transition: 0.3s;
      }
}

</style>

{% if section.settings.turn_loading == true %}
      <div class="loader">
            <div class="loader-icon">
                  {{ section.settings.page_icon}}
            </div>
      </div>
{% endif %}

{% if section.settings.turn_loading == true %}
<script>
      
      window.addEventListener("load", ()=>{
            const loader = document.querySelector(".loader");
            loader.classList.add("loader-hidden");

            loader.addEventListener("transitionend", ()=>{
                  document.body.classList.remove("loader");
            });
      });

</script>
{% endif %}

{% schema %}
      {
      "name": "Loading",
      "class": "shopify-section-vue",
      "settings": [
            {
            "type": "header",
            "content": "Loading icon settings"
            },
            {
            "type": "checkbox",
            "id": "turn_loading",
            "default": true,
            "label": "Show loading"
            },
            {
            "type": "html",
            "id": "page_icon",
            "label": "Page Icon",
            "info":"Please copy and paste svg icon file"
            },
            {
            "type": "header",
            "content": "Loading icon colors"
            },
            {
            "type": "color",
            "id": "page_bg",
            "label": "Page background",
            "default": "#fff"
            },
            {
                  "type": "color",
                  "id": "symbol_bg",
                  "label": "Icon background",
                  "default": "#BAA098"
            },
            {
                  "type": "color",
                  "id": "symbol_color",
                  "label": "Icon color",
                  "default": "#BAA098"
            },
            {
                  "type": "color",
                  "id": "load_border_color",
                  "label": "Icon border",
                  "default": "#ddd"
            },
            {
                  "type": "color",
                  "id": "cycle_color",
                  "label": "Cycle line",
                  "default": "#BAA098"
            }
      ]
      }
{% endschema %}