
{% assign image = section.settings.image %}

<div
  class="{{section.settings.color_schema}} flex items-center flex-1 flex-shrink-0 overflow-hidden relative"
  style="padding-top:{{section.settings.padding_top}}rem; padding-bottom:{{section.settings.padding_bottom}}rem;"
  >
  <!-- image - start -->
  {% if image %}
  <img sizes="
  (min-width: 1280px) 1500px,
  (min-width: 1024px) 1250px,
  (min-width: 768px) 1000px,
  (min-width: 640px) 720px,
  600px
" srcset="
  {{ image | img_url: '600x' }} 600w,
  {{ image | img_url: '720x' }} 720w,
  {{ image | img_url: '1000x' }} 1000w,
  {{ image | img_url: '1250x' }} 1250w,
  {{ image | img_url: '1500x' }} 1500w
" src="{{ image | img_url: '1500x' }}" alt="{{ image.alt }}" loading="lazy"
  class="w-full h-full object-cover object-center absolute inset-0 {% if section.settings.overlay_set == true %} bg-gray-300 mix-blend-multiply {%endif%}"
  width="{{ image.width }}"
  height="{{ image.height }}">
  {%else%}
  {% endif %}
  <!-- image - end -->


  <!-- text start -->
  <div class="xl:max-w-[1320px] px-4 md:px-8 m-auto {{section.settings.text_align}}" style="width:1320px;">
    <h1 class="w-full py-4 text-4xl font-bold tracking-widest" style="color: {{section.settings.text_color}};"> {{ section.settings.headline}}</h1>
    <div class="subfont_size py-8 tracking-wider leading-8" style="color: {{section.settings.text_color}};">
      {{ section.settings.description }}
    </div>
  </div>
  <!-- text end -->
</div>


{% schema %}
{
"name": "Page Top Banner",
"settings": [
{
   "type": "header",
   "content": "Banner General",
   "info": "Setting banner image, base color and size"
},
{
   "type":"select",
   "id":"color_schema",
   "label":"Background color",
   "options":[
      {
         "value":"first_color",
         "label":"First Color"
      },
      {
         "value":"second_color",
         "label":"Second Color"
      },
      {
         "value":"third_color",
         "label":"Third Color"
      },
      {
       "value":"forth_color",
       "label":"Forth Color"
     },
     {
       "value":"fifth_color",
       "label":"Fifth Color"
     },
     {
       "value":"background_transparent",
       "label":"Transparent Color"
     }
   ],
   "default":"third_color"
  },
{
"type": "image_picker",
"id": "image",
"label": "Default product image (optional)"
},
{
   "type": "range",
   "id": "padding_top",
   "label": "Padding Top controll",
   "default":11,
   "min": 1,
   "max": 20,
   "step": 1,
   "unit": "rem"
},
{
   "type": "range",
   "id": "padding_bottom",
   "label": "Padding Bottom controll",
   "default":3,
   "min": 1,
   "max": 20,
   "step": 1,
   "unit": "rem"
},
{
  "type": "checkbox",
  "id": "overlay_set",
  "default": true,
  "label": "Overlay cover"
},
{
   "type": "header",
   "content": "Banner Content",
   "info": "Setting banner text and color"
 },
 {
   "type":"select",
   "id":"text_align",
   "label":"Text align",
   "options":[
      {
         "value":"font_left",
         "label":"Left"
      },
      {
         "value":"font_right",
         "label":"Right"
      },
      {
         "value":"font_center",
         "label":"Center"
      }
   ],
   "default":"font_center"
 },
{
  "type": "text",
  "id": "headline",
  "label": "Banner HeadLine",
  "default":"Main Page HeadLine"
},
{
  "type": "richtext",
  "id": "description",
  "label": "Description"
},
{
  "type": "color",
  "id": "text_color",
  "label": "Text box color",
  "default": "#fff"
}
]
}
{% endschema %}