{% assign image = section.settings.image %}
  
<div
  class="max-w-[1320px] m-auto items-center overflow-hidden px-6"
  style="margin-top: {{ section.settings.margin_top }}rem; margin-bottom:{{ section.settings.margin_bottom }}rem;" >
  
  {% if section.settings.show_image == true %}

  <div class=" h-[300px]">
  <!-- image - start -->
  {% if section.settings.image %}

  <img 
      sizes="
      (min-width: 1280px) 1500px,
      (min-width: 1024px) 1250px,
      (min-width: 768px) 1000px,
      (min-width: 640px) 720px " 
      
      srcset="
      {{ image | image_url: width: 600 }} 600w,
      {{ image | image_url: width: 720 }} 720w,
      {{ image | image_url: width: 1000 }} 1000w,
      {{ image | image_url: width: 1250 }} 1250w,
      {{ image | image_url: width: 1500 }} 1500w " 
      
      src="{{ image | image_url: width: 1500 }}" 
      alt="{{ image.alt }}" loading="lazy"
      class="w-full h-full object-cover object-center 
      {% if section.settings.overlay_set == true %} bg-gray-300 mix-blend-multiply {% endif %}"
      width="{{ image.width }}"
      height="{{ image.height }}"
  >
    
  {% else %}

  <div class="max-w-[1320px] h-[300px] m-auto items-center overflow-hidden px-6 bg-gray-100 rounded-md">
    {{ 'lifestyle-1' | placeholder_svg_tag: 'w-full object-center object-cover rounded-md overflow-hidden' }}
  </div>
  
  {% endif %}

  <!-- image - end -->
  </div>

{% endif %}

  <!-- text start -->
  <div class="max-w-[1320px] m-auto px-4 flex flex-col {{ section.settings.text_align }} py-6">
    <h1 class="w-full py-2 text-4xl font-bold tracking-widest" style="color: {{ section.settings.collection_title_color }};"> {{ collection.title }}</h1>
    <div class="subfont_size py-4 tracking-wider leading-8" style="color: {{ section.settings.collection_text_color }};">
      {{ collection.description }}
    </div>
  </div>
  <!-- text end -->
</div>

{% schema %}
{
  "name": "Collection Banner",
  "settings": [
    {
      "type": "header",
      "content": "General settings",
      "info": "Base background color and image settings"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "Show Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Default product image (optional)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Margin Top controll",
      "default": 4,
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin Bottom controll",
      "default": 0,
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "rem"
    },
    {
      "type": "checkbox",
      "id": "overlay_set",
      "default": true,
      "label": "Overlay cover"
    },
    {
      "type": "header",
      "content": "Collection Text",
      "info": "Collection Content settings"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text align",
      "options": [
        {
          "value": "font_left",
          "label": "Left"
        },
        {
          "value": "font_right",
          "label": "Right"
        },
        {
          "value": "font_center",
          "label": "Center"
        }
      ],
      "default": "font_center"
    },
    {
      "type": "color",
      "id": "collection_title_color",
      "label": "Text box color",
      "default": "#808080"
    },
    {
      "type": "color",
      "id": "collection_text_color",
      "label": "Text box color",
      "default": "#A9A9A9"
    }
  ]
}
{% endschema %}