<style>
  body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
}
</style>
{{ 'theme.css' | asset_url | stylesheet_tag }}

<section class="{{ section.settings.color_schema }}">
  <div class="container mx-auto flex flex-col px-5 py-8 justify-center items-center">
    {% if section.settings.image_visible == true %}  
      {% if section.settings.image != blank %}
      <div class="w-full lg:w-1/2 h-[430px] overflow-hidden rounded-lg my-4">
        <img
              srcset="{%- if article.image.src.width >= 165 -%}{{ section.settings.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if section.settings.image.src.width >= 360 -%}{{ section.settings.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if section.settings.image.src.width >= 533 -%}{{ section.settings.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if section.settings.image.src.width >= 720 -%}{{ section.settings.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if section.settings.image.src.width >= 1000 -%}{{ section.settings.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                {%- if section.settings.image.src.width >= 1500 -%}{{ section.settings.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                {{ section.settings.image.src | image_url }} {{ section.settings.image.src.width }}w"
              src="{{ section.settings.image.src | image_url: width: 533 }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              alt="{{ section.settings.image.src.alt | escape }}"
              class="w-full h-full object-cover object-center inset-0"
              loading="lazy"
              width="{{ section.settings.image.width }}"
              height="{{ section.settings.image.height }}"
              loading="lazy"
            >
        </div>
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'w-1/3 mb-10 object-cover object-center rounded border' }}
      {% endif %}
    {% endif %}
    <div class="w-full flex flex-col mb-8 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl my-4 font-medium customer_title_color">{{ section.settings.headline }}</h1>
    
      <p class="mb-8 leading-8 tracking-wider customer_text_color w-full md:w-1/2">
        {% if section.settings.description != blank %}
        {{ section.settings.description }}
        {% endif %}
      </p>
      {% form 'storefront_password', class: 'w-full md:w-1/2 lg:w-[22rem]' %}
          {% if form.errors %}
          {% capture error_text %}
            {{ form.errors | default_errors }}
          {% endcapture %}

          {% render 'layout-message',
            type: 'error'
            text: error_text
            class: 'mb-8'
          %}
        {% endif %}

        <div class="flex w-full">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input
          type="password"
          id="Password"
          name="password"
          placeholder="{{ 'form.password' | t }}"
          class="w-full rounded-r-none focus:outline-none customer_border_color"
          required
        >
        <button
        type="submit"
        class="customer_button_color customer_button_border px-5 py-2 flex-shrink-0 w-auto rounded-l-none"
        >
        {{ 'action.sign_in' | t }}
        </button>
        </div>
      {% endform %}
        <div class="text-sm text-center mt-4 customer_point_color">
          {{ 'password.store_owner' | t }} <a href="/admin" class="underline">{{ 'action.log_in' | t }}</a>
        </div>
    </div>
  </div>
</section>



{% schema %}
{
  "name": "Password lock page",
  "settings": [
    {
      "type": "select",
      "id": "color_schema",
      "label": "Background color",
      "options": [
        {
          "value": "first_color",
          "label": "First Color"
        },
        {
          "value": "second_color",
          "label": "Second Color"
        },
        {
          "value": "third_color",
          "label": "Third Color"
        },
        {
          "value": "forth_color",
          "label": "Forth Color"
        },
        {
          "value": "fifth_color",
          "label": "Fifth Color"
        },
        {
          "value": "background_transparent",
          "label": "Transparent Color"
        }
      ],
      "default": "background_transparent"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner Image"
    },
    {
      "type": "checkbox",
      "id": "image_visible",
      "label": "Show image",
      "default": true
    },
    {
      "type": "text",
      "id": "headline",
      "label": "t:common.headline",
      "default": "we are coming soon!"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "coming soon description (optional)",
      "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos hic praesentium recusandae dolores odio animi deleniti officia cum itaque."
    }
  ]
}
{% endschema %}