<div class="{{section.settings.color_schema}}">
      <section class="xl:max-w-[1320px] px-4 md:px-8 mx-auto"
            style="padding-top:{{section.settings.padding_top}}rem; padding-bottom:{{section.settings.padding_bottom}}rem;"
            {% if section.settings.animation_setting == true %} data-aos="fade-up" data-aos-offset="500" {% endif %}>
            {%- comment -%} headline {%- endcomment -%}
            <div class="md:mx-[1rem] mb-[1.5rem] flex flex-col {{section.settings.text_align}}">
                <div class="Left_titlebox">
                    {% if section.settings.headline != blank %}
                      <h1 class="mb-[1.2rem] text-2xl lg:text-3xl font-bold tracking-wider" style="color:{{section.settings.color_title}};">
                        {{ section.settings.headline }}
                      </h1>
                    {% endif %}
                      <div class="subfont_size my-8 leading-8 tracking-wider" style="color:{{section.settings.color_sub_title}};">
                        {{ section.settings.text }}
                      </div>  
                  </div>
            </div>

            <div class="grid grid-col md:grid-cols-4 gap-4">
            {% for block in section.blocks %}
                  {%- case block.type -%}
                        {%- when 'first_block' -%}
                        {% if block.settings.image != blank %}
                        <div class="relative group col-span-2 h-[342px] md:h-[409px] lg:h-[372px] overflow-hidden rounded-sm">
                              <div class="w-full {{block.settings.text_align}} absolute px-6 py-4 z-10">
                                <p class="tracking-wider {{ block.settings.font_style }} " style="color: {{block.settings.title_color}}; font-size:{{block.settings.font_size}}rem;">{{block.settings.headline}}</p>
                                <p class="tracking-wider {{ block.settings.desc_font_style }}" style="color: {{block.settings.desc_title_color}}; font-size:{{block.settings.desc_font_size}}rem;">{{block.settings.description}}</p> 
                              </div>
                              <div class="w-full {{block.settings.button_align}} absolute p-6 bottom-0 right-0 z-10">
                                    <a class="inline-block tracking-widest mx-2 {{block.settings.color_button}} {{block.settings.button_color_hover}} {{ block.settings.button_text_hover }} text-center outline-none transition duration-100 {{block.settings.button_size}} {% if block.settings.button_round_off == true %} button_round {% endif %}" style="border:1px solid {{block.settings.border_color}}; color:{{block.settings.border_color}};"
                                         href="{{block.settings.button-url}}">
                                        {{block.settings.button-text}}
                                    </a>
                              </div>
                              <img 
                               srcset="{%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                                    {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
                                    {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | image_url: width: 990 }} 990w,{%- endif -%}
                                    {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                                    {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                                    {%- if block.settings.image.width >= 2200 -%}{{ block.settings.image | image_url: width: 2200 }} 2200w,{%- endif -%}
                                    {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                                    {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                              src="{{ block.settings.image | image_url: width: 1500 }}"
                              sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
                              alt="{{ block.settings.image.alt | escape }}"
                              loading="lazy"
                              width="{{ block.settings.image.width }}"
                              height="{{ block.settings.image.height }}"
                              class="w-full h-full object-cover object-center overflow-hidden group-hover:scale-110 transition duration-200">
                              {% if block.settings.overlay_set == true %}
                              <div class="bg-gray-300 mix-blend-multiply absolute inset-0"></div>
                              {% endif %}
                        </div>
                        {%- else -%}        
                            <div class="col-span-2"><img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/500x300"></div>  
                        {% endif %}

                        {%- when 'second_block' -%}
                        {% if block.settings.image != blank %}
                        <div class="relative group col-span-2 lg:col-span-1 h-[342px] md:h-[409px] lg:h-[372px] overflow-hidden rounded-sm">
                              <div class="w-full {{block.settings.text_align}} absolute p-6 z-10">
                                <p class="tracking-wider {{ block.settings.font_style }} " style="color: {{block.settings.title_color}}; font-size:{{block.settings.font_size}}rem;">{{block.settings.headline}}</p>
                                <p class="tracking-wider {{ block.settings.desc_font_style }} mt-4" style="color: {{block.settings.desc_title_color}}; font-size:{{block.settings.desc_font_size}}rem;">{{block.settings.description}}</p>  
                          </div>
                              
                              <div class="w-full {{block.settings.button_align}} absolute p-6 bottom-0 right-0 z-10">
                                    <a class="inline-block tracking-widest mx-2 {{block.settings.color_button}} {{block.settings.button_color_hover}} {{ block.settings.button_text_hover }} text-center outline-none transition duration-100 {{block.settings.button_size}} {% if block.settings.button_round_off == true %} button_round {% endif %}" style="border:1px solid {{block.settings.border_color}}; color:{{block.settings.border_color}};"
                                        href="{{block.settings.button-url}}">
                                        {{block.settings.button-text}}
                                    </a>
                              </div>
                              <img 
                               srcset="{%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                              {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
                              {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | image_url: width: 990 }} 990w,{%- endif -%}
                              {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                              {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                              {%- if block.settings.image.width >= 2200 -%}{{ block.settings.image | image_url: width: 2200 }} 2200w,{%- endif -%}
                              {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                              {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                              src="{{ block.settings.image | image_url: width: 1500 }}"
                              sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
                              alt="{{ block.settings.image.alt | escape }}"
                              loading="lazy"
                              width="{{ block.settings.image.width }}"
                              height="{{ block.settings.image.height }}"
                              class="w-full h-full object-cover object-center overflow-hidden group-hover:scale-110 transition duration-200">
                              {% if block.settings.overlay_set == true %}
                              <div class="bg-gray-300 mix-blend-multiply absolute inset-0"></div>
                              {% endif %}
                        </div>
                        {%- else -%}
                            <div class="col-span-2 lg:col-span-1"><img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/500x300"></div>  
                        {% endif %}

                        {%- when 'third_block' -%}
                        {% if block.settings.image != blank %}
                         <div class="relative group col-span-2 lg:col-span-1 h-[342px] md:h-[409px] lg:h-[372px] overflow-hidden rounded-sm">
                              <div class="w-full {{block.settings.text_align}} absolute p-6 z-10">
                                <p class="tracking-wider {{ block.settings.font_style }} " style="color: {{block.settings.title_color}}; font-size:{{block.settings.font_size}}rem;">{{block.settings.headline}}</p>
                                <p class="tracking-wider {{ block.settings.desc_font_style }} mt-4" style="color: {{block.settings.desc_title_color}}; font-size:{{block.settings.desc_font_size}}rem;">{{block.settings.description}}</p> 
                              </div>
                              <div class="w-full {{block.settings.button_align}} absolute p-6 bottom-0 right-0 z-10">
                                    <a class="inline-block tracking-widest mx-2 {{block.settings.color_button}} {{block.settings.button_color_hover}} {{ block.settings.button_text_hover }} text-center outline-none transition duration-100 {{block.settings.button_size}} {% if block.settings.button_round_off == true %} button_round {% endif %}" style="border:1px solid {{block.settings.border_color}}; color:{{block.settings.border_color}};"
                                        href="{{block.settings.button-url}}">
                                        {{block.settings.button-text}}
                                    </a>
                              </div>
                              <img 
                               srcset="{%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                              {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
                              {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | image_url: width: 990 }} 990w,{%- endif -%}
                              {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                              {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                              {%- if block.settings.image.width >= 2200 -%}{{ block.settings.image | image_url: width: 2200 }} 2200w,{%- endif -%}
                              {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                              {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                              src="{{ block.settings.image | image_url: width: 1500 }}"
                              sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
                              alt="{{ block.settings.image.alt | escape }}"
                              loading="lazy"
                              width="{{ block.settings.image.width }}"
                              height="{{ block.settings.image.height }}"
                              class="w-full h-full object-cover object-center overflow-hidden group-hover:scale-110 transition duration-200">
                              {% if block.settings.overlay_set == true %}
                              <div class="bg-gray-300 mix-blend-multiply absolute inset-0"></div>
                              {% endif %}
                         </div>
                        {%- else -%}
                              <div class="col-span-2 lg:col-span-1"><img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/500x300"></div>
                        {% endif %}

                        {%- when 'forth_block' -%}
                        {% if block.settings.image != blank %}
                        <div class="relative group col-span-2 lg:col-span-1 h-[342px] md:h-[409px] lg:h-[372px] overflow-hidden rounded-sm">
                              <div class="w-full {{block.settings.text_align}} absolute p-6 z-10">
                                <p class="tracking-wider {{ block.settings.font_style }} " style="color: {{block.settings.title_color}}; font-size:{{block.settings.font_size}}rem;">{{block.settings.headline}}</p>
                                <p class="tracking-wider {{ block.settings.desc_font_style }} mt-4" style="color: {{block.settings.desc_title_color}}; font-size:{{block.settings.desc_font_size}}rem;">{{block.settings.description}}</p> 
                              </div>
                              <div class="w-full {{block.settings.button_align}} absolute p-6 bottom-0 right-0 z-10">
                                    <a class="inline-block tracking-widest mx-2 {{block.settings.color_button}} {{block.settings.button_color_hover}} {{ block.settings.button_text_hover }} text-center outline-none transition duration-100 {{block.settings.button_size}} {% if block.settings.button_round_off == true %} button_round {% endif %}" style="border:1px solid {{block.settings.border_color}}; color:{{block.settings.border_color}};"
                                        href="{{block.settings.button-url}}">
                                        {{block.settings.button-text}}
                                    </a>
                              </div>
                              <img 
                               srcset="{%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                              {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
                              {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | image_url: width: 990 }} 990w,{%- endif -%}
                              {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                              {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                              {%- if block.settings.image.width >= 2200 -%}{{ block.settings.image | image_url: width: 2200 }} 2200w,{%- endif -%}
                              {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                              {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                              src="{{ block.settings.image | image_url: width: 1500 }}"
                              sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
                              alt="{{ block.settings.image.alt | escape }}"
                              loading="lazy"
                              width="{{ block.settings.image.width }}"
                              height="{{ block.settings.image.height }}"
                              class="w-full h-full object-cover object-center overflow-hidden group-hover:scale-110 transition duration-200">
                              {% if block.settings.overlay_set == true %}
                              <div class="bg-gray-300 mix-blend-multiply absolute inset-0"></div>
                              {% endif %}
                        </div>
                        {%- else -%}
                              <div class="col-span-2 lg:col-span-1"><img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/500x300"></div>
                        {% endif %}

                        {%- when 'fifth_block' -%}
                        {% if block.settings.image != blank %}
                        <div class="relative group col-span-2 lg:col-span-1 h-[342px] md:h-[409px] lg:h-[372px] overflow-hidden rounded-sm">
                              <div class="w-full {{block.settings.text_align}} absolute p-6 z-10">
                                <p class="tracking-wider {{ block.settings.font_style }} " style="color: {{block.settings.title_color}}; font-size:{{block.settings.font_size}}rem;">{{block.settings.headline}}</p>
                                <p class="tracking-wider {{ block.settings.desc_font_style }} mt-4" style="color: {{block.settings.desc_title_color}}; font-size:{{block.settings.desc_font_size}}rem;">{{block.settings.description}}</p> 
                              </div>
                              <div class="w-full {{block.settings.button_align}} absolute p-6 bottom-0 right-0 z-10">
                                    <a class="inline-block tracking-widest mx-2 {{block.settings.color_button}} {{block.settings.button_color_hover}} {{ block.settings.button_text_hover }} text-center outline-none transition duration-100 {{block.settings.button_size}} {% if block.settings.button_round_off == true %} button_round {% endif %}" style="border:1px solid {{block.settings.border_color}}; color:{{block.settings.border_color}};"
                                        href="{{block.settings.button-url}}">
                                        {{block.settings.button-text}}
                                    </a>
                              </div>
                              <img 
                               srcset="{%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                              {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
                              {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | image_url: width: 990 }} 990w,{%- endif -%}
                              {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                              {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                              {%- if block.settings.image.width >= 2200 -%}{{ block.settings.image | image_url: width: 2200 }} 2200w,{%- endif -%}
                              {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                              {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                              src="{{ block.settings.image | image_url: width: 1500 }}"
                              sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
                              alt="{{ block.settings.image.alt | escape }}"
                              loading="lazy"
                              width="{{ block.settings.image.width }}"
                              height="{{ block.settings.image.height }}"
                              class="w-full h-full object-cover object-center overflow-hidden group-hover:scale-110 transition duration-200">
                              {% if block.settings.overlay_set == true %}
                              <div class="bg-gray-300 mix-blend-multiply absolute inset-0"></div>
                              {% endif %}
                        </div>
                        {%- else -%}
                              <div class="col-span-2 lg:col-span-1"><img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/500x300"></div>
                        {% endif %}

                        {%- when 'sixth_block' -%}
                        {% if block.settings.image != blank %}
                        <div class="relative group col-span-2 h-[342px] md:h-[409px] lg:h-[372px] overflow-hidden rounded-sm">
                              <div class="w-full {{block.settings.text_align}} absolute px-6 py-4 z-10">
                                <p class="tracking-wider {{ block.settings.font_style }} " style="color: {{block.settings.title_color}}; font-size:{{block.settings.font_size}}rem;">{{block.settings.headline}}</p>
                                <p class="tracking-wider {{ block.settings.desc_font_style }}" style="color: {{block.settings.desc_title_color}}; font-size:{{block.settings.desc_font_size}}rem;">{{block.settings.description}}</p> 
                              </div>
                              <div class="w-full {{block.settings.button_align}} absolute p-6 bottom-0 right-0 z-10">
                                    <a class="inline-block tracking-widest mx-2 {{block.settings.color_button}} {{block.settings.button_color_hover}} {{ block.settings.button_text_hover }} text-center outline-none transition duration-100 {{block.settings.button_size}} {% if block.settings.button_round_off == true %} button_round {% endif %}" style="border:1px solid {{block.settings.border_color}}; color:{{block.settings.border_color}};"
                                        href="{{block.settings.button-url}}">
                                        {{block.settings.button-text}}
                                    </a>
                              </div>
                              <img 
                               srcset="{%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                              {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
                              {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | image_url: width: 990 }} 990w,{%- endif -%}
                              {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                              {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                              {%- if block.settings.image.width >= 2200 -%}{{ block.settings.image | image_url: width: 2200 }} 2200w,{%- endif -%}
                              {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                              {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                              src="{{ block.settings.image | image_url: width: 1500 }}"
                              sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
                              alt="{{ block.settings.image.alt | escape }}"
                              loading="lazy"
                              width="{{ block.settings.image.width }}"
                              height="{{ block.settings.image.height }}"
                              class="w-full h-full object-cover object-center overflow-hidden group-hover:scale-110 transition duration-200">
                              {% if block.settings.overlay_set == true %}
                              <div class="bg-gray-300 mix-blend-multiply absolute inset-0"></div>
                              {% endif %}
                        </div>
                        {%- else -%}
                               <div class="col-span-2"><img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/500x300"></div>
                        {% endif %}
                              
                  {%- endcase -%}
            {% endfor %}
       </div>
      </section>
</div>


{%- schema -%}
{
"name": "Photo Grid",
"class": "shopify-section-vue",
"settings": [
{
  "type": "header",
  "content": "General settings"
},
{
        "type": "select",
        "id": "color_schema",
        "label": "Background color",
        "options": [
          {
            "value": "first_color",
            "label": "First Color"
          },
          {
            "value": "second_color",
            "label": "Second Color"
          },
          {
            "value": "third_color",
            "label": "Third Color"
          },
          {
            "value": "forth_color",
            "label": "Forth Color"
          }, {
            "value": "fifth_color",
            "label": "Fifth Color"
          }, {
            "value": "background_transparent",
            "label": "Transparent Color"
          }
        ],
        "default": "background_transparent"
},
{
        "type": "checkbox",
        "id": "animation_setting",
        "default": false,
        "label": "Animation turn on"
},
{
        "type": "range",
        "id": "padding_top",
        "label": "Padding Top control",
        "default": 4,
        "min": 0,
        "max": 20,
        "step": 1,
        "unit": "rem"
},
{
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding Bottom control",
        "default": 4,
        "min": 0,
        "max": 20,
        "step": 1,
        "unit": "rem"
},
{
        "type":"text",
        "id":"headline",
        "label":"t:common.headline",
        "default":"Our store"
     },
     {
      "type":"richtext",
      "id":"text",
      "label":"t:common.headline"
    },
    {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "options": [
              {
                "value": "font_left",
                "label": "Left"
              }, {
                "value": "font_right",
                "label": "Right"
              }, {
                "value": "font_center",
                "label": "Center"
              }
            ],
            "default": "font_center"
          },
          {
        "type": "color",
        "id": "color_title",
        "label": "Section title color",
        "default": "#4b4b4b"
      },
      {
        "type": "color",
        "id": "color_sub_title",
        "label": "Section Description color",
        "default": "#4b4b4b"
      }
],
"blocks": [
{
      "type": "first_block",
      "name": "First Block",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
            "type": "checkbox",
            "id": "overlay_set",
            "default": true,
            "label": "Overlay cover"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "options": [
              {
                "value": "font_left",
                "label": "Left"
              },
              {
                "value": "font_right",
                "label": "Right"
              },
              {
                "value": "font_center",
                "label": "Center"
              }
            ],
            "default": "font_center"
          },
            {
            "type": "select",
            "id": "button_align",
            "label": "Button align",
            "options": [
              {
                "value": "font_left",
                "label": "Left"
              }, {
                "value": "font_right",
                "label": "Right"
              }, {
                "value": "font_center",
                "label": "Center"
              }
            ],
            "default": "font_left"
          },
           {
            "type": "header",
            "content": "Text settings"
          },
          {
                  "type": "range",
                  "id": "font_size",
                  "label": "Prodcut Font size",
                  "default":2.4,
                  "min": 0.1,
                  "max": 3,
                  "step": 0.1,
                  "unit": "rem"
            },
        {
                  "type": "range",
                  "id": "desc_font_size",
                  "label": "Description Font size",
                  "default":1,
                  "min": 0.1,
                  "max": 3,
                  "step": 0.1,
                  "unit": "rem"
            },
          {
            "type": "text",
            "id": "headline",
            "label": "Title",
            "default": "This is text title"
           },
          {
        "type":"text",
        "id":"description",
        "label":"Description",
        "default":"this is the description section"
         },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#fff"
          },
        {
            "type": "color",
            "id": "desc_title_color",
            "label": "Description Title Color",
            "default": "#fff"
          },
          {
            "type":"select",
            "id":"font_style",
            "label":"Font Style",
            "options":[
              {
                  "value":"font_light",
                  "label":"Font light"
              },
              {
                  "value":"font_normal",
                  "label":"Font normal"
              },
              {
                  "value":"font_bold",
                  "label":"Font bold"
              },
              {
                  "value":"font_italic",
                  "label":"Font italic"
              },
              {
                  "value":"font_italic_light",
                  "label":"Font italic light"
              },
              {
                  "value":"font_italic_bold",
                  "label":"Font italic bold"
              }
            ],
            "default":"font_normal"
          },
        {
            "type":"select",
            "id":"desc_font_style",
            "label":"Description Font Style",
            "options":[
              {
                  "value":"font_light",
                  "label":"Font light"
              },
              {
                  "value":"font_normal",
                  "label":"Font normal"
              },
              {
                  "value":"font_bold",
                  "label":"Font bold"
              },
              {
                  "value":"font_italic",
                  "label":"Font italic"
              },
              {
                  "value":"font_italic_light",
                  "label":"Font italic light"
              },
              {
                  "value":"font_italic_bold",
                  "label":"Font italic bold"
              }
            ],
            "default":"font_normal"
          },
          {
            "type": "header",
            "content": "Button settings"
          },
          {
            "type": "url",
            "id": "button-url",
            "label": "t:common.button.url"
          }, 
          {
            "type": "text",
            "id": "button-text",
            "label": "t:common.button.text",
            "default": "view more"
          },
          {
            "type":"select",
            "id":"button_size",
            "label":"Button size",
            "options":[
                {
                  "value":"button_small",
                  "label":"Small"
                },
                {
                  "value":"button_medium",
                  "label":"Medium"
                },
                {
                  "value":"button_large",
                  "label":"Large"
                },
                {
                "value":"button_xlarge",
                "label":"Extra large"
              }
            ],
            "default":"button_small"
            },
            {
            "type": "checkbox",
            "id": "button_round_off",
            "default": false,
            "label": "Button round"
          },
          {
            "type": "header",
            "content": "Button color"
          },
          {
            "type":"select",
            "id":"color_button",
            "label":"Button color",
            "options":[
              {
                  "value":"first_color",
                  "label":"First Color"
              },
              {
                  "value":"second_color",
                  "label":"Second Color"
              },
              {
                  "value":"third_color",
                  "label":"Third Color"
              },
              {
                  "value":"forth_color",
                  "label":"Forth Color"
              },
              {
                  "value":"fifth_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"background_transparent",
                  "label":"Transparent Color"
              }
            ],
            "default":"second_color"
          },
          {
          "type": "color",
          "id": "border_color",
          "label": "Button border color",
          "default": "#6F665D"
          },
          {
            "type":"select",
            "id":"button_color_hover",
            "label":"Button moseover color",
            "options":[
              {
                  "value":"button_first_color",
                  "label":"First Color"
              },
              {
                  "value":"button_second_color",
                  "label":"Second Color"
              },
              {
                  "value":"button_third_color",
                  "label":"Third Color"
              },
              {
                  "value":"button_forth_color",
                  "label":"Forth Color"
              },
              {
                  "value":"button_fifth_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"button_background_transparent",
                  "label":"Transparent Color"
              }
            ],
            "default":"button_third_color"
          },
          {
            "type":"select",
            "id":"button_text_hover",
            "label":"Button moseover color",
            "options":[
              {
                  "value":"button_first_mouseover_color",
                  "label":"First Color"
              },
              {
                  "value":"button_second_mouseover_color",
                  "label":"Second Color"
              },
              {
                  "value":"button_third_mouseover_color",
                  "label":"Third Color"
              },
              {
                  "value":"button_forth_mouseover_color",
                  "label":"Forth Color"
              },
              {
                  "value":"button_fifth_mouseover_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"button_point_mouseover_color",
                  "label":"Point Color"
              }
            ],
            "default":"button_point_mouseover_color"
          }
      ]
},
{
      "type": "second_block",
      "name": "Second Block",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
            "type": "checkbox",
            "id": "overlay_set",
            "default": true,
            "label": "Overlay cover"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "options": [
              {
                "value": "font_left",
                "label": "Left"
              },
              {
                "value": "font_right",
                "label": "Right"
              },
              {
                "value": "font_center",
                "label": "Center"
              }
            ],
            "default": "font_center"
          },
            {
            "type": "select",
            "id": "button_align",
            "label": "Button align",
            "options": [
              {
                "value": "font_left",
                "label": "Left"
              }, {
                "value": "font_right",
                "label": "Right"
              }, {
                "value": "font_center",
                "label": "Center"
              }
            ],
            "default": "font_left"
          },
           {
            "type": "header",
            "content": "Text settings"
          },
          {
                  "type": "range",
                  "id": "font_size",
                  "label": "Prodcut Font size",
                  "default":2.4,
                  "min": 0.1,
                  "max": 3,
                  "step": 0.1,
                  "unit": "rem"
            },
          {
                  "type": "range",
                  "id": "desc_font_size",
                  "label": "Description Font size",
                  "default":1,
                  "min": 0.1,
                  "max": 3,
                  "step": 0.1,
                  "unit": "rem"
            },
          {
            "type": "text",
            "id": "headline",
            "label": "Title",
            "default": "This is text title"
           },
          {
        "type":"text",
        "id":"description",
        "label":"Description",
        "default":"this is the description section"
         },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#fff"
          },
        {
            "type": "color",
            "id": "desc_title_color",
            "label": "Description Title Color",
            "default": "#fff"
          },
          {
            "type":"select",
            "id":"font_style",
            "label":"Font Style",
            "options":[
              {
                  "value":"font_light",
                  "label":"Font light"
              },
              {
                  "value":"font_normal",
                  "label":"Font normal"
              },
              {
                  "value":"font_bold",
                  "label":"Font bold"
              },
              {
                  "value":"font_italic",
                  "label":"Font italic"
              },
              {
                  "value":"font_italic_light",
                  "label":"Font italic light"
              },
              {
                  "value":"font_italic_bold",
                  "label":"Font italic bold"
              }
            ],
            "default":"font_normal"
          },
        {
            "type":"select",
            "id":"desc_font_style",
            "label":"Description Font Style",
            "options":[
              {
                  "value":"font_light",
                  "label":"Font light"
              },
              {
                  "value":"font_normal",
                  "label":"Font normal"
              },
              {
                  "value":"font_bold",
                  "label":"Font bold"
              },
              {
                  "value":"font_italic",
                  "label":"Font italic"
              },
              {
                  "value":"font_italic_light",
                  "label":"Font italic light"
              },
              {
                  "value":"font_italic_bold",
                  "label":"Font italic bold"
              }
            ],
            "default":"font_normal"
          },
          {
            "type": "header",
            "content": "Button settings"
          },
          {
            "type": "url",
            "id": "button-url",
            "label": "t:common.button.url"
          }, 
          {
            "type": "text",
            "id": "button-text",
            "label": "t:common.button.text",
            "default": "view more"
          },
          {
            "type":"select",
            "id":"button_size",
            "label":"Button size",
            "options":[
                {
                  "value":"button_small",
                  "label":"Small"
                },
                {
                  "value":"button_medium",
                  "label":"Medium"
                },
                {
                  "value":"button_large",
                  "label":"Large"
                },
                {
                "value":"button_xlarge",
                "label":"Extra large"
              }
            ],
            "default":"button_small"
            },
            {
            "type": "checkbox",
            "id": "button_round_off",
            "default": false,
            "label": "Button round"
          },
          {
            "type": "header",
            "content": "Button color"
          },
          {
            "type":"select",
            "id":"color_button",
            "label":"Button color",
            "options":[
              {
                  "value":"first_color",
                  "label":"First Color"
              },
              {
                  "value":"second_color",
                  "label":"Second Color"
              },
              {
                  "value":"third_color",
                  "label":"Third Color"
              },
              {
                  "value":"forth_color",
                  "label":"Forth Color"
              },
              {
                  "value":"fifth_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"background_transparent",
                  "label":"Transparent Color"
              }
            ],
            "default":"second_color"
          },
          {
          "type": "color",
          "id": "border_color",
          "label": "Button border color",
          "default": "#6F665D"
          },
          {
            "type":"select",
            "id":"button_color_hover",
            "label":"Button moseover color",
            "options":[
              {
                  "value":"button_first_color",
                  "label":"First Color"
              },
              {
                  "value":"button_second_color",
                  "label":"Second Color"
              },
              {
                  "value":"button_third_color",
                  "label":"Third Color"
              },
              {
                  "value":"button_forth_color",
                  "label":"Forth Color"
              },
              {
                  "value":"button_fifth_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"button_background_transparent",
                  "label":"Transparent Color"
              }
            ],
            "default":"button_third_color"
          },
          {
            "type":"select",
            "id":"button_text_hover",
            "label":"Button moseover color",
            "options":[
              {
                  "value":"button_first_mouseover_color",
                  "label":"First Color"
              },
              {
                  "value":"button_second_mouseover_color",
                  "label":"Second Color"
              },
              {
                  "value":"button_third_mouseover_color",
                  "label":"Third Color"
              },
              {
                  "value":"button_forth_mouseover_color",
                  "label":"Forth Color"
              },
              {
                  "value":"button_fifth_mouseover_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"button_point_mouseover_color",
                  "label":"Point Color"
              }
            ],
            "default":"button_point_mouseover_color"
          }
      ]
},
{
      "type": "third_block",
      "name": "Third Block",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
            "type": "checkbox",
            "id": "overlay_set",
            "default": true,
            "label": "Overlay cover"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "options": [
              {
                "value": "font_left",
                "label": "Left"
              },
              {
                "value": "font_right",
                "label": "Right"
              },
              {
                "value": "font_center",
                "label": "Center"
              }
            ],
            "default": "font_center"
          },
            {
            "type": "select",
            "id": "button_align",
            "label": "Button align",
            "options": [
              {
                "value": "font_left",
                "label": "Left"
              }, {
                "value": "font_right",
                "label": "Right"
              }, {
                "value": "font_center",
                "label": "Center"
              }
            ],
            "default": "font_left"
          },
           {
            "type": "header",
            "content": "Text settings"
          },
          {
                  "type": "range",
                  "id": "font_size",
                  "label": "Prodcut Font size",
                  "default":1,
                  "min": 0.1,
                  "max": 3,
                  "step": 0.1,
                  "unit": "rem"
          },
          {
                  "type": "range",
                  "id": "desc_font_size",
                  "label": "Description Font size",
                  "default":1,
                  "min": 0.1,
                  "max": 3,
                  "step": 0.1,
                  "unit": "rem"
            },
          {
            "type": "text",
            "id": "headline",
            "label": "Title",
            "default": "This is text title"
           },
          {
        "type":"text",
        "id":"description",
        "label":"Description",
        "default":"this is the description section"
         },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#fff"
          },
        {
            "type": "color",
            "id": "desc_title_color",
            "label": "Description Title Color",
            "default": "#fff"
          },
          {
            "type":"select",
            "id":"font_style",
            "label":"Font Style",
            "options":[
              {
                  "value":"font_light",
                  "label":"Font light"
              },
              {
                  "value":"font_normal",
                  "label":"Font normal"
              },
              {
                  "value":"font_bold",
                  "label":"Font bold"
              },
              {
                  "value":"font_italic",
                  "label":"Font italic"
              },
              {
                  "value":"font_italic_light",
                  "label":"Font italic light"
              },
              {
                  "value":"font_italic_bold",
                  "label":"Font italic bold"
              }
            ],
            "default":"font_normal"
          },
        {
            "type":"select",
            "id":"desc_font_style",
            "label":"Description Font Style",
            "options":[
              {
                  "value":"font_light",
                  "label":"Font light"
              },
              {
                  "value":"font_normal",
                  "label":"Font normal"
              },
              {
                  "value":"font_bold",
                  "label":"Font bold"
              },
              {
                  "value":"font_italic",
                  "label":"Font italic"
              },
              {
                  "value":"font_italic_light",
                  "label":"Font italic light"
              },
              {
                  "value":"font_italic_bold",
                  "label":"Font italic bold"
              }
            ],
            "default":"font_normal"
          },
          {
            "type": "header",
            "content": "Button settings"
          },
          {
            "type": "url",
            "id": "button-url",
            "label": "t:common.button.url"
          }, 
          {
            "type": "text",
            "id": "button-text",
            "label": "t:common.button.text",
            "default": "view more"
          },
          {
            "type":"select",
            "id":"button_size",
            "label":"Button size",
            "options":[
                {
                  "value":"button_small",
                  "label":"Small"
                },
                {
                  "value":"button_medium",
                  "label":"Medium"
                },
                {
                  "value":"button_large",
                  "label":"Large"
                },
                {
                "value":"button_xlarge",
                "label":"Extra large"
              }
            ],
            "default":"button_small"
            },
            {
            "type": "checkbox",
            "id": "button_round_off",
            "default": false,
            "label": "Button round"
          },
          {
            "type": "header",
            "content": "Button color"
          },
          {
            "type":"select",
            "id":"color_button",
            "label":"Button color",
            "options":[
              {
                  "value":"first_color",
                  "label":"First Color"
              },
              {
                  "value":"second_color",
                  "label":"Second Color"
              },
              {
                  "value":"third_color",
                  "label":"Third Color"
              },
              {
                  "value":"forth_color",
                  "label":"Forth Color"
              },
              {
                  "value":"fifth_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"background_transparent",
                  "label":"Transparent Color"
              }
            ],
            "default":"second_color"
          },
          {
          "type": "color",
          "id": "border_color",
          "label": "Button border color",
          "default": "#6F665D"
          },
          {
            "type":"select",
            "id":"button_color_hover",
            "label":"Button moseover color",
            "options":[
              {
                  "value":"button_first_color",
                  "label":"First Color"
              },
              {
                  "value":"button_second_color",
                  "label":"Second Color"
              },
              {
                  "value":"button_third_color",
                  "label":"Third Color"
              },
              {
                  "value":"button_forth_color",
                  "label":"Forth Color"
              },
              {
                  "value":"button_fifth_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"button_background_transparent",
                  "label":"Transparent Color"
              }
            ],
            "default":"button_third_color"
          },
          {
            "type":"select",
            "id":"button_text_hover",
            "label":"Button moseover color",
            "options":[
              {
                  "value":"button_first_mouseover_color",
                  "label":"First Color"
              },
              {
                  "value":"button_second_mouseover_color",
                  "label":"Second Color"
              },
              {
                  "value":"button_third_mouseover_color",
                  "label":"Third Color"
              },
              {
                  "value":"button_forth_mouseover_color",
                  "label":"Forth Color"
              },
              {
                  "value":"button_fifth_mouseover_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"button_point_mouseover_color",
                  "label":"Point Color"
              }
            ],
            "default":"button_point_mouseover_color"
          }
      ]
},
{
      "type": "forth_block",
      "name": "Forth Block",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
            "type": "checkbox",
            "id": "overlay_set",
            "default": true,
            "label": "Overlay cover"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "options": [
              {
                "value": "font_left",
                "label": "Left"
              },
              {
                "value": "font_right",
                "label": "Right"
              },
              {
                "value": "font_center",
                "label": "Center"
              }
            ],
            "default": "font_center"
          },
            {
            "type": "select",
            "id": "button_align",
            "label": "Button align",
            "options": [
              {
                "value": "font_left",
                "label": "Left"
              }, {
                "value": "font_right",
                "label": "Right"
              }, {
                "value": "font_center",
                "label": "Center"
              }
            ],
            "default": "font_left"
          },
           {
            "type": "header",
            "content": "Text settings"
          },
          {
                  "type": "range",
                  "id": "font_size",
                  "label": "Prodcut Font size",
                  "default":1,
                  "min": 0.1,
                  "max": 3,
                  "step": 0.1,
                  "unit": "rem"
            },
          {
                  "type": "range",
                  "id": "desc_font_size",
                  "label": "Description Font size",
                  "default":1,
                  "min": 0.1,
                  "max": 3,
                  "step": 0.1,
                  "unit": "rem"
            },
          {
            "type": "text",
            "id": "headline",
            "label": "Title",
            "default": "This is text title"
           },
          {
        "type":"text",
        "id":"description",
        "label":"Description",
        "default":"this is the description section"
         },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#fff"
          },
        {
            "type": "color",
            "id": "desc_title_color",
            "label": "Description Title Color",
            "default": "#fff"
          },
          {
            "type":"select",
            "id":"font_style",
            "label":"Font Style",
            "options":[
              {
                  "value":"font_light",
                  "label":"Font light"
              },
              {
                  "value":"font_normal",
                  "label":"Font normal"
              },
              {
                  "value":"font_bold",
                  "label":"Font bold"
              },
              {
                  "value":"font_italic",
                  "label":"Font italic"
              },
              {
                  "value":"font_italic_light",
                  "label":"Font italic light"
              },
              {
                  "value":"font_italic_bold",
                  "label":"Font italic bold"
              }
            ],
            "default":"font_normal"
          },
        {
            "type":"select",
            "id":"desc_font_style",
            "label":"Description Font Style",
            "options":[
              {
                  "value":"font_light",
                  "label":"Font light"
              },
              {
                  "value":"font_normal",
                  "label":"Font normal"
              },
              {
                  "value":"font_bold",
                  "label":"Font bold"
              },
              {
                  "value":"font_italic",
                  "label":"Font italic"
              },
              {
                  "value":"font_italic_light",
                  "label":"Font italic light"
              },
              {
                  "value":"font_italic_bold",
                  "label":"Font italic bold"
              }
            ],
            "default":"font_normal"
          },
          {
            "type": "header",
            "content": "Button settings"
          },
          {
            "type": "url",
            "id": "button-url",
            "label": "t:common.button.url"
          }, 
          {
            "type": "text",
            "id": "button-text",
            "label": "t:common.button.text",
            "default": "view more"
          },
          {
            "type":"select",
            "id":"button_size",
            "label":"Button size",
            "options":[
                {
                  "value":"button_small",
                  "label":"Small"
                },
                {
                  "value":"button_medium",
                  "label":"Medium"
                },
                {
                  "value":"button_large",
                  "label":"Large"
                },
                {
                "value":"button_xlarge",
                "label":"Extra large"
              }
            ],
            "default":"button_small"
            },
            {
            "type": "checkbox",
            "id": "button_round_off",
            "default": false,
            "label": "Button round"
          },
          {
            "type": "header",
            "content": "Button color"
          },
          {
            "type":"select",
            "id":"color_button",
            "label":"Button color",
            "options":[
              {
                  "value":"first_color",
                  "label":"First Color"
              },
              {
                  "value":"second_color",
                  "label":"Second Color"
              },
              {
                  "value":"third_color",
                  "label":"Third Color"
              },
              {
                  "value":"forth_color",
                  "label":"Forth Color"
              },
              {
                  "value":"fifth_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"background_transparent",
                  "label":"Transparent Color"
              }
            ],
            "default":"second_color"
          },
          {
          "type": "color",
          "id": "border_color",
          "label": "Button border color",
          "default": "#6F665D"
          },
          {
            "type":"select",
            "id":"button_color_hover",
            "label":"Button moseover color",
            "options":[
              {
                  "value":"button_first_color",
                  "label":"First Color"
              },
              {
                  "value":"button_second_color",
                  "label":"Second Color"
              },
              {
                  "value":"button_third_color",
                  "label":"Third Color"
              },
              {
                  "value":"button_forth_color",
                  "label":"Forth Color"
              },
              {
                  "value":"button_fifth_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"button_background_transparent",
                  "label":"Transparent Color"
              }
            ],
            "default":"button_third_color"
          },
          {
            "type":"select",
            "id":"button_text_hover",
            "label":"Button moseover color",
            "options":[
              {
                  "value":"button_first_mouseover_color",
                  "label":"First Color"
              },
              {
                  "value":"button_second_mouseover_color",
                  "label":"Second Color"
              },
              {
                  "value":"button_third_mouseover_color",
                  "label":"Third Color"
              },
              {
                  "value":"button_forth_mouseover_color",
                  "label":"Forth Color"
              },
              {
                  "value":"button_fifth_mouseover_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"button_point_mouseover_color",
                  "label":"Point Color"
              }
            ],
            "default":"button_point_mouseover_color"
          }
      ]
},
{
      "type": "fifth_block",
      "name": "Fifth Block",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
            "type": "checkbox",
            "id": "overlay_set",
            "default": true,
            "label": "Overlay cover"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "options": [
              {
                "value": "font_left",
                "label": "Left"
              },
              {
                "value": "font_right",
                "label": "Right"
              },
              {
                "value": "font_center",
                "label": "Center"
              }
            ],
            "default": "font_center"
          },
            {
            "type": "select",
            "id": "button_align",
            "label": "Button align",
            "options": [
              {
                "value": "font_left",
                "label": "Left"
              }, {
                "value": "font_right",
                "label": "Right"
              }, {
                "value": "font_center",
                "label": "Center"
              }
            ],
            "default": "font_left"
          },
           {
            "type": "header",
            "content": "Text settings"
          },
          {
                  "type": "range",
                  "id": "font_size",
                  "label": "Prodcut Font size",
                  "default":1,
                  "min": 0.1,
                  "max": 3,
                  "step": 0.1,
                  "unit": "rem"
            },
          {
                  "type": "range",
                  "id": "desc_font_size",
                  "label": "Description Font size",
                  "default":1,
                  "min": 0.1,
                  "max": 3,
                  "step": 0.1,
                  "unit": "rem"
            },
          {
            "type": "text",
            "id": "headline",
            "label": "Title",
            "default": "This is text title"
           },
          {
        "type":"text",
        "id":"description",
        "label":"Description",
        "default":"this is the description section"
         },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#fff"
          },
        {
            "type": "color",
            "id": "desc_title_color",
            "label": "Description Title Color",
            "default": "#fff"
          },
          {
            "type":"select",
            "id":"font_style",
            "label":"Font Style",
            "options":[
              {
                  "value":"font_light",
                  "label":"Font light"
              },
              {
                  "value":"font_normal",
                  "label":"Font normal"
              },
              {
                  "value":"font_bold",
                  "label":"Font bold"
              },
              {
                  "value":"font_italic",
                  "label":"Font italic"
              },
              {
                  "value":"font_italic_light",
                  "label":"Font italic light"
              },
              {
                  "value":"font_italic_bold",
                  "label":"Font italic bold"
              }
            ],
            "default":"font_normal"
          },
        {
            "type":"select",
            "id":"desc_font_style",
            "label":"Description Font Style",
            "options":[
              {
                  "value":"font_light",
                  "label":"Font light"
              },
              {
                  "value":"font_normal",
                  "label":"Font normal"
              },
              {
                  "value":"font_bold",
                  "label":"Font bold"
              },
              {
                  "value":"font_italic",
                  "label":"Font italic"
              },
              {
                  "value":"font_italic_light",
                  "label":"Font italic light"
              },
              {
                  "value":"font_italic_bold",
                  "label":"Font italic bold"
              }
            ],
            "default":"font_normal"
          },
          {
            "type": "header",
            "content": "Button settings"
          },
          {
            "type": "url",
            "id": "button-url",
            "label": "t:common.button.url"
          }, 
          {
            "type": "text",
            "id": "button-text",
            "label": "t:common.button.text",
            "default": "view more"
          },
          {
            "type":"select",
            "id":"button_size",
            "label":"Button size",
            "options":[
                {
                  "value":"button_small",
                  "label":"Small"
                },
                {
                  "value":"button_medium",
                  "label":"Medium"
                },
                {
                  "value":"button_large",
                  "label":"Large"
                },
                {
                "value":"button_xlarge",
                "label":"Extra large"
              }
            ],
            "default":"button_small"
            },
            {
            "type": "checkbox",
            "id": "button_round_off",
            "default": false,
            "label": "Button round"
          },
          {
            "type": "header",
            "content": "Button color"
          },
          {
            "type":"select",
            "id":"color_button",
            "label":"Button color",
            "options":[
              {
                  "value":"first_color",
                  "label":"First Color"
              },
              {
                  "value":"second_color",
                  "label":"Second Color"
              },
              {
                  "value":"third_color",
                  "label":"Third Color"
              },
              {
                  "value":"forth_color",
                  "label":"Forth Color"
              },
              {
                  "value":"fifth_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"background_transparent",
                  "label":"Transparent Color"
              }
            ],
            "default":"second_color"
          },
          {
          "type": "color",
          "id": "border_color",
          "label": "Button border color",
          "default": "#6F665D"
          },
          {
            "type":"select",
            "id":"button_color_hover",
            "label":"Button moseover color",
            "options":[
              {
                  "value":"button_first_color",
                  "label":"First Color"
              },
              {
                  "value":"button_second_color",
                  "label":"Second Color"
              },
              {
                  "value":"button_third_color",
                  "label":"Third Color"
              },
              {
                  "value":"button_forth_color",
                  "label":"Forth Color"
              },
              {
                  "value":"button_fifth_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"button_background_transparent",
                  "label":"Transparent Color"
              }
            ],
            "default":"button_third_color"
          },
          {
            "type":"select",
            "id":"button_text_hover",
            "label":"Button moseover color",
            "options":[
              {
                  "value":"button_first_mouseover_color",
                  "label":"First Color"
              },
              {
                  "value":"button_second_mouseover_color",
                  "label":"Second Color"
              },
              {
                  "value":"button_third_mouseover_color",
                  "label":"Third Color"
              },
              {
                  "value":"button_forth_mouseover_color",
                  "label":"Forth Color"
              },
              {
                  "value":"button_fifth_mouseover_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"button_point_mouseover_color",
                  "label":"Point Color"
              }
            ],
            "default":"button_point_mouseover_color"
          }
      ]
},
{
      "type": "sixth_block",
      "name": "Sixth Block",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
            "type": "checkbox",
            "id": "overlay_set",
            "default": true,
            "label": "Overlay cover"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "options": [
              {
                "value": "font_left",
                "label": "Left"
              },
              {
                "value": "font_right",
                "label": "Right"
              },
              {
                "value": "font_center",
                "label": "Center"
              }
            ],
            "default": "font_center"
          },
            {
            "type": "select",
            "id": "button_align",
            "label": "Button align",
            "options": [
              {
                "value": "font_left",
                "label": "Left"
              }, {
                "value": "font_right",
                "label": "Right"
              }, {
                "value": "font_center",
                "label": "Center"
              }
            ],
            "default": "font_left"
          },
           {
            "type": "header",
            "content": "Text settings"
          },
          {
                  "type": "range",
                  "id": "font_size",
                  "label": "Prodcut Font size",
                  "default":1,
                  "min": 0.1,
                  "max": 3,
                  "step": 0.1,
                  "unit": "rem"
            },
          {
                  "type": "range",
                  "id": "desc_font_size",
                  "label": "Description Font size",
                  "default":1,
                  "min": 0.1,
                  "max": 3,
                  "step": 0.1,
                  "unit": "rem"
            },
          {
            "type": "text",
            "id": "headline",
            "label": "Title",
            "default": "This is text title"
           },
          {
        "type":"text",
        "id":"description",
        "label":"Description",
        "default":"this is the description section"
         },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#fff"
          },
        {
            "type": "color",
            "id": "desc_title_color",
            "label": "Description Title Color",
            "default": "#fff"
          },
          {
            "type":"select",
            "id":"font_style",
            "label":"Font Style",
            "options":[
              {
                  "value":"font_light",
                  "label":"Font light"
              },
              {
                  "value":"font_normal",
                  "label":"Font normal"
              },
              {
                  "value":"font_bold",
                  "label":"Font bold"
              },
              {
                  "value":"font_italic",
                  "label":"Font italic"
              },
              {
                  "value":"font_italic_light",
                  "label":"Font italic light"
              },
              {
                  "value":"font_italic_bold",
                  "label":"Font italic bold"
              }
            ],
            "default":"font_normal"
          },
          {
            "type": "header",
            "content": "Button settings"
          },
          {
            "type": "url",
            "id": "button-url",
            "label": "t:common.button.url"
          }, 
          {
            "type": "text",
            "id": "button-text",
            "label": "t:common.button.text",
            "default": "view more"
          },
          {
            "type":"select",
            "id":"button_size",
            "label":"Button size",
            "options":[
                {
                  "value":"button_small",
                  "label":"Small"
                },
                {
                  "value":"button_medium",
                  "label":"Medium"
                },
                {
                  "value":"button_large",
                  "label":"Large"
                },
                {
                "value":"button_xlarge",
                "label":"Extra large"
              }
            ],
            "default":"button_small"
            },
            {
            "type": "checkbox",
            "id": "button_round_off",
            "default": false,
            "label": "Button round"
          },
          {
            "type": "header",
            "content": "Button color"
          },
          {
            "type":"select",
            "id":"color_button",
            "label":"Button color",
            "options":[
              {
                  "value":"first_color",
                  "label":"First Color"
              },
              {
                  "value":"second_color",
                  "label":"Second Color"
              },
              {
                  "value":"third_color",
                  "label":"Third Color"
              },
              {
                  "value":"forth_color",
                  "label":"Forth Color"
              },
              {
                  "value":"fifth_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"background_transparent",
                  "label":"Transparent Color"
              }
            ],
            "default":"second_color"
          },
          {
          "type": "color",
          "id": "border_color",
          "label": "Button border color",
          "default": "#6F665D"
          },
          {
            "type":"select",
            "id":"button_color_hover",
            "label":"Button moseover color",
            "options":[
              {
                  "value":"button_first_color",
                  "label":"First Color"
              },
              {
                  "value":"button_second_color",
                  "label":"Second Color"
              },
              {
                  "value":"button_third_color",
                  "label":"Third Color"
              },
              {
                  "value":"button_forth_color",
                  "label":"Forth Color"
              },
              {
                  "value":"button_fifth_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"button_background_transparent",
                  "label":"Transparent Color"
              }
            ],
            "default":"button_third_color"
          },
          {
            "type":"select",
            "id":"button_text_hover",
            "label":"Button moseover color",
            "options":[
              {
                  "value":"button_first_mouseover_color",
                  "label":"First Color"
              },
              {
                  "value":"button_second_mouseover_color",
                  "label":"Second Color"
              },
              {
                  "value":"button_third_mouseover_color",
                  "label":"Third Color"
              },
              {
                  "value":"button_forth_mouseover_color",
                  "label":"Forth Color"
              },
              {
                  "value":"button_fifth_mouseover_color",
                  "label":"Fifth Color"
              },
              {
                  "value":"button_point_mouseover_color",
                  "label":"Point Color"
              }
            ],
            "default":"button_point_mouseover_color"
          }
      ]
}
 ],
"presets": [
{
"name": "Photo Grid",
"category": "Images",
"blocks": [
          {
            "type": "first_block"
          },
          {
            "type": "second_block"
          },
          {
            "type": "third_block"
          },
          {
            "type": "forth_block"
          },
          {
            "type": "fifth_block"
          },
          {
            "type": "sixth_block"
          }
        ]
}
]
}
{%- endschema -%}
