<div class="{{section.settings.color_schema}}">
  <section class="container 2xl:w-[1440px] mx-auto body-font" {% if section.settings.animation_setting == true %} data-aos="fade-up"data-aos-duration="3000"{% endif %}>

    <div class="mx-auto" style="padding-top:{{section.settings.padding_top}}rem; padding-bottom:{{section.settings.padding_bottom}}rem;">
      <div class="mx-[1.5rem]">
        {% if section.settings.headline %}
          <h1 class="{{section.settings.title_align}} mb-[1.2rem] text-2xl lg:text-3xl font-bold tracking-wider" style="color:{{section.settings.color_title}};">
            {{ section.settings.headline }}
          </h1>
          <div class="subfont_size {{section.settings.title_align}} my-8 leading-8 tracking-wider" style="color:{{section.settings.color_sub_title}};">
            {{ section.settings.text }}
          </div>
        {% endif %}
      </div>

      <div class="flex text-center flex-col lg:flex-row justify-center">
        {% for block in section.blocks %}
          <div class="lg:flex lg:justify-center lg:items-center w-full {{section.settings.grid_style}} md:mx-2 mb-6 relative overflow-hidden">
            <div class="relative lg:rounded-sm h-[26rem] overflow-hidden w-full">
              {% if block.settings.image != blank %}
                <img sizes="
                                                                                                              (min-width: 1536px) 500px,
                                                                                                              (min-width: 1280px) 400px,
                                                                                                              (min-width: 1024px) 350px,
                                                                                                              (min-width: 768px) 350px,
                                                                                                               (min-width: 640px) 300px,
                                                                                                               500px
                                                                                                               " srcset="
                                                                                                               {{ block.settings.image | img_url: '300x' }} 300w,
                                                                                                               {{ block.settings.image | img_url: '350x' }} 350w,
                                                                                                               {{ block.settings.image | img_url: '400x' }} 400w,
                                                                                                               {{ block.settings.image | img_url: '500x' }} 500w
                                                                                                                " src="{{ block.settings.image | img_url: '500x' }}" alt="{{ block.settings.image.alt }}" loading="lazy" class="w-full h-full object-cover object-center shadow-md overflow-hidden">
                {% if block.settings.overlay_set == true %}
                  <div class="bg-gray-300 mix-blend-multiply absolute inset-0"></div>
                {% endif %}
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'w-full h-full border bg-white' }}
              {% endif %}
            </div>

            <div class="{{block.settings.textbox_color}} block lg:absolute p-[2rem] text-center lg:w-[15rem] {% if block.settings.image == blank %}lg:border{%endif%}">
              <h2 class="{{block.settings.text_align}} title-font lg:mt-0 mt-5 tracking-widest leading-relaxed " style="color:{{block.settings.color_text_box_title}}; font-size:{{block.settings.banner_title_font_size}}px;">{{block.settings.headline}}
              </h2>
              <p class="{{block.settings.text_align}} text-sm leading-relaxed mt-2 leading-6 tracking-wider" style="color:{{block.settings.color_text_area}}; font-size:{{block.settings.banner_font_size}}px;">{{block.settings.grid-text}}
              </p>

              {%- if block.settings.button-text != blank -%}
                <div class="py-6 inline-block">
                  <a href="{{block.settings.button-url}}" class="{{block.settings.color_button}} {{block.settings.button_color_hover}} text-sm md:text-base text-center outline-none transition duration-100 {{section.settings.button_size}} {% if section.settings.button_round_off == true %} button_round {% endif %}" style="border:1px solid {{block.settings.border_color}}; color:{{block.settings.border_color}};">
                    {{block.settings.button-text}}
                  </a>
                </div>
              {% endif %}

            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  </section>
</div>

{% schema %}
  {
    "name": "t:sections.image-row.name",
    "class": "shopify-section-vue",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "select",
        "id": "color_schema",
        "label": "Background color",
        "options": [
          {
            "value": "first_color",
            "label": "First Color"
          },
          {
            "value": "second_color",
            "label": "Second Color"
          },
          {
            "value": "third_color",
            "label": "Third Color"
          },
          {
            "value": "forth_color",
            "label": "Forth Color"
          }, {
            "value": "fifth_color",
            "label": "Fifth Color"
          }, {
            "value": "background_transparent",
            "label": "Transparent Color"
          }
        ],
        "default": "forth_color"
      },
      {
        "type": "select",
        "id": "grid_style",
        "label": "Grid Style",
        "options": [
          {
            "value": "width_3grid",
            "label": "Grid Style 1"
          }, {
            "value": "width_2grid",
            "label": "Grid Style 2"
          }
        ],
        "default": "width_3grid"
      },
      {
        "type": "checkbox",
        "id": "animation_setting",
        "default": false,
        "label": "Animation turn on"
      }, {
        "type": "range",
        "id": "padding_top",
        "label": "Padding Top controll",
        "default": 4,
        "min": 1,
        "max": 20,
        "step": 1,
        "unit": "rem"
      }, {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding Bottom controll",
        "default": 4,
        "min": 1,
        "max": 20,
        "step": 1,
        "unit": "rem"
      }, {
        "type": "header",
        "content": "Button",
        "info": "Setting Button size and round shape"
      }, {
        "type": "select",
        "id": "button_size",
        "label": "Button size",
        "options": [
          {
            "value": "button_small",
            "label": "Small"
          }, {
            "value": "button_medium",
            "label": "Medium"
          }, {
            "value": "button_large",
            "label": "Large"
          }, {
            "value": "button_xlarge",
            "label": "Extra large"
          }
        ],
        "default": "button_small"
      }, {
        "type": "checkbox",
        "id": "button_round_off",
        "default": false,
        "label": "Button round"
      }, {
        "type": "header",
        "content": "Title settings",
        "info": "Section title settings"
      }, {
        "type": "text",
        "id": "headline",
        "label": "t:common.headline",
        "default": "Our store"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "t:common.headline"
      }, {
        "type": "select",
        "id": "title_align",
        "label": "Title align",
        "options": [
          {
            "value": "font_left",
            "label": "Left"
          }, {
            "value": "font_right",
            "label": "Right"
          }, {
            "value": "font_center",
            "label": "Center"
          }
        ],
        "default": "font_center"
      }, {
        "type": "color",
        "id": "color_title",
        "label": "Header Text color",
        "default": "#4b4b4b"
      }, {
        "type": "color",
        "id": "color_sub_title",
        "label": "Sub text color",
        "default": "#4b4b4b"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "t:common.image",
        "limit": 6,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
          },
          {
            "type": "checkbox",
            "id": "overlay_set",
            "default": true,
            "label": "Overlay cover"
          },
          {
            "type": "select",
            "id": "textbox_color",
            "label": "Textbox color",
            "options": [
              {
                "value": "first_color",
                "label": "First Color"
              },
              {
                "value": "second_color",
                "label": "Second Color"
              },
              {
                "value": "third_color",
                "label": "Third Color"
              },
              {
                "value": "forth_color",
                "label": "Forth Color"
              }, {
                "value": "fifth_color",
                "label": "Fifth Color"
              }, {
                "value": "background_transparent",
                "label": "Transparent Color"
              }
            ],
            "default": "fifth_color"
          },
          {
            "type": "header",
            "content": "Box Content settings",
            "info": "Box contents and button settings"
          }, {
            "type": "range",
            "id": "banner_title_font_size",
            "label": "Title font size",
            "default": 24,
            "min": 20,
            "max": 60,
            "step": 1,
            "unit": "px"
          }, {
            "type": "range",
            "id": "banner_font_size",
            "label": "Banner font size",
            "default": 14,
            "min": 12,
            "max": 30,
            "step": 1,
            "unit": "px"
          }, {
            "type": "text",
            "id": "headline",
            "label": "t:common.headline",
            "default": "Title"
          }, {
            "type": "textarea",
            "id": "grid-text",
            "label": "Grid Text",
            "default": "Add customer reviews and testimonials to showcase your store’s happy customers."
          }, {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "options": [
              {
                "value": "font_left",
                "label": "Left"
              }, {
                "value": "font_right",
                "label": "Right"
              }, {
                "value": "font_center",
                "label": "Center"
              }
            ],
            "default": "font_center"
          }, {
            "type": "url",
            "id": "button-url",
            "label": "t:common.button.url"
          }, {
            "type": "text",
            "id": "button-text",
            "label": "t:common.button.text",
            "default": "view more"
          }, {
            "type": "header",
            "content": "Color settings",
            "info": "Text and button color settings"
          }, {
            "type": "select",
            "id": "color_button",
            "label": "Button color",
            "options": [
              {
                "value": "first_color",
                "label": "First Color"
              },
              {
                "value": "second_color",
                "label": "Second Color"
              },
              {
                "value": "third_color",
                "label": "Third Color"
              },
              {
                "value": "forth_color",
                "label": "Forth Color"
              }, {
                "value": "fifth_color",
                "label": "Fifth Color"
              }, {
                "value": "background_transparent",
                "label": "Transparent Color"
              }
            ],
            "default": "second_color"
          }, {
            "type": "select",
            "id": "button_color_hover",
            "label": "Button moseover color",
            "options": [
              {
                "value": "button_first_color",
                "label": "First Color"
              },
              {
                "value": "button_second_color",
                "label": "Second Color"
              },
              {
                "value": "button_third_color",
                "label": "Third Color"
              },
              {
                "value": "button_forth_color",
                "label": "Forth Color"
              }, {
                "value": "button_fifth_color",
                "label": "Fifth Color"
              }, {
                "value": "button_background_transparent",
                "label": "Transparent Color"
              }
            ],
            "default": "button_third_color"
          }, {
            "type": "color",
            "id": "border_color",
            "label": "Button border color",
            "default": "#6F665D"
          }, {
            "type": "color",
            "id": "color_text_box_title",
            "label": "Text box title color",
            "default": "#4b4b4b"
          }, {
            "type": "color",
            "id": "color_text_area",
            "label": "Text box text area color",
            "default": "#9B9191"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.image-row.name",
        "category": "Images",
        "blocks": [
          {
            "type": "image"
          }, {
            "type": "image"
          }, {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %} 