<style>
  /* Regular button */
  .tab_buttons {
    background-color: {{ section.settings.color_button}};
    color: {{ section.settings.border_color}};
    border: 1px solid{{ section.settings.border_color}};
  }

  .tab_buttons:hover {
    background-color: {{ section.settings.button_color_hover}};
    color: {{ section.settings.active_border_color}};
  }


  /* Active button */
  .tab_active {
    background-color: {{ section.settings.active_button_color }};
    color: {{ section.settings.active_border_color | color_desaturate: 50 }};
  }

</style>

{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{% assign bundle_contents = product.metafields.custom.symbol_first.value %}

<div class="{{section.settings.color_schema}}">
  <div class="xl:max-w-[1320px] m-auto overflow-hidden px-4 md:px-8"
    style="padding-top:{{section.settings.padding_top}}rem; padding-bottom:{{section.settings.padding_bottom}}rem;"
    {% if section.settings.animation_setting == true %}
    data-aos="fade-up"
    data-aos-offset="600"
    {% endif %}>

    {%- comment -%} headline {%- endcomment -%}
    <div class="md:mx-[1rem] flex flex-col md:flex-row justify-between">
      <div class="w-full Left_titlebox">

        {% if section.settings.subtitle != blank %}
          <div class="{{section.settings.title_align}} text-xs my-2 leading-8 tracking-wider" style="color:{{section.settings.color_sub_title}};">
            {{ section.settings.subtitle }}
          </div>
        {% endif %}

        {% if section.settings.headline != blank %}
          <h1 class="{{section.settings.title_align}} mb-[1.2rem] text-2xl lg:text-3xl font-bold tracking-wider" style="color:{{section.settings.color_title}};">
            {{ section.settings.headline }}
          </h1>
        {% endif %}

        <div class="subfont_size {{section.settings.title_align}} my-8 leading-8 tracking-wider" style="color:{{section.settings.color_sub_title}};">
          {{ section.settings.text }}
        </div>
      </div>
    </div>


    <div class="tab-wrapper" x-data="{ activeTab:  0 }">
      <div id="tab_selector" class="flex flex-wrap {{ section.settings.collection_button_align }} mb-6">
        {% for block in section.blocks %}

          <label
            x-on:click="activeTab = {{forloop.index0}}"
            class="tab-control px-3 py-2 mx-2 tracking-widest mx-2 tab_buttons text-center outline-none transition duration-100 {{section.settings.collection_button_size}} {% if section.settings.button_round_off == true %} button_round {% endif %}"

            :class="{ 'tab_active': activeTab === {{forloop.index0}} }">
            {% if block.settings.collection_title != blank %}
              <div class="cursor-pointer">
                {{ block.settings.collection_title }}
              </div>
            {% else %}
              <div class="cursor-pointer">
                Collection {{ forloop.index0 }}</div>
            {% endif %}
          </label>
        {% endfor %}
      </div>

      {% for block in section.blocks %}
        <div
          class="tab-panel"
          :class="{ 'tab_active': activeTab === {{forloop.index0}} }"
          style="background-color: transparent;"
          x-transition:enter="transition ease-out duration-300"
          x-transition:enter-start="opacity-0 translate-y-3"
          x-transition:enter-end="opacity-100 translate-y-0"

          x-show="activeTab === {{forloop.index0}} ">
          <div class="w-full grid grid-cols-2 {{section.settings.column_design}} gap-x-6 gap-y-5 lg:gap-y-12">
            {% assign collection = collections[block.settings.collection_featured] %}
            {% if collection != blank %}
              {% for product in collection.products limit: section.settings.collection_products_limit %}

                {% render 'layout-product', product: product 
                 show_vendor: block.settings.show_vendor
            
                 product_title_color: block.settings.product_title_color
                 product_point_color: block.settings.product_point_color
                 mouseover_image:section.settings.mouseover_image
                 point_color: section.settings.point_color
                 product_box_color: section.settings.product_box_color
                 show_symbol:section.settings.show_symbol
                 show_rating: block.settings.show_rating
                 product_font_size: block.settings.product_font_size
                 base_color: section.settings.base_color
                 quickview_title_color: section.settings.quickview_title_color
                 active_border_color: section.settings.active_border_color
                 qv_button_color_hover: section.settings.qv_button_color_hover
                 qv_color_button: section.settings.qv_color_button
                 qv_mouseover_color: section.settings.qv_mouseover_color
                 iconbox1: settings.iconbox1
                 iconbox2: settings.iconbox2
                 iconbox3: settings.iconbox3 %}
              {% endfor %}
            {% else %}
              {% for i in (1..6) %}
                <div>
                  {% capture placeholder %}product-{{ i }}{% endcapture %}
                  {{ placeholder | placeholder_svg_tag: 'w-full h-full border bg-white' }}
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="w-full mt-14 flex Right_titlebox {{ section.settings.button_align }}">
      {%- if section.settings.button-text != blank -%}
        <div class="py-2 inline-block">
          <a href="{{ section.settings.button-url }}"class="tracking-widest mx-2 tab_buttons text-center outline-none transition duration-100 {{section.settings.button_size}} {% if section.settings.button_round_off == true %} button_round {% endif %}">
            {{ section.settings.button-text }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>





<script>
  var header = document.getElementById("tab_selector");
  var btns = header.getElementsByClassName("tab-control");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("tab_active");
      current[0].className = current[0].className.replace(" tab_active", "");
      this.className += " tab_active";
    });
  }
</script>

{% schema %}
  {
    "name": "Tab Collections",
    "class": "shopify-section-vue",
    "settings": [
      {
        "type": "select",
        "id": "color_schema",
        "label": "Background color",
        "options": [
          {
            "value": "first_color",
            "label": "First Color"
          },
          {
            "value": "second_color",
            "label": "Second Color"
          },
          {
            "value": "third_color",
            "label": "Third Color"
          },
          {
            "value": "forth_color",
            "label": "Forth Color"
          }, {
            "value": "fifth_color",
            "label": "Fifth Color"
          }, {
            "value": "background_transparent",
            "label": "Transparent Color"
          }
        ],
        "default": "first_color"
      },
      {
            "type": "checkbox",
            "id": "animation_setting",
            "default": false,
            "label": "Animation turn on"
      },
      {
        "type": "checkbox",
        "id": "mouseover_image",
        "default": true,
        "label": "Show mouseover Image"
      },
      {
        "type": "checkbox",
        "id": "show_symbol",
        "default": true,
        "label": "show metafield symbol",
        "info" : "You must set metafield"
      },
      {
        "type": "header",
        "content": "Title content settings",
        "info": "Collection title text settings"
      },
      {
        "type": "text",
        "id": "headline",
        "label": "headline",
        "default": "Selected products"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "H Real Esate"
      }, {
        "type": "color",
        "id": "color_title",
        "label": "Section title color",
        "default": "#ffffff"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "text"
      }, {
        "type": "color",
        "id": "color_sub_title",
        "label": "Section Description color",
        "default": "#fafafa"
      }, {
        "type": "select",
        "id": "title_align",
        "label": "Title align",
        "options": [
          {
            "value": "font_left",
            "label": "Left"
          }, {
            "value": "font_right",
            "label": "Right"
          }, {
            "value": "font_center",
            "label": "Center"
          }
        ],
        "default": "font_center"
      }, {
        "type": "select",
        "id": "column_design",
        "label": "Column selector",
        "options": [
          {
            "value": "two_column",
            "label": "Two column"
          }, {
            "value": "three_column",
            "label": "Three column"
          }, {
            "value": "four_column",
            "label": "Four column"
          }
        ],
        "default": "three_column"
      }, {
        "type": "select",
        "id": "collection_products_limit",
        "label": "t:sections.collection.settings.max-products-to-display",
        "default": "3",
        "options": [
          {
            "value": "3",
            "label": "3 Products"
          },
          {
            "value": "4",
            "label": "4 Products"
          },
          {
            "value": "6",
            "label": "6 products"
          },
          {
            "value": "8",
            "label": "8 products"
          }, {
            "value": "9",
            "label": "9 products"
          }, {
            "value": "12",
            "label": "12 products"
          }
        ]
      }, {
        "type": "range",
        "id": "padding_top",
        "label": "Padding Top controll",
        "default": 4,
        "min": 1,
        "max": 20,
        "step": 1,
        "unit": "rem"
      }, {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding Bottom controll",
        "default": 4,
        "min": 1,
        "max": 20,
        "step": 1,
        "unit": "rem"
      }, {
        "type": "color",
        "id": "active_button_color",
        "label": "Active Button Color",
        "default": "#6F665D"
      }, {
        "type": "color",
        "id": "active_border_color",
        "label": "Active border Color",
        "default": "#fff"
      }, 
      {
        "type": "header",
        "content": "Title Button settings",
        "info": "Title button, mouseover color"
      }, 
      {
        "type": "select",
        "id": "collection_button_align",
        "label": "Collection Button align",
        "options": [
          {
            "value": "font_left",
            "label": "Left"
          }, {
            "value": "font_right",
            "label": "Right"
          }, {
            "value": "font_center",
            "label": "Center"
          }
        ],
        "default": "font_center"
      },
      {
        "type": "select",
        "id": "collection_button_size",
        "label": "Collection Button size",
        "options": [
          {
            "value": "button_small",
            "label": "Small"
          }, {
            "value": "button_medium",
            "label": "Medium"
          }, {
            "value": "button_large",
            "label": "Large"
          }, {
            "value": "button_xlarge",
            "label": "Extra large"
          }
        ],
        "default": "button_medium"
      }, {
        "type": "select",
        "id": "button_align",
        "label": "Button align",
        "options": [
          {
            "value": "font_left",
            "label": "Left"
          }, {
            "value": "font_right",
            "label": "Right"
          }, {
            "value": "font_center",
            "label": "Center"
          }
        ],
        "default": "font_center"
      }, {
        "type": "select",
        "id": "button_size",
        "label": "Button size",
        "options": [
          {
            "value": "button_small",
            "label": "Small"
          }, {
            "value": "button_medium",
            "label": "Medium"
          }, {
            "value": "button_large",
            "label": "Large"
          }, {
            "value": "button_xlarge",
            "label": "Extra large"
          }
        ],
        "default": "button_medium"
      }, {
        "type": "checkbox",
        "id": "button_round_off",
        "default": false,
        "label": "Button round"
      }, {
        "type": "url",
        "id": "button-url",
        "label": "t:common.button.url"
      }, {
        "type": "text",
        "id": "button-text",
        "label": "t:common.button.text",
        "default": "Button"
      }, {
        "type": "color",
        "id": "color_button",
        "label": "Button color",
        "default": "#6F665D"
      }, {
        "type": "color",
        "id": "button_color_hover",
        "label": "Button Mouseover",
        "default": "#6F665D"
      }, {
        "type": "color",
        "id": "border_color",
        "label": "Button border color",
        "default": "#6F665D"
      }

    ],
    "blocks": [
      {
        "type": "collection",
        "name": "collection",
        "limit": 5,
        "settings": [
          {
            "type": "header",
            "content": "Collection General Settings"
          },
          {
            "type": "collection",
            "id": "collection_featured",
            "label": "t:common.collection"
          },
          {
            "type": "text",
            "id": "collection_title",
            "label": "Collection Title"
          },
          {
            "type": "checkbox",
            "id": "show_vendor",
            "default": true,
            "label": "show vendor"
          }, {
            "type": "checkbox",
            "id": "show_rating",
            "default": true,
            "label": "show rating"
          }, {
            "type": "range",
            "id": "product_font_size",
            "label": "Prodcut Font size",
            "default": 1,
            "min": 0.1,
            "max": 3,
            "step": 0.1,
            "unit": "rem"
          }, {
            "type": "header",
            "content": "Collection product color settings",
            "info": "Setting title color, point color and badge color"
          }, {
            "type": "color",
            "id": "product_title_color",
            "label": "Product title color",
            "default": "#4b4b4b"
          }, {
            "type": "color",
            "id": "product_point_color",
            "label": "Product point color",
            "default": "#C33131"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Tab Collections",
        "category": "product",
        "blocks": [
          {
            "type": "collection"
          }, {
            "type": "collection"
          }, {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}