<div class="{{section.settings.color_schema}}">
  <div class="container mx-auto" 
    style="padding-top:{{section.settings.padding_top}}rem; padding-bottom:{{section.settings.padding_bottom}}rem;"
    {% if section.settings.animation_setting == true %} data-aos="fade-up" data-aos-duration="3000" {% endif %}>
    <div class=" mb-6 md:mb-12">

      <div class="{{section.settings.title_align}} lg:col-start-2 px-8">
        <h1 class="mb-[1.2rem] text-2xl lg:text-3xl font-bold tracking-wider" style="color:{{section.settings.color_title}};"> {{
          section.settings.headline }}</h1>
          <div class="subfont_size my-8 leading-8 tracking-wider" style="color:{{section.settings.color_text_title}};">{{ section.settings.text }}</div>
          
          {%- if section.settings.button-text != blank -%}
              <div class="py-6 inline-block">
                <a href="{{section.settings.button-url}}"
                  class="{{section.settings.color_button}} {{section.settings.button_color_hover}} text-sm md:text-base text-center outline-none transition duration-100 {% if section.settings.button_round_off == true %} button_round {% endif %} {{section.settings.button_size}}" style="border:1px solid {{section.settings.border_color}}; color:{{section.settings.border_color}};">
                  {{section.settings.button-text}}
                </a>
              </div>
          {% endif %}
      </div>

    </div>

    <div class="grid sm:grid-cols-2 lg:grid-cols-3 {{section.settings.column_design}} gap-x-7 gap-y-9 md:px-6 container 2xl:w-[1440px] mx-auto">
      {% assign collection = collections[section.settings.collection_featured] %}
  
      {% unless collection == blank %}
        {% for product in collection.products limit: section.settings.collection_products_limit %}
          {% render 'layout-product', product: product
          show_vendor:section.settings.show_vendor  
          product_title_align: section.settings.product_title_align
          product_title_color: section.settings.product_title_color
          product_point_color: section.settings.product_point_color
          point_color: section.settings.point_color
          product_box_color:section.settings.product_box_color
          show_line: section.settings.show_line
          box_border: section.settings.box_border
          product_font_size:section.settings.product_font_size
          mouseover_image:section.settings.mouseover_image
          %}
        {% endfor %}
      {% else %}
        {% for i in (1..6) %}
          <div>
            {% capture placeholder %}product-{{ i }}{% endcapture %} 
            {{ placeholder | placeholder_svg_tag: 'w-full h-full border bg-white' }}
          </div>
        {% endfor %}
      {% endunless %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collection.name",
  "class": "shopify-section-vue",
  "settings": [
  {
    "type":"select",
    "id":"color_schema",
    "label":"Background color",
    "options":[
       {
          "value":"first_color",
          "label":"First Color"
       },
       {
          "value":"second_color",
          "label":"Second Color"
       },
       {
          "value":"third_color",
          "label":"Third Color"
       },
       {
        "value":"forth_color",
        "label":"Forth Color"
      },
      {
        "value":"fifth_color",
        "label":"Fifth Color"
      },
      {
        "value":"background_transparent",
        "label":"Transparent Color"
      }
    ],
    "default":"first_color"
   },
   {
   "type": "range",
   "id": "padding_top",
   "label": "Padding Top controll",
   "default":4,
   "min": 1,
   "max": 20,
   "step": 1,
   "unit": "rem"
 },
{
   "type": "range",
   "id": "padding_bottom",
   "label": "Padding Bottom controll",
   "default":4,
   "min": 1,
   "max": 20,
   "step": 1,
   "unit": "rem"
 },
  {
  "type":"select",
  "id":"column_design",
  "label":"Column selector",
  "options":[
     {
        "value":"two_column",
        "label":"Two column"
     },
     {
        "value":"three_column",
        "label":"Three column"
     },
     {
        "value":"four_column",
        "label":"Four column"
     }
  ],
  "default":"three_column"
 },
   {
    "type": "checkbox",
    "id": "animation_setting",
    "default": false,
    "label": "Animation turn on"
    },
    {
    "type": "checkbox",
    "id": "mouseover_image",
    "default": false,
    "label": "Show mouseover Image"
    },
   {
    "type": "header",
    "content": "Title content settings",
    "info": "Collection title text settings"
    },
    {
      "type": "text",
      "id": "headline",
      "label": "headline",
      "default": "Selected products"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Section title color",
      "default": "#ffffff"
    },
    {
      "type":"richtext",
      "id":"text",
      "label":"text"
   },
   {
    "type": "color",
    "id": "color_text_title",
    "label": "Section Description color",
    "default": "#fafafa"
  },
   {
    "type":"select",
    "id":"title_align",
    "label":"Title align",
    "options":[
          {
          "value":"font_left",
          "label":"Left"
          },
          {
          "value":"font_right",
          "label":"Right"
          },
          {
          "value":"font_center",
          "label":"Center"
          }
    ],
    "default":"font_center"
    },
    {
      "type": "header",
      "content": "Title Button settings",
      "info": "Title button, mouseover color"
    },
    {
      "type":"select",
      "id":"button_size",
      "label":"Button size",
      "options":[
         {
            "value":"button_small",
            "label":"Small"
         },
         {
            "value":"button_medium",
            "label":"Medium"
         },
         {
            "value":"button_large",
            "label":"Large"
         },
         {
          "value":"button_xlarge",
          "label":"Extra large"
        }
      ],
      "default":"button_medium"
     },
     {
      "type": "checkbox",
      "id": "button_round_off",
      "default": false,
      "label": "Button round"
    },   
    {
      "type": "url",
      "id": "button-url",
      "label": "t:common.button.url"
      },
      {
      "type": "text",
      "id": "button-text",
      "label": "t:common.button.text",
      "default": "view more"
      },
      {
        "type":"select",
        "id":"color_button",
        "label":"Button color",
        "options":[
           {
              "value":"first_color",
              "label":"First Color"
           },
           {
              "value":"second_color",
              "label":"Second Color"
           },
           {
              "value":"third_color",
              "label":"Third Color"
           },
           {
              "value":"forth_color",
              "label":"Forth Color"
           },
           {
              "value":"fifth_color",
              "label":"Fifth Color"
           },
           {
              "value":"background_transparent",
              "label":"Transparent Color"
           }
        ],
        "default":"background_transparent"
      },
      {
        "type":"select",
        "id":"button_color_hover",
        "label":"Button moseover color",
        "options":[
           {
              "value":"button_first_color",
              "label":"First Color"
           },
           {
              "value":"button_second_color",
              "label":"Second Color"
           },
           {
              "value":"button_third_color",
              "label":"Third Color"
           },
           {
              "value":"button_forth_color",
              "label":"Forth Color"
           },
           {
              "value":"button_fifth_color",
              "label":"Fifth Color"
           },
           {
              "value":"button_background_transparent",
              "label":"Transparent Color"
           }
        ],
        "default":"button_third_color"
      },
      {
      "type": "color",
      "id": "border_color",
      "label": "Button border color",
      "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "Collection settings",
        "info": "Collection product settings"
      },
      {
        "type": "collection",
        "id": "collection_featured",
        "label": "t:common.collection"
      },
      {
        "type": "range",
        "id": "product_font_size",
        "label": "Prodcut Font size",
        "default":1,
        "min": 0.1,
        "max": 3,
        "step": 0.1,
        "unit": "rem"
      },
      {
        "type": "select",
        "id": "collection_products_limit",
        "label": "t:sections.collection.settings.max-products-to-display",
        "default": "3",
        "options": [
          {
            "value": "3",
            "label": "3 Products"
          },
          {
            "value": "6",
            "label": "6 products"
          },
          {
            "value": "9",
            "label": "9 products"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "default": true,
        "label": "show vendor"
      },
      {
        "type": "checkbox",
        "id": "show_line",
        "default": false,
        "label": "Show the box line"
      },
      {
        "type": "color",
        "id": "box_border",
        "label": "Box border color",
        "default": "#1878B9"
      },
      {
        "type":"select",
        "id":"product_box_color",
        "label":"Product box color",
        "options":[
           {
              "value":"first_color",
              "label":"First Color"
           },
           {
              "value":"second_color",
              "label":"Second Color"
           },
           {
              "value":"third_color",
              "label":"Third Color"
           },
           {
            "value":"forth_color",
            "label":"Forth Color"
          },
          {
            "value":"fifth_color",
            "label":"Fifth Color"
          },
          {
            "value":"background_transparent",
            "label":"Transparent Color"
          }
        ],
        "default":"forth_color"
       },
    {
      "type":"select",
      "id":"product_title_align",
      "label":"product title align",
      "options":[
         {
            "value":"font_left",
            "label":"Left"
         },
         {
            "value":"font_right",
            "label":"Right"
         },
         {
            "value":"font_center",
            "label":"Center"
         }
      ],
      "default":"font_center"
     },
     {
      "type": "color",
      "id": "product_title_color",
      "label": "Product title color",
      "default": "#4b4b4b"
    },
    {
      "type": "color",
      "id":"product_point_color",
      "label": "Product point color",
      "default": "#C33131"
    },
    {
      "type": "color",
      "id": "point_color",
      "label": "Product Badge color",
      "default": "#F9E7D3"
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection.name",
      "category": "Collection"
    }
  ]
}
{% endschema %}