<div class="{{section.settings.color_schema}}">
  <section class="body-font" {% if section.settings.animation_setting == true %} data-aos="fade-up" data-aos-duration="3000" {% endif %}>
    <div class="container 2xl:w-[1440px] mx-auto flex px-5 {{section.settings.img_array}} flex-col items-center"
    style="padding-top:{{section.settings.padding_top}}rem; padding-bottom:{{section.settings.padding_bottom}}rem;"  
    >
      <div class="lg:flex-grow lg:w-1/2 lg:p-[3rem] flex flex-col mb-10 {{section.settings.title_align}}">
        <h1 class="title-font sm:text-3xl text-3xl mb-4 font-medium text-gray-900 tracking-wider" style="color:{{section.settings.header_color}};">  {{ section.settings.headline }}</h1>
        <div class="subfont_size mb-8 leading-relaxed leading-9 tracking-wider" style="color:{{section.settings.description_color}};">{{ section.settings.text }}</div>
        <div class="flex w-full justify-center">
          <div class="relative w-full">

            {% form 'customer', class: 'w-full' %}
            {% if form.errors %}
              {% capture error_text %}
                {{ form.errors | default_errors }}
              {% endcapture%}
      
              {% render 'layout-message',
                type: 'error'
                text: error_text
                class: 'mb-8'
              %}
            {% endif %}
      
              <input type="hidden" name="contact[tags]" value="newsletter">
      
             <div class="flex {{section.settings.title_align}}">
              <div class="flex flex-col sm:flex-row w-full {% if section.settings.image_hide == true %}lg:w-1/2{% endif %}">
                <input
                  type="email"
                  placeholder="Email"
                  name="contact[email]"
                  value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                  class="flex-1 border px-3 py-2"
                  style="border: 1px solid {{section.settings.border_color}};"
                  required
                >

                
              <button
                class="{% if section.settings.button_round_off == true %} button_round {% endif %} {{section.settings.color_button}} {{section.settings.button_color_hover}} mt-4 sm:mt-0 sm:mx-2 text-sm md:text-base text-center outline-none transition duration-100 px-10 py-2" 
                style="border:1px solid {{section.settings.border_color}}; color:{{section.settings.point_color}};">
                {{ 'action.subscribe' | t }}
              </button>  

              </div>
             </div>
             {% if form.posted_successfully? %}
              <span class="mx-2 mt-2 text-sm text-gray-400 tracking-wider" style="color: {{section.settings.point_color}};"> ** Success! Check your email!</span>
            {% endif %}
            </div>
          {% endform %}
        
        </div>
      </div>
      <div class="lg:max-w-lg w-full lg:w-1/2 {% if section.settings.image_hide == true %}image_hide{% endif %}">
        {%- if section.settings.image != blank -%}
        <img src="{{section.settings.image | img_url: 'large' }}" alt="{{block.settings.image.alt}}" loading="lazy" class="shadow-sm object-cover object-center w-full h-[27rem]">
        {%else%}
        {{ 'image' | placeholder_svg_tag: 'wiper-lazy w-full h-[27rem] object-cover object-center bg-white' }}
        {%endif%}
      </div>
    </div>
  </section>
</div>




{% schema %}
{
  "name": "t:sections.newsletter.name",
  "settings": [
  {
    "type":"select",
    "id":"color_schema",
    "label":"Background color",
    "options":[
       {
          "value":"first_color",
          "label":"First Color"
       },
       {
          "value":"second_color",
          "label":"Second Color"
       },
       {
          "value":"third_color",
          "label":"Third Color"
       },
       {
        "value":"forth_color",
        "label":"Forth Color"
      },
      {
        "value":"fifth_color",
        "label":"Fifth Color"
      },
      {
        "value":"background_transparent",
        "label":"Transparent Color"
      }
    ],
    "default":"third_color"
   },
   {
   "type": "range",
   "id": "padding_top",
   "label": "Padding Top controll",
   "default":4,
   "min": 1,
   "max": 20,
   "step": 1,
   "unit": "rem"
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "label": "Padding Bottom controll",
    "default":4,
    "min": 1,
    "max": 20,
    "step": 1,
    "unit": "rem"
  },
   {
    "type": "header",
    "content": "Image settings",
    "info": "Setting Image on and off and Image position."
  },
  {
    "type": "image_picker",
    "id": "image",
    "label": "t:common.image"
  },
  {
    "type": "checkbox",
    "id": "image_hide",
    "default": false,
    "label": "Image hide"
  },
  {
    "type": "checkbox",
    "id": "animation_setting",
    "default": false,
    "label": "Animation turn on"
  },
  {
    "type":"select",
    "id":"img_array",
    "label":"Image location",
    "options":[
       {
          "value":"left_img",
          "label":"Left"
       },
       {
          "value":"right_img",
          "label":"Right"
       }
    ],
    "default":"left_img"
},
{
  "type": "header",
  "content": "Text box settings",
  "info": "Setting News letter textbox and color"
},
  {
      "type": "text",
      "id": "headline",
      "label": "t:common.headline",
      "default": "Our newsletter"
  },
  {
      "type": "richtext",
      "id": "text",
      "label": "t:common.text"
  },
  {
    "type": "color",
    "id": "header_color",
    "label": "Header color",
    "default": "#7B4747"
  },
  {
    "type": "color",
    "id": "description_color",
    "label": "Description color",
    "default": "#A76A6A"
  },
  {
    "type":"select",
    "id":"title_align",
    "label":"Textbox title align",
    "options":[
       {
          "value":"font_left",
          "label":"Left"
       },
       {
          "value":"font_right",
          "label":"Right"
       },
       {
          "value":"font_center",
          "label":"Center"
       }
    ],
    "default":"font_left"
   },
   {
    "type": "header",
    "content": "NewLetter Button",
    "info": "Setting News Letter Button Color"
  },
  {
    "type": "checkbox",
    "id": "button_round_off",
    "default": false,
    "label": "Button round"
  }, 
   {
    "type":"select",
    "id":"color_button",
    "label":"Button color",
    "options":[
       {
          "value":"first_color",
          "label":"First Color"
       },
       {
          "value":"second_color",
          "label":"Second Color"
       },
       {
          "value":"third_color",
          "label":"Third Color"
       },
       {
          "value":"forth_color",
          "label":"Forth Color"
       },
       {
          "value":"fifth_color",
          "label":"Fifth Color"
       },
       {
          "value":"background_transparent",
          "label":"Transparent Color"
       }
    ],
    "default":"second_color"
  },
  {
    "type":"select",
    "id":"button_color_hover",
    "label":"Button moseover color",
    "options":[
       {
          "value":"button_first_color",
          "label":"First Color"
       },
       {
          "value":"button_second_color",
          "label":"Second Color"
       },
       {
          "value":"button_third_color",
          "label":"Third Color"
       },
       {
          "value":"button_forth_color",
          "label":"Forth Color"
       },
       {
          "value":"button_fifth_color",
          "label":"Fifth Color"
       },
       {
          "value":"button_background_transparent",
          "label":"Transparent Color"
       }
    ],
    "default":"button_third_color"
  },
  {
  "type": "color",
  "id": "border_color",
  "label": "Border color",
  "default": "#6F665D"
  },
  {
    "type": "color",
    "id": "point_color",
    "label": "Point color",
    "default": "#6F665D"
  }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.name",
      "category": "Forms"
    }
  ]
}
{% endschema %}