{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'drop_down.css' | asset_url | stylesheet_tag }}
<style>
  .options-container::-webkit-scrollbar {
    width: 8px;
    background: {{ section.settings.point_color | color_modify: 'alpha', 0.7 }};
  }

  .options-container::-webkit-scrollbar-thumb {
    background: {{ section.settings.point_color }};
  }

  .featured_product_arrow_color{
    width: 50px;
    height:50px;
    color: {{ section.settings.arrow_icons }};
    background: {{ section.settings.button_background }};
    border: 1px solid {{ section.settings.arrow_border }};
    transition: 0.5s;
    border-radius:999px;
  }

  .featured_product_arrow_color:hover{
  width: 50px;
  height:50px;
  color:{{ section.settings.arrow_icons_mouseover }};
  background:{{ section.settings.button_bg_mouseover }};
  border: 1px solid {{ section.settings.arrow_border_mouseover }};
  border-radius:999px;
  }
  

  .modal-selector-product {
    display: block;
    width: 100%;
    font-size: 1em;
    padding: 0.8rem 0.5rem !important;
    border-bottom: 1px solid {{ section.settings.point_color }};
    font-family: inherit;
    /** for the dropdown indicator */
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
    margin-top: 1rem;
    background-color:transparent;
    color:{{ section.settings.base_color }};
}

</style>



{% if product == empty %}
  {%- assign section_onboarding = true -%}
{% endif %}

<div class="{{section.settings.color_schema}}">

  <div class="page-width" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ block.id }}" data-section-id="{{ block.id }}" {% if section.settings.animation_setting == true %} data-aos="fade-up" data-aos-offset="650" {% endif %}>
    <meta itemprop="name" content="{{ product.title }}">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">


    <div class="max-w-[1320px] m-auto overflow-hidden px-4 md:px-8" style="padding-top:{{section.settings.padding_top}}rem; padding-bottom:{{section.settings.padding_bottom}}rem;">
      
      <div class="md:mx-[1rem] flex flex-col {{section.settings.text_align}}">
          <div class="Left_titlebox">
            {% if section.settings.subtitle != blank %}
                <span class="text-xs my-9 leading-8 tracking-wider" style="color:{{section.settings.color_sub_title}};">
                  {{section.settings.subtitle}}
                </span>
              {% endif %}
              {% if section.settings.headline != blank %}
                <h1 class="mb-[1.2rem] text-2xl lg:text-3xl font-bold tracking-wider" style="color:{{section.settings.color_title}};">
                  {{ section.settings.headline }}
                </h1>
              {% endif %}
                <div class="subfont_size my-8 leading-8 tracking-wider" style="color:{{section.settings.color_sub_title}};">
                  {{ section.settings.text }}
                 </div>  
            </div>
      </div>
      

      <div class="swiper featuredSwiper">
        <div class="flex justify-between ml-8 mr-4">
            <div class="flex">
                  <div class="swiper-featured-pagination" style="display:flex; justify-content:center; align-items:center;"></div>
            </div>
            <div class="flex mb-8">
                  <div class="featured-swiper-button-prev p-3 mr-2 featured_product_arrow_color">
                      &#10229;
                  </div>

                  <div class="featured-swiper-button-next p-3 featured_product_arrow_color">
                      &#10230;
                  </div> 
            </div>
          </div>
          
                  <div class="swiper-wrapper">
                  {% for block in section.blocks %}

                  {% assign product = all_products[block.settings.featured_product] %}
                  {% assign selected_variant = product.selected_or_first_available_variant %}

                  <div class="swiper-slide">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">

                                    <!-- left prodcut media -->
                                    <div class="product--medias">
                                    <!-- product image  -->
                                    <div class="block overflow-hidden">
                                          <div class="productSwiper">
                                          <div class="swiper-wrapper">
                                          {% if product.media != blank %}
                                                {% for media in product.media %}
                                                <div class="swiper-slide">
                                                <div class="h-100 overflow-hidden p-2">
                                                      {%render 'product-media', media: media%}
                                                </div>
                                                </div>
                                                {% endfor %}
                                          {% else %}
                                                {{ 'product-1' | placeholder_svg_tag: 'w-full h-full border bg-white' }}
                                          {%endif%}
                                          </div>
                                          </div>
                                    </div>

                                    <!-- small slider  -->
                                    <div>
                                          <div thumbsSlider="" class="productSwiper2 overflow-hidden">
                                          <div class="swiper-wrapper ">
                                          {% if product.media != blank %}
                                                {% for media in product.media %}
                                                <div class="swiper-slide" style="cursor:pointer;">
                                                <div class="h-100 overflow-hidden p-2">
                                                      {%render 'product-media', media: media%}
                                                </div>
                                                </div>
                                                {% endfor %}
                                          {% else %}
                                                {{ 'product-1' | placeholder_svg_tag: 'swiper-slide h-100 overflow-hidden p-2 mt-2 border bg-white' }}
                                                {{ 'product-2' | placeholder_svg_tag: 'swiper-slide h-100 overflow-hidden p-2 mt-2 border bg-white' }}
                                                {{ 'product-3' | placeholder_svg_tag: 'swiper-slide h-100 overflow-hidden p-2 mt-2 border bg-white' }}
                                                {{ 'product-4' | placeholder_svg_tag: 'swiper-slide h-100 overflow-hidden p-2 mt-2 border bg-white' }}
                                          {% endif %}
                                          </div>
                                          <div class="swiper-pagination_product m-auto" style="width: fit-content;"></div>
                                          </div>
                                    </div>
                                    </div>

                                    <!-- product imformation -->
                                    <div class="product--information px-[1rem]">
                                      
                                    {% unless section_onboarding %}
                                          {%- assign compare_at_price = selected_variant.compare_at_price -%}
                                          {%- assign price = selected_variant.price -%}
                                          {%- assign price_varies = selected_variant.price_varies -%}
                                          {%- assign available = selected_variant.available -%}
                                          {%- assign compare_at_price = 19.99 -%}
                                          {%- assign price = 19.99 -%}
                                          {%- assign price_varies = false -%}
                                          {%- assign available = true -%}
                                    {% endunless %}

                                    <!-- product vendor -->
                                    {% if section.settings.show_vendor %}
                                          {% if product.media != blank %}
                                          <div class="mb-3">
                                          <span itemprop="brand" class="text-sm" style="color:{{section.settings.base_color}};">{{ product.vendor }}
                                          </span>
                                          </div>
                                          {% else %}
                                          <span itemprop="brand" class="text-sm text-gray-500">product vendor</span>
                                          {%endif%}
                                    {% endif %}

                                    <!-- product title -->
                                    <div class="my-3" style="color: {{section.settings.title_color}};">
                                          {% if product.media != blank %}
                                          <div itemprop="name" class="flex items-center text-3xl font-bold">
                                                {% if section.settings.show_icon == true %}
                                                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-7 h-7 mr-2">
                                                            <path strokeLinecap="round" strokeLinejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                                            <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                                      </svg>
                                                {%endif%}
                                                {{ product.title }}
                                          </div>
                                          {% else %}
                                          <div itemprop="name" class="text-3xl font-bold uppercase">product title</div>
                                          {%endif%}
                                    </div>

                                     {%- comment -%} product rating {%- endcomment -%}

                                     {% liquid
                                     assign rating_decimal = 0
                                     assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                                     if decimal >= 0.3 and decimal <= 0.7
                                       assign rating_decimal = 0.5
                                     elsif decimal > 0.7
                                       assign rating_decimal = 1
                                     endif
                                   %}
                                     <div class="flex items-center mb-5" style="color:{{section.settings.base_color}};">
                                       {% if product.metafields.reviews.rating_count > 0 %}
                                       <div class="rating" role="img" aria-label="{{ 'star review' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
                                         <span aria-hidden="true" class="rating-star" 
                                         style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }};
                                         --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; 
                                         --rating-decimal: {{ rating_decimal }};">
                                         </span>
                                       </div>
                                       <p class="rating-text caption">
                                         <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
                                       </p>
                                       <p class="rating-count caption">
                                         <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                                         <!-- <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} total reviews</span> -->
                                       </p>
                                         {%else%}
                                         <div class="rating" role="img" aria-label="{{ 'star review' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
                                           <span aria-hidden="true" class="no-rating" 
                                           style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }};
                                           --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; 
                                           --rating-decimal: {{ rating_decimal }};">
                                           </span>
                                         </div>
                                         <p class="rating-count caption">
                                           <span aria-hidden="true">(0)</span>
                                         </p>
                                       {% endif %}
                                     </div>

                                    <!-- product offer block -->
                                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                                          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

                                        <!-- product price -->
                                        {% if section.settings.show_product_price%}
                                        <div class="my-3" id="price-{{block.id}}">

                                          {% if product.media != blank %}
                                            <span class="text-lg line-through" style="color:{{section.settings.base_color}};">
                                              {{selected_variant.compare_at_price | money}}
                                            </span>
                                            <span class="text-2xl font-bold ml-2 text-gray-500" style="color: {{section.settings.point_color}};">
                                              {{selected_variant.price | money}}
                                            </span>
                                          {% else %}
                                            <span class="text-lg text-gray-500 line-through">
                                              19.99
                                            </span>
                                            <span class="text-2xl font-bold ml-2 text-gray-500">
                                              9.99
                                            </span>
                                           {% endif %}

                                          <!-- price Sale bedge -->
                                          {% if selected_variant.price < selected_variant.compare_at_price %}
                                            <span class="px-5 py-1 text-sm font-bold bg-red-500 rounded-full text-white mx-4">Sale</span>
                                          {% endif %}
                                        </div>
                                        {%endif%}

                                          <!-- when product available -->
                                          {% if selected_variant != blank %}
                                          <form method="post" action="/cart/add" id="product-form" data-productid="{{product.id}}" accept-charset="UTF-8" class="shopify-product-form" enctype="multipart/form-data" novalidate="novalidate">
                                          <input type="hidden" name='id' value="{{selected_variant.id}}" data-productid="{{product.id}}">
                                          
                                        
                                          <!-- product quantity selector -->
                                            
                                          <div class="my-3">
                                                {% if section.settings.show_quantity_selector %}
                                                <div class="product-form__item product-form__item--quantity">
                                                <div class="flex flex-col items-start gap-2">
                                                      <div class="qty">
                                                      <div class="qty_control">
                                                      <label for="Quantity-{{ block.id }}" style="font-size: 0.8rem; color:{{section.settings.base_color}};">Quantity
                                                      </label>
                                                      <div class="qtycard bg-white px-2">
                                                            <span class="btnqty qtyminus icon icon-minus">-</span>
                                                            <input type="text" id="Quantity-{{ block.id }}" name="quantity" value="1" min="1" class="quantity-selector quantity-input" readonly="" style="background-color:transparent;">
                                                            <span class="btnqty qtyplus icon icon-plus">+</span>
                                                      </div>
                                                      </div>
                                                      </div>
                                                </div>
                                                </div>
                                                {% endif %}
                                          </div>
                                          

                                          <!-- product Metafild Box -->
                                            {%  if block.settings.custom_text1 != blank or block.settings.custombox1 != blank  %}
                                          <div class="flex items-center py-1" style="color:{{section.settings.base_color}};">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                                </svg>
                                                 {{block.settings.custombox1}} :
                                                <p class="mx-2 text-sm">
                                                {{ block.settings.custom_text1}}
                                                </p>
                                          </div>
                                              {%  endif %}

                                          <!-- product availability -->
                                          <div class="inventoryWrapper py-1" id="variantStock-{{block.id}}" style="color:{{section.settings.base_color}};">
                                            {% if selected_variant.inventory_quantity > 31 and selected_variant.inventory_management == 'shopify' %}
                                              <div class="flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                                </svg>
                                                Availability :
                                                <p class="mx-2 text-sm">
                                                  Available
                                                
                                                </p>
                                              </div>
                                            {%- elsif selected_variant.inventory_quantity > 0 and selected_variant.inventory_management == 'shopify' -%}
                                                <div class="flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                                </svg>
                                                Availability:
                                                <p class="mx-2 text-sm">
                                                  Available
                                                </p>
                                                </div>
                                            {%- else -%}
                                              <div class="flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2">
                                                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                                </svg>
                                                Availability:
                                                <p class="mx-2 text-sm text-red-500">
                                                  Unavailable
                                                </p>
                                                 
                                                
                                              </div>
                                            {% endif %}
                                            <script>
                                              {% for variant in product.variants %}
                                                variantStock[{{- variant.id -}}] = {{ variant.inventory_quantity }};
                                              {% endfor %}
                                            </script>
                                          </div>
                                          
                                          <!-- product Metafild Box -->
                                          {%  if block.settings.custom_text2 != blank or block.settings.custombox2 != blank  %}
                                          <div class="flex items-center py-1" style="color:{{section.settings.base_color}};">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                                </svg>
                                                {{block.settings.custombox2}} :
                                                <p class="mx-2 text-sm">
                                                {{ block.settings.custom_text2 }}
                                                </p>
                                          </div>
                                          {%  endif %}
    

                                          <!-- product Metafild Box -->
                                             {%  if block.settings.custom_text3 != blank or block.settings.custombox3 != blank  %}
                                          <div class="flex items-center py-1" style="color:{{section.settings.base_color}};">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                                </svg>
                                                {{block.settings.custombox3}} :
                                                <p class="mx-2 text-sm">
                                                {{ block.settings.custom_text3 }}
                                                </p>
                                          </div>
                                           {%  endif %}

                                        {% if section.settings.date_setting == true %}
                                          <div class="py-4" style="color:{{section.settings.base_color}};">
                                              <p class="line-item-property__field" >
                                              <label class="block" for="available_date" style="font-size:0.8rem; color:{{section.settings.base_color}};">Available Date</label>
                                              <input class="border-none focus:outline-none" required class="w-1/2" id="available_date" type="date" name="properties[Available Date]" style="background:transparent; border-bottom: 1px solid {{section.settings.point_color}}; height:2rem;">
                                              </p>
                                          </div>
                                        {%  endif %}

                                            
                                        {% if section.settings.time_setting == true %}
                                          <div class="py-4" style="color:{{section.settings.base_color}};">
                                              <p class="line-item-property__field">
                                              <label class="block" for="available_time" style="font-size:0.8rem; color:{{section.settings.base_color}};">Choose a time for your meeting:</label>

                                              <input class="border-none focus:outline-none" type="time" id="available_time" name="properties[Available Time]" style="background:transparent; border-bottom: 1px solid {{section.settings.point_color}}; height:2rem;"
                                                    min="09:00" max="18:00" required>
                                              </p>
                                          </div>
                                        {%  endif %}

                                            
                                          <!-- product variant -->
                                          <div class="my-3">
                                            {% unless product.has_only_default_variant %}
                                            <select id="variant-select" class="modal-selector-product appearance-none focus:outline-none border-none" name="id">
                                              {% for variant in product.variants %}
                                                  {% if variant.available %}
                                                      <option value="{{variant.id}}" 
                                                          {% if variant == product.selected_or_first_available_variant %} selected {%endif %}>
                                                          {{ variant.title }}
                                                      </option>
                                                  {% else %}
                                                      <option class="hidden" value="{{variant.id}}" disabled="disabled">{{ variant.title }} - sold out!</option>
                                                  {% endif %}
                                              {% endfor %}
                                          </select>

                                          
                                            {% endunless %}                             
                                          </div>

                                          <div class="py-4">
                                              <p class="line-item-property__field">
                                              <label class="px-2 block" for="custom-message" style="color:{{section.settings.base_color}};">Customer Note </label>
                                              <textarea class="w-full appearance-none focus:outline-none border-none bg-transparent"
                                                        id="custom-message" name="properties[Custom message]"
                                                        style="border-bottom: 1px solid {{section.settings.point_color}};"></textarea>
                                              </p>
                                          </div>
                                          
                                          <div class="flex">
                                          <div class="w-full lg:w-1/2 flex flex-col md:flex-row text-xs justify-center items-center py-2 bg-white mb-4 px-2 mr-4"
                                                style="border: 1px solid {{section.settings.point_color}};">
                                          {%- render 'button-wishlist', product: product -%}
                                          <p style="color:{{section.settings.point_color}};" class="pt-3 md:py-0 px-4 text-center">ADD MY WISH LIST</p>
                                          </div>
                                          <!-- social sharing -->
                                          <div class="w-full lg:w-1/2 flex flex-col md:flex-row text-xs justify-center items-center py-2 bg-white mb-4 px-2"
                                                style="border: 1px solid {{section.settings.point_color}};">
                                          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product, icon_color:section.settings.point_color %} 
                                          <p style="color:{{section.settings.point_color}};" class="pt-3 md:py-0 px-4 text-center">SOCIAL SHAREING</p>
                                          </div>
                                          </div>

                                          <!-- product button -->
                                          <div class="my-3">
                                                <button class="{{section.settings.color_button}} {{section.settings.button_color_hover}} w-full text-sm md:text-base text-center outline-none transition duration-100 py-3 px-3" 
                                                        type="submit" name="add" id="AddToCart-{{ block.id }}" 
                                                        {% unless selected_variant.available %}disabled="disabled"{% endunless %}
                                                        
                                                style="border:1px solid {{section.settings.border_color}}; color:{{section.settings.border_color}};">
                                                <span id="AddToCartText-{{ block.id }}">
                                                {% unless selected_variant.available %}
                                                      Sold Out
                                                {% else %}
                                                      Add to cart
                                                {% endunless %}
                                                </span>
                                                </button>
                                          </div>
                                         </form>

                                          <!-- when product is empty -->
                                          {% else %}
                                          <div class="my-3">
                                          {% if block.settings.show_quantity_selector %}
                                                <div class="product-form__item product-form__item--quantity">
                                                <div class="flex flex-col items-start gap-2">
                                                <div class="qty">
                                                      <div class="qty_control">
                                                      <label class="text-sm" for="Quantity-{{ block.id }}">Quantity
                                                      </label>
                                                      <div class="qtycard px-2">
                                                      <span class="btnqty qtyminus icon icon-minus">-</span>
                                                      <input type="text" id="Quantity-{{ block.id }}" name="quantity" value="1" min="1" class="quantity-selector quantity-input" readonly="">
                                                      <span class="btnqty qtyplus icon icon-plus">+</span>
                                                      </div>
                                                      </div>
                                                </div>
                                                </div>
                                                </div>
                                          {% endif %}
                                          </div>
                                          <p style="color:{{section.settings.base_color}};">
                                            Please setting your featured prodcuts first, the attributes will show this area
                                          </p>

                                          <!-- product button -->
                                          <div class="my-3">
                                          <button class="{{section.settings.color_button}} {{section.settings.button_color_hover}} w-full text-sm md:text-base text-center outline-none transition duration-100 py-3 px-3" type="submit" name="add" id="AddToCart-{{ block.id }}" {% unless selected_variant.available %}disabled="disabled"{% endunless %} 
                                                style="border:1px solid {{section.settings.border_color}}; color:{{section.settings.border_color}};">                                                
                                                <span id="AddToCartText-{{ block.id }}">
                                                {% unless selected_variant.available %}
                                                Sold Out
                                                {% else %}
                                                Add to cart
                                                {% endunless %}
                                                </span>
                                          </button>
                                          </div>

                                          {% endif %}
                                    </div>

                                    <!-- product view details button -->
                                    <div class="text-right my-6 px-2" style="color: {{section.settings.point_color}};">
                                          {% unless product == empty %}
                                          <a class="underline font-medium text-lg" href="{{product.url}}">view details</a>
                                          {% endunless %}
                                    </div>


                                    </div>
                        </div>
                  </div>
                  {%endfor%} 
                  </div>
      </div>
      
    </div>
  </div>
</div>




{% schema %}
  {
    "name": "Featured product Slider",
    "class": "index-section index-section--featured-product",
    "settings": [
      {
        "type": "header",
        "content": "Title settings",
        "info": "Section title settings"
      },
      {
      "type":"select",
      "id":"text_align",
      "label":"Text align",
      "options":[
        {
            "value":"font_left",
            "label":"Left"
        },
        {
            "value":"font_right",
            "label":"Right"
        },
        {
            "value":"font_center",
            "label":"Center"
        }
      ],
      "default":"font_center"
    },
      {
        "type": "text",
        "id": "headline",
        "label": "t:common.headline",
        "default": "Our store"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "H Real Esate"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "t:common.headline"
      },
      {
        "type": "color",
        "id": "color_title",
        "label": "Header Text color",
        "default": "#4b4b4b"
      }, {
        "type": "color",
        "id": "color_sub_title",
        "label": "Sub text color",
        "default": "#4b4b4b"
      },
      {
        "type": "checkbox",
        "id": "animation_setting",
        "default": false,
        "label": "Animation turn on"
      },
      {
        "type": "checkbox",
        "id": "show_product_price",
        "label": "Show Product Price",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_icon",
        "default": true,
        "label": "Title Icon"
      },
      {
        "type": "checkbox",
        "id": "date_setting",
        "default": false,
        "label": "Show date Input"
      },
      {
        "type": "checkbox",
        "id": "time_setting",
        "default": false,
        "label": "Show time Input"
      },
      {
        "type": "header",
        "content": "Color settings",
        "info": "Setting Product Text and Box color settings"
      },
      {
        "type": "select",
        "id": "color_schema",
        "label": "Background color",
        "options": [
          {
            "value": "first_color",
            "label": "First Color"
          },
          {
            "value": "second_color",
            "label": "Second Color"
          },
          {
            "value": "third_color",
            "label": "Third Color"
          },
          {
            "value": "forth_color",
            "label": "Forth Color"
          }, {
            "value": "fifth_color",
            "label": "Fifth Color"
          }, {
            "value": "background_transparent",
            "label": "Transparent Color"
          }
        ],
        "default": "fifth_color"
      }, {
        "type": "range",
        "id": "padding_top",
        "label": "Padding Top controll",
        "default": 4,
        "min": 1,
        "max": 20,
        "step": 1,
        "unit": "rem"
      }, {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding Bottom controll",
        "default": 4,
        "min": 1,
        "max": 20,
        "step": 1,
        "unit": "rem"
      },
      {
        "type": "header",
        "content": "Default Button Colors",
        "info": "Choose your color for Buttons, Dropdown Selectors"
      },
      {
        "type": "select",
        "id": "dropdown_color",
        "label": "Dropdown color",
        "options": [
          {
            "value": "first_color",
            "label": "First Color"
          },
          {
            "value": "second_color",
            "label": "Second Color"
          },
          {
            "value": "third_color",
            "label": "Third Color"
          },
          {
            "value": "forth_color",
            "label": "Forth Color"
          }, {
            "value": "fifth_color",
            "label": "Fifth Color"
          }, {
            "value": "background_transparent",
            "label": "Transparent Color"
          }
        ],
        "default": "forth_color"
      }, {
        "type": "select",
        "id": "hover_schema",
        "label": "Dropbox mouse over",
        "options": [
          {
            "value": "nav_color_first",
            "label": "First Color"
          },
          {
            "value": "nav_color_second",
            "label": "Second Color"
          },
          {
            "value": "nav_color_third",
            "label": "Third Color"
          },
          {
            "value": "nav_color_forth",
            "label": "Forth Color"
          }, {
            "value": "nav_color_fifth",
            "label": "Fifth Color"
          }
        ],
        "default": "nav_color_third"
      },
      {
        "type": "header",
        "content": "Arrow Buttons",
        "info": "Slide Show Arrow Button Settings"
      },
      {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "#fafafa"
      },
      {
            "type": "color",
            "id": "arrow_icons",
            "label": "Arrow Icon color",
            "default": "#BAA098"
      },
      {
            "type": "color",
            "id": "arrow_border",
            "label": "Arrow box line",
            "default": "#BAA098"
      },
      {
        "type": "header",
        "content": "Arrow mouseover"
      },
      {
            "type": "color",
            "id": "button_bg_mouseover",
            "label": "Button background",
            "default": "#fafafa"
      },
      {
            "type": "color",
            "id": "arrow_icons_mouseover",
            "label": "Arrow Icon color",
            "default": "#BAA098"
      },
      {
            "type": "color",
            "id": "arrow_border_mouseover",
            "label": "Arrow box line",
            "default": "#BAA098"
      },
      {
        "type": "header",
        "content": "Product Button settings",
        "info": "Setting Featured prodcut button"
      },
      {
        "type": "select",
        "id": "color_button",
        "label": "Button color",
        "options": [
          {
            "value": "first_color",
            "label": "First Color"
          },
          {
            "value": "second_color",
            "label": "Second Color"
          },
          {
            "value": "third_color",
            "label": "Third Color"
          },
          {
            "value": "forth_color",
            "label": "Forth Color"
          }, {
            "value": "fifth_color",
            "label": "Fifth Color"
          }, {
            "value": "background_transparent",
            "label": "Transparent Color"
          }
        ],
        "default": "second_color"
      }, {
        "type": "select",
        "id": "button_color_hover",
        "label": "Button moseover color",
        "options": [
          {
            "value": "button_first_color",
            "label": "First Color"
          },
          {
            "value": "button_second_color",
            "label": "Second Color"
          },
          {
            "value": "button_third_color",
            "label": "Third Color"
          },
          {
            "value": "button_forth_color",
            "label": "Forth Color"
          }, {
            "value": "button_fifth_color",
            "label": "Fifth Color"
          }, {
            "value": "button_background_transparent",
            "label": "Transparent Color"
          }
        ],
        "default": "button_third_color"
      }, {
        "type": "color",
        "id": "border_color",
        "label": "Button border color",
        "default": "#6F665D"
      },
      {
        "type": "header",
        "content": "Product Color settings",
        "info": "Choose your color for product Title, Texts, and Symbols"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Product Title color",
        "default": "#6F665D"
      }, {
        "type": "color",
        "id": "base_color",
        "label": "Main text Text color",
        "default": "#926D5A"
      }, {
        "type": "color",
        "id": "point_color",
        "label": "Point color",
        "default": "#4b4b4b"
      }
    ],
    "blocks":[
      {
        "type":"column",
        "name":"t:common.image",
        "limit":4,
        "settings":[
      {
        "type": "header",
        "content": "Product settings",
        "info": "Setting Featured product"
      },
      {
        "type": "product",
        "id": "featured_product",
        "label": "Product"
      },
      {
        "type": "header",
        "content": "Custom Box Field settings",
        "info": "Setting Your Custom Information for Featured Products"
      },
      {
        "type": "header",
        "content": "Textbox 1"
      },
      {
        "type": "text",
        "id": "custombox1",
        "label": "Title",
        "default": "Price"
      },
      {
         "type": "text",
         "id":"custom_text1",
         "label": "Custom Textbox"
      },
      {
        "type": "header",
        "content": "Textbox 2"
      },
      {
        "type": "text",
        "id": "custombox2",
        "label": "Title",
        "default": "Type"
      },
      {
         "type": "text",
         "id":"custom_text2",
         "label": "Custom Textbox"
      },
       {
        "type": "header",
        "content": "Textbox 3"
      },
      {
        "type": "text",
        "id": "custombox3",
        "label": "Title",
        "default": "Size"
      },
      {
         "type": "text",
         "id":"custom_text3",
         "label": "Custom Textbox"
      }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured product Slider",
        "category": "Product",
        "blocks": [
          {
            "type": "column"
          }, {
            "type": "column"
          }, {
            "type": "column"
          }
        ]
      }
    ]
  }
{% endschema %} 