<div class="{{section.settings.color_schema}}" style="padding-top:{{section.settings.padding_top}}rem; padding-bottom:{{section.settings.padding_bottom}}rem;">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto" {% if section.settings.animation_setting == true %} data-aos="fade-up" data-aos-duration="3000" {% endif %}>
        <!-- text - start -->
        <div class="mx-[2rem]">
          {% if section.settings.headline %}
          <h1 class="{{section.settings.title_align}} mb-[1.2rem] text-2xl lg:text-3xl font-bold tracking-wider" style="color:{{section.settings.color_title}};">
            {{ section.settings.headline }}
          </h1>
          <div class="subfont_size {{section.settings.title_align}} my-8 leading-8 tracking-wider" style="color:{{section.settings.color_sub_title}};">
            {{ section.settings.text }}
          </div>
          {% endif %}
        </div>
        <!-- text - end -->
        <div class="flex flex-col max-w-[1440px] px-5 mx-auto" data-section-id="{{ section.id }}">
          <!-- question - start -->
          {% for block in section.blocks %}
          {% assign link_handle = section.id | replace: '-', '_' %}
            <div class="" x-data="{ {{ link_handle }}: false }" style="border-bottom: 1px solid {{section.settings.point_color}};">
              <div class="flex justify-between text-black hover:text-indigo-500 cursor-pointer gap-2 py-4"  x-on:click="{{ link_handle }} = ! {{ link_handle }}">
                <span class="md:text-lg" style="color:{{block.settings.dropdown_title}};">{{block.settings.faq_title}}</span>

                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="color: {{section.settings.point_color}};">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                  </svg>
                  
                </span>
              </div>

              <p
              style="color:{{block.settings.dropdown_text}};"
              x-cloak 
              x-transition:enter="transition ease-out duration-300"
              x-transition:enter-start="opacity-0 translate-y-3"
              x-transition:enter-end="opacity-100 translate-y-0"
              x-transition:leave="transition ease-out duration-300"
              x-transition:leave-start="opacity-100 translate-y-0"
              x-transition:leave-end="opacity-0 translate-y-3" 
              class="text-gray-500 my-4" 
              x-show="{{ link_handle }}"  
              x-on:click.away="{{ link_handle }} = false">
              {{block.settings.faq_text}}</p>
            </div>
          {% endfor %}
          <!-- question - end -->
        </div>
      </div>
    </div>


    {% schema %}
    {
      "name": "Dropdown box",
      "class": "shopify-section-vue",
      "settings":[
      {
        "type":"select",
        "id":"color_schema",
        "label":"Background color",
        "options":[
           {
              "value":"first_color",
              "label":"First Color"
           },
           {
              "value":"second_color",
              "label":"Second Color"
           },
           {
              "value":"third_color",
              "label":"Third Color"
           },
           {
            "value":"forth_color",
            "label":"Forth Color"
          },
          {
            "value":"fifth_color",
            "label":"Fifth Color"
          },
          {
            "value":"background_transparent",
            "label":"Transparent Color"
          }
        ],
        "default":"forth_color"
        },
        {
          "type": "range",
          "id": "padding_top",
          "label": "Padding Top controll",
          "default":4,
          "min": 1,
          "max": 20,
          "step": 1,
          "unit": "rem"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "label": "Padding Bottom controll",
          "default":4,
          "min": 1,
          "max": 20,
          "step": 1,
          "unit": "rem"
        },
        {
          "type": "checkbox",
          "id": "animation_setting",
          "default": false,
          "label": "Animation turn on"
          },
        {
          "type":"select",
          "id":"title_align",
          "label":"Title align",
          "options":[
             {
                "value":"font_left",
                "label":"Left"
             },
             {
                "value":"font_right",
                "label":"Right"
             },
             {
                "value":"font_center",
                "label":"Center"
             }
          ],
          "default":"font_center"
        },
        {
          "type":"text",
          "id":"headline",
          "label":"t:common.headline",
          "default":"Frequently asked questions"
        },
        {
          "type":"richtext",
          "id":"text",
          "label":"t:common.headline"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Header Text color",
          "default": "#A76561"
        },
        {
          "type": "color",
          "id": "color_sub_title",
          "label": "Sub text color",
          "default": "#C99794"
        },
        {
          "type": "color",
          "id": "point_color",
          "label": "Point color",
          "default": "#C87D89"
        }
      ],

      "blocks": [
        {
          "type": "dropbox",
          "name": "faq",
          "limit": 8,
          "settings": [
            {
              "type": "text",
              "id": "faq_title",
              "label": "faq title",
              "default": "This is dropdown title"
            },
            {
              "type": "textarea",
              "id": "faq_text",
              "label": "faq textarea",
              "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos hic praesentium recusandae dolores odio animi deleniti officia cum itaque."
            },
            {
              "type": "color",
              "id": "dropdown_title",
              "label": "Dropdown Title color",
              "default": "#A76561"
            },
            {
              "type": "color",
              "id": "dropdown_text",
              "label": "Dropdown Text color",
              "default": "#A76561"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Dropdown Text Box",
          "category": "dropbox",
          "blocks": [
            {
              "type": "dropbox"
            },
            {
              "type": "dropbox"
            },
            {
              "type": "dropbox"
            }
          ]
        }
      ]
    }
    {% endschema %}