<div class="{{section.settings.color_schema}}" style="padding-top:{{section.settings.padding_top}}rem; padding-bottom:{{section.settings.padding_bottom}}rem;">
  <section class="container 2xl:w-[1440px] mx-auto body-font" {% if section.settings.animation_setting == true %} data-aos="fade-up" data-aos-duration="3000" {% endif %}>

    <div class="mx-auto">
      <div class="px-6 {{section.settings.title_align}}">
        {% if section.settings.headline %}
        <h1 class="mb-[1.2rem] text-2xl lg:text-3xl font-bold tracking-wider" style="color:{{section.settings.color_title}};">
          {{ section.settings.headline }}
        </h1>
        <div class="subfont_size mb-6 leading-8 tracking-wider" style="color:{{section.settings.color_text_title}};">
          {{ section.settings.text }}
        </div>
        {% endif %}
      </div>
    
      <div class="hidden md:grid {{ section.settings.grid_style }}">
        {% for block in section.blocks %}
        <div class="md:grid w-full md:p-3 mb-6 sm:mb-6 relative lg:flex-col mt-4">
              {% if section.settings.image_onboarding == true %}
              <div class="lg:rounded-sm h-[25rem] 2xl:h-[25rem] overflow-hidden w-full" {{ block.shopify_attributes }}>
                  {% if block.settings.image != blank %}
                  <img
                    sizes="
                    (min-width: 1280px) 1500px,
                    (min-width: 1024px) 1250px,
                    (min-width: 768px) 1000px,
                    (min-width: 640px) 720px,
                    600px
                  " srcset="
                    {{ block.settings.image | img_url: '600x' }} 600w,
                    {{ block.settings.image | img_url: '720x' }} 720w,
                    {{ block.settings.image | img_url: '1000x' }} 1000w,
                    {{ block.settings.image | img_url: '1250x' }} 1250w,
                    {{ block.settings.image | img_url: '1500x' }} 1500w
                  "
                    src="{{ block.settings.image | img_url: '500x' }}"
                    alt="{{ block.settings.image.alt }}"
                    loading="lazy"
                    class="w-full h-full object-cover object-center {% if block.settings.image_round == true %} rounded-t-full {% endif %}"
                  >
                  {% else %}
                  {{ 'image' | placeholder_svg_tag: 'w-full h-full bg-white' }}
                {% endif %}
              </div>
              {% endif %} 
              <div class="block p-[1rem] {{block.settings.color_box_schema}} {{block.settings.textbox_title_align}} w-full overflow-hidden" style="height:16rem;">
                <h2 class="text-xl font-medium title-font mt-5 tracking-wider mx-3" style="color:{{block.settings.grid_header_color_title}};">{{block.settings.headline}}</h2>
                <div class="text-sm leading-relaxed my-4 leading-8 tracking-wider mx-3" style="color:{{block.settings.grid_color_title}};">{{block.settings.grid-text}}</div>
                {%- if block.settings.button-text != blank -%}
                    <div class="py-6 inline-block">
                      <a href="{{block.settings.button-url}}"
                        class="{% if section.settings.button_round_off == true %} button_round {% endif %} {{section.settings.button_size}} {{block.settings.color_button}} {{block.settings.button_color_hover}} mx-3 text-sm md:text-base text-center outline-none transition duration-100" style="border:1px solid {{block.settings.border_color}}; color:{{block.settings.border_color}};">
                        {{block.settings.button-text}}
                      </a>
                    </div>     
                {% endif %}
              </div>
          </div>
        {% endfor %}
      </div>
      
      <div class="md:hidden">
         <div class="collectionSwiper column_mySwiper overflow-hidden">
            <div class="swiper-wrapper">
               {% for block in section.blocks %}
               <div class="swiper-slide lg:flex lg:justify-center lg:items-center w-full md:p-3 mb-6 sm:mb-6 relative lg:flex-col">
                    {% if section.settings.image_onboarding == true %}
                    <div class="lg:rounded-sm h-[25rem] 2xl:h-[25rem] overflow-hidden w-full" {{ block.shopify_attributes }}>
                        {% if block.settings.image != blank %}
                        <img
                          sizes="
                          (min-width: 1280px) 1500px,
                          (min-width: 1024px) 1250px,
                          (min-width: 768px) 1000px,
                          (min-width: 640px) 720px,
                          600px
                        " srcset="
                          {{ block.settings.image | img_url: '600x' }} 600w,
                          {{ block.settings.image | img_url: '720x' }} 720w,
                          {{ block.settings.image | img_url: '1000x' }} 1000w,
                          {{ block.settings.image | img_url: '1250x' }} 1250w,
                          {{ block.settings.image | img_url: '1500x' }} 1500w
                        "
                          src="{{ block.settings.image | img_url: '500x' }}"
                          alt="{{ block.settings.image.alt }}"
                          loading="lazy"
                          class="w-full h-full object-cover object-center {% if block.settings.image_round == true %} rounded-t-full {% endif %}"
                        >
                        {% else %}
                        {{ 'image' | placeholder_svg_tag: 'w-full h-full bg-white' }}
                      {% endif %}
                    </div>
                    {% endif %} 
                    <div class="block p-[1rem] text-center {{block.settings.color_box_schema}} {{block.settings.textbox_title_align}} ">
                      <h2 class="text-xl font-medium title-font mt-5 tracking-wider mx-6" style="color:{{block.settings.grid_header_color_title}};">{{block.settings.headline}}</h2>
                      <div class="text-sm leading-relaxed mt-2 leading-8 tracking-wider mx-6" style="color:{{block.settings.grid_color_title}};">{{block.settings.grid-text}}</div>
                      {%- if block.settings.button-text != blank -%}
                          <div class="py-10 inline-block">
                            <a href="{{block.settings.button-url}}"
                              class="{% if section.settings.button_round_off == true %} button_round {% endif %} {{section.settings.button_size}} {{block.settings.color_button}} {{block.settings.button_color_hover}} mx-3 text-sm md:text-base text-center outline-none transition duration-100" style="border:1px solid {{block.settings.border_color}}; color:{{block.settings.border_color}};">
                              {{block.settings.button-text}}
                            </a>
                          </div>     
                      {% endif %}
                    </div>
                </div>
              {% endfor %}
            </div>

            <div class="flex justify-between relative bottom-[160px] px-3 z-50 ">
               <div class="column_prev_button"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 arrow_color">
                 <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
               </svg>
               </div>
               <div class="column_next_button"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 arrow_color">
                 <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
               </svg>
               </div>
            </div>
            <div class="column_mySwiper_pagination relative flex justify-center" style="bottom:30px;"></div>
         </div>
      </div>
    
    </div>
  
  </section>
</div>

{% schema %}
{
  "name":"3 column",
  "class":"shopify-section-vue",
  "settings":[
  {
   "type":"select",
   "id":"color_schema",
   "label":"Background color",
   "options":[
      {
         "value":"first_color",
         "label":"First Color"
      },
      {
         "value":"second_color",
         "label":"Second Color"
      },
      {
         "value":"third_color",
         "label":"Third Color"
      },
      {
       "value":"forth_color",
       "label":"Forth Color"
     },
     {
       "value":"fifth_color",
       "label":"Fifth Color"
     },
     {
       "value":"background_transparent",
       "label":"Transparent Color"
     }
   ],
   "default":"third_color"
  },
   {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top controll",
      "default":4,
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "rem"
   },
   {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom controll",
      "default":4,
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "rem"
   },
     {
        "type":"text",
        "id":"headline",
        "label":"t:common.headline",
        "default":"Our store"
     },
     {
      "type":"richtext",
      "id":"text",
      "label":"t:common.headline"
    },
    {
      "type": "checkbox",
      "id": "image_onboarding",
      "default": true,
      "label": "Image show up"
    },
    {
      "type": "checkbox",
      "id": "animation_setting",
      "default": false,
      "label": "Animation turn on"
   },
   {
      "type": "header",
      "content": "Button settings",
      "info": "Setting button size."
   },
   {
      "type":"select",
      "id":"button_size",
      "label":"Button size",
      "options":[
         {
            "value":"button_small",
            "label":"Small"
         },
         {
            "value":"button_medium",
            "label":"Medium"
         },
         {
            "value":"button_large",
            "label":"Large"
         },
         {
          "value":"button_xlarge",
          "label":"Extra large"
        }
      ],
      "default":"button_medium"
     },
     {
      "type": "checkbox",
      "id": "button_round_off",
      "default": false,
      "label": "Button round"
    },   
   {
      "type": "header",
      "content": "Title settings",
      "info": "Setting grid type and title settings"
   },
    {
      "type":"select",
      "id":"grid_style",
      "label":"Grid Style",
      "options":[
         {
            "value":"two_column",
            "label":"Grid Style 1"
         },
         {
            "value":"three_column",
            "label":"Grid Style 2"
         }
      ],
      "default":"three_column"
     },
     {
      "type":"select",
      "id":"title_align",
      "label":"Title align",
      "options":[
            {
            "value":"font_left",
            "label":"Left"
            },
            {
            "value":"font_right",
            "label":"Right"
            },
            {
            "value":"font_center",
            "label":"Center"
            }
      ],
      "default":"font_center"
      },
      {
        "type": "color",
        "id": "color_title",
        "label": "Section title color",
        "default": "#4b4b4b"
      },
      {
        "type": "color",
        "id": "color_text_title",
        "label": "Section Description color",
        "default": "#4b4b4b"
      }
  ],
  "blocks":[
     {
        "type":"image",
        "name":"t:common.image",
        "limit":6,
        "settings":[
        {
         "type": "header",
         "content": "Block Image settings",
         "info": "setting block image"
         },
           {
              "type":"image_picker",
              "id":"image",
              "label":"t:common.image"
           },
           {
            "type": "checkbox",
            "id": "image_round",
            "default": false,
            "label": "Image Round Top"
          },
          {
            "type": "header",
            "content": "Text Box settings",
            "info": "setting block text contents"
          },
           {
              "type":"text",
              "id":"headline",
              "label":"t:common.headline",
              "default":"Title"
           },
           {
              "type":"richtext",
              "id":"grid-text",
              "label":"Grid Text"
           },
           {
            "type":"select",
            "id":"textbox_title_align",
            "label":"Textbox title align",
            "options":[
               {
                  "value":"font_left",
                  "label":"Left"
               },
               {
                  "value":"font_right",
                  "label":"Right"
               },
               {
                  "value":"font_center",
                  "label":"Center"
               }
            ],
            "default":"font_center"
           },
          {
            "type":"select",
            "id":"color_box_schema",
            "label":"Text Box color",
            "options":[
               {
                  "value":"first_color",
                  "label":"First Color"
               },
               {
                  "value":"second_color",
                  "label":"Second Color"
               },
               {
                  "value":"third_color",
                  "label":"Third Color"
               },
               {
                "value":"forth_color",
                "label":"Forth Color"
              },
              {
                "value":"fifth_color",
                "label":"Fifth Color"
              },
              {
                "value":"background_transparent",
                "label":"Transparent Color"
              }
            ],
            "default":"fifth_color"
           },
           {
            "type": "color",
            "id": "grid_header_color_title",
            "label": "Grid title color",
            "default": "#4b4b4b"
          },
          {
            "type": "color",
            "id": "grid_color_title",
            "label": "Grid Description color",
            "default": "#4b4b4b"
          },
          {
            "type": "header",
            "content": "Button settings",
            "info": "setting buttons color and mouseover"
          },
           {
            "type": "url",
            "id": "button-url",
            "label": "t:common.button.url"
            },
            {
            "type": "text",
            "id": "button-text",
            "label": "t:common.button.text",
            "default": "Button"
            },
            {
              "type":"select",
              "id":"color_button",
              "label":"Button color",
              "options":[
                 {
                    "value":"first_color",
                    "label":"First Color"
                 },
                 {
                    "value":"second_color",
                    "label":"Second Color"
                 },
                 {
                    "value":"third_color",
                    "label":"Third Color"
                 },
                 {
                    "value":"forth_color",
                    "label":"Forth Color"
                 },
                 {
                    "value":"fifth_color",
                    "label":"Fifth Color"
                 },
                 {
                    "value":"background_transparent",
                    "label":"Transparent Color"
                 }
              ],
              "default":"second_color"
            },
            {
              "type":"select",
              "id":"button_color_hover",
              "label":"Button moseover color",
              "options":[
                 {
                    "value":"button_first_color",
                    "label":"First Color"
                 },
                 {
                    "value":"button_second_color",
                    "label":"Second Color"
                 },
                 {
                    "value":"button_third_color",
                    "label":"Third Color"
                 },
                 {
                    "value":"button_forth_color",
                    "label":"Forth Color"
                 },
                 {
                    "value":"button_fifth_color",
                    "label":"Fifth Color"
                 },
                 {
                    "value":"button_background_transparent",
                    "label":"Transparent Color"
                 }
              ],
              "default":"button_third_color"
            },
            {
            "type": "color",
            "id": "border_color",
            "label": "Button border color",
            "default": "#6F665D"
            }
        ]
     }
  ],
  "presets":[
     {
        "name":"3 column image",
        "category":"Images",
        "blocks":[
           {
              "type":"image"
           },
           {
              "type":"image"
           },
           {
              "type":"image"
           }
        ]
     }
  ]
}
{% endschema %}