<div class="max-w-screen-2xl m-auto py-16 md:py-48" style="padding-top:{{ section.settings.padding_top }}rem; padding-bottom:{{ section.settings.padding_bottom }}rem;" {% if section.settings.animation_setting == true %}
  data-aos="fade-in"data-aos-duration="3000"data-aos-duration="1500"{% endif %}>
  <div class="mt-10 sm:mt-0">
    <h1 class="text-center text-2xl mt-6 customer_title_color">
      Reset Password
    </h1>
    <div class="mt-5 md:mt-0 md:col-span-2">
      {% form 'reset_customer_password', class: 'max-w-4xl mx-auto' %}

        {%- if form.errors -%}
          <div class="px-4 py-5 sm:p-6 text-center">
            <h2 class="form__message text-2xl py-4 customer_title_color" tabindex="-1" autofocus>
              Please check your form again
            </h2>
            <ul>
              {%- for field in form.errors -%}
                <li class="flex customer_point_color py-2 justify-center">
                  {%- if field == 'form' -%}
                    {{ form.errors.messages[field] }}
                  {%- else -%}

                    {{ form.errors.translated_fields[field] | capitalize }}
                    {{ form.errors.messages[field] }}
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}

        <div class="overflow-hidden">
          <div class="px-4 py-5 sm:p-6">
            <div class="w-full md:w-1/2 m-auto">

              <!-- new password -->
              <div class="mt-3">
                <label for="password" class="block text-lg uppercase font-medium customer_text_color mt-2 px-2">
                  new password</label>
                <input type="password" name="customer[password]" id="password" autocomplete="current-password" placeholder="Password" class="mt-1 focus:outline-none customer_border_color block w-full sm:text-sm" aria-required="true" {% if form.errors contains 'password' %}aria-invalid="true"aria-describedby="password-error"{% endif %}placeholder="{{ 'customer.register.password' | t }}">
                {%- if form.errors contains 'password' -%}
                  <span id="password-error" class="form__message customer_point_color">
                    {{ form.errors.translated_fields['password'] | capitalize }}
                    {{ form.errors.messages['password'] }}
                    .
                  </span>
                {%- endif -%}
              </div>

              <!-- password confirmation -->
              <div class="mt-3">
                <label for="password_confirmation" class="block text-lg uppercase customer_text_color mt-8 px-2">password comfirmation</label>
                <input type="password" name="customer[password_confirmation]" id="password_confirmation" autocomplete="current-password" placeholder="Password Confirmation" class="mt-1 focus:outline-none customer_border_color block w-full sm:text-sm " aria-required="true" {% if form.errors contains 'password' %}aria-invalid="true"aria-describedby="password-error"{% endif %}placeholder="{{ 'customer.register.password' | t }}">
                {%- if form.errors contains 'password' -%}
                  <span id="password-error" class="form__message customer_point_color">
                    {{ form.errors.translated_fields['password'] | capitalize }}
                    {{ form.errors.messages['password'] }}
                    .
                  </span>
                {%- endif -%}
              </div>

            </div>
          </div>
          <div class="flex justify-center px-10 py-5 text-right sm:px-6">
            <input type="submit" value="Reset Password" class="block text-sm md:text-base text-center px-8 py-3 customer_button_color customer_button_border cursor-pointer">
          </div>
        </div>
      {% endform %}
    </div>
  </div>
</div>
{% schema %}
{
  "settings": [
    {
      "type": "checkbox",
      "id": "animation_setting",
      "default": true,
      "label": "Animation turn on"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top controll",
      "default": 15,
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom controll",
      "default": 4,
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "rem"
    }
  ]
}
{% endschema %} 