<style>
  .symbol_font{
    font-size: 7px;
    font-weight: bold;
  }

  .tab_active{
    background-color: {{section.settings.active_button_color }};
    color:{{section.settings.active_border_color | color_desaturate: 50 }};
  }

    .symbol_font{
    font-size: 7px;
    font-weight: bold;
  }
  .shopify-payment-button__more-options {
  visibility: visible !important;
  text-decoration: underline;
  background-color: none;
  color: {{ section.settings.base_color }};
}

.button-shopify-buy-it-now .shopify-payment-button__button {
  background:{{ section.settings.base_color }};
}

.button-shopify-buy-it-now .shopify-payment-button__button:hover{
  background:{{ section.settings.point_color }};
}

.options-container::-webkit-scrollbar{
      width: 8px;
      background: {{ section.settings.point_color | color_modify: 'alpha', 0.7 }};
}

.options-container::-webkit-scrollbar-thumb{
      background: {{ section.settings.point_color }};
}

.product_box .gallery-filter .filter-item{
	color: {{ section.settings.tab_color }};
	font-size: 18px;
	text-transform: uppercase;
	display: inline-block;
	margin:0 10px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	line-height: 1.2;
	transition: all 0.3s ease;
}
.product_box .gallery-filter .filter-item.active{
	color: {{ section.settings.tab_active }};
	border-color :{{ section.settings.tab_active }};
}

.customBox p{
  font-size: .875rem !important;
}

.radio_title{
  background-color: {{section.settings.primary_color}};
  color:{{section.settings.primary_font_color}};
  padding: 0.4rem 1rem;
  border-radius: 9999px;
  border: 2px solid {{section.settings.active_button_color}};
}

input[type="radio"]:checked+.radio_title{
  background-color: {{section.settings.active_button_color}};
  color:{{section.settings.active_font_color}};
  border: 2px solid {{section.settings.active_button_color}};
}

.tab_buttons{
      background-color: {{section.settings.color_button}};
      color:{{section.settings.border_color}}; 
      border: 1px solid {{section.settings.border_color}};
}
.tab_buttons:hover{
      background-color: {{section.settings.button_color_hover}};
      color:{{section.settings.active_border_color}}; 
}
.tab_active{
  background-color: {{section.settings.active_button_color }};
  color:{{section.settings.active_border_color | color_desaturate: 50 }};
}


.button_font{
  border:1px solid {{section.settings.qv_border_color}}!important; 
  color:{{section.settings.qv_border_color}}!important;
}
.button_font:hover{
  border:1px solid {{section.settings.qv_border_color}}!important; 
  color:{{section.settings.qv_mouseover_color}}!important; 
  
}

</style>
{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{% comment %}
  Shopify Wishlist
  Usage:
    - Create a new page in the Shopify admin
      - Admin > Online store > Pages > Add page
    - Set the new page's template to: 'page.wishlist'
    - Do NOT remove the `grid-wishlist` attribute
  
  Notes:
  - The grid will be populated with product cards using Javascript
  - Any content inside of the `[grid-wishlist]` element will be completely replaced by the product cards
  
  Tip:
  - Place a loading element inside the `[grid-wishlist]` element and it will automatically be removed once the product cards have loaded
  - Add any liquid code before/after the grid element
{% endcomment %}


<div class="max-w-[1320px] m-auto overflow-hidden px-4 md:px-8"
    style="padding-top:{{section.settings.padding_top}}rem; padding-bottom:{{section.settings.padding_bottom}}rem;">

   <div class="wishlist__grid grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10" grid-wishlist>
    
  {% comment %} Sample loading element {% endcomment %}
  <p class="wishlist__loader full-width text-center py-16">Loading...</p>
</div> 
</div>



{% schema %}
{
  "name": "wishlist",
  "tag": "div",
  "class": "wishlist__grid",
  "settings":[
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top controll",
      "default":4,
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "rem"
      },
      {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom controll",
      "default":4,
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "rem"
    },
    {
      "type": "color",
      "id": "active_button_color",
      "label": "Secondary Color",
      "info":" Promotion badge, dropdown filter buttons, filter buttons, and sale badges",
      "default": "#6F665D"
    },
    {
      "type": "color",
      "id": "active_border_color",
      "label": "Secondary Font Color",
      "info":" Secondary box font colors",
      "default": "#fff"
    }
  ]
  
}
{% endschema %}